---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/orzkxlxlq59d/webhooks/16ypL3XjNK6oreLPPoVBxI/health
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 77866d951c84220392c5b35ca6a395a7
      X-Iinfo:
      - 14-93413063-93413107 NNNN CT(135 275 0) RT(1506466048542 361) q(0 0 4 0) r(63
        63) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sys": {
            "id": "16ypL3XjNK6oreLPPoVBxI",
            "type": "Webhook",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "orzkxlxlq59d"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "WebhookDefinition",
                "id": "16ypL3XjNK6oreLPPoVBxI"
              }
            }
          },
          "calls": {
            "total": 2,
            "healthy": 2
          }
        }
  recorded_at: Tue, 26 Sep 2017 22:47:35 GMT
recorded_with: VCR 3.0.3
