---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/0agypmo1waov
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"52487c7acbb13bc23d9868ed9a4cf707"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - c0e-1764378616
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"0agypmo1waov",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "createdAt":"2015-05-11T09:32:08Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "updatedAt":"2015-05-11T09:32:08Z"
          },
          "name":"yolo"
        }

  recorded_at: Mon, 11 May 2015 09:40:04 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/0agypmo1waov/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fb29adcfd8a4e48f0e0e5d6b262d5429"'
      X-Contentful-Request-Id:
      - content-api:1kn9yCbv2mIEewkWMQKwem
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "YOLO",
              "fields": [
                {
                  "name": "Name",
                  "id": "name",
                  "type": "Symbol",
                  "localized": true
                },
                {
                  "name": "YOLO",
                  "id": "yolo",
                  "type": "Text",
                  "localized": true
                }
              ],
              "displayField": "name",
              "sys": {
                "id": "5U4xpaLDQ4S8MCGMCC6yCa",
                "type": "ContentType",
                "createdAt": "2015-05-11T09:33:00.154Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4FLrUHftHW3v2BLi9fzfjU"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "0agypmo1waov"
                  }
                },
                "firstPublishedAt": "2015-05-11T09:33:58.032Z",
                "publishedCounter": 2,
                "publishedAt": "2015-05-11T09:35:45.788Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4FLrUHftHW3v2BLi9fzfjU"
                  }
                },
                "publishedVersion": 4,
                "version": 5,
                "updatedAt": "2015-05-11T09:35:45.841Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4FLrUHftHW3v2BLi9fzfjU"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Mon, 11 May 2015 09:40:06 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/0agypmo1waov/environments/master/entries/5cMXsmSd5So6iggWi268eG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"846472b82ccf83274a4b6ac82ed664f6"'
      X-Contentful-Request-Id:
      - content-api:5uem7drI9aSMkuiWaukUW4
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "5cMXsmSd5So6iggWi268eG",
            "type": "Entry",
            "createdAt": "2015-05-11T09:34:57.142Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "0agypmo1waov"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5U4xpaLDQ4S8MCGMCC6yCa"
              }
            },
            "firstPublishedAt": "2015-05-11T09:35:18.493Z",
            "publishedCounter": 2,
            "publishedAt": "2015-05-11T09:36:47.715Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "publishedVersion": 29,
            "version": 30,
            "updatedAt": "2015-05-11T09:36:47.769Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          },
          "fields": {
            "name": {
              "en-US": "test1",
              "de-DE": "mein Name"
            },
            "yolo": {
              "en-US": "some text",
              "de-DE": "etwas Text"
            }
          }
        }
  recorded_at: Mon, 11 May 2015 09:40:07 GMT
recorded_with: VCR 2.9.3
