---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/0agypmo1waov
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"52487c7acbb13bc23d9868ed9a4cf707"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9f3-1509367163
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"0agypmo1waov",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "createdAt":"2015-05-11T09:32:08Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "updatedAt":"2015-05-11T09:32:08Z"
          },
          "name":"yolo"
        }

  recorded_at: Wed, 03 Jun 2015 08:52:33 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/0agypmo1waov/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fb29adcfd8a4e48f0e0e5d6b262d5429"'
      X-Contentful-Request-Id:
      - content-api:1k6pkFRMt8G4Ikyuo8eGac
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "YOLO",
              "fields": [
                {
                  "name": "Name",
                  "id": "name",
                  "type": "Symbol",
                  "localized": true
                },
                {
                  "name": "YOLO",
                  "id": "yolo",
                  "type": "Text",
                  "localized": true
                }
              ],
              "displayField": "name",
              "sys": {
                "id": "5U4xpaLDQ4S8MCGMCC6yCa",
                "type": "ContentType",
                "createdAt": "2015-05-11T09:33:00.154Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4FLrUHftHW3v2BLi9fzfjU"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "0agypmo1waov"
                  }
                },
                "firstPublishedAt": "2015-05-11T09:33:58.032Z",
                "publishedCounter": 2,
                "publishedAt": "2015-05-11T09:35:45.788Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4FLrUHftHW3v2BLi9fzfjU"
                  }
                },
                "publishedVersion": 4,
                "version": 5,
                "updatedAt": "2015-05-11T09:35:45.841Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4FLrUHftHW3v2BLi9fzfjU"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Wed, 03 Jun 2015 08:52:34 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/0agypmo1waov/environments/master/entries/4epXENbO8wsaOukgqquYcI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e17d82f46ddbbadc241012daf9d2bfd1"'
      X-Contentful-Request-Id:
      - content-api:6R5YWaDb3yG60uyEaYsm40
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "test2"
            },
            "yolo": {
              "en-US": "test"
            }
          },
          "sys": {
            "id": "4epXENbO8wsaOukgqquYcI",
            "type": "Entry",
            "createdAt": "2015-05-11T09:36:57.750Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "0agypmo1waov"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5U4xpaLDQ4S8MCGMCC6yCa"
              }
            },
            "firstPublishedAt": "2015-05-11T09:37:09.215Z",
            "publishedCounter": 1,
            "publishedAt": "2015-05-11T09:37:09.215Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            },
            "publishedVersion": 7,
            "version": 11,
            "updatedAt": "2015-06-03T08:33:56.334Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4FLrUHftHW3v2BLi9fzfjU"
              }
            }
          }
        }
  recorded_at: Wed, 03 Jun 2015 08:52:35 GMT
recorded_with: VCR 2.9.3
