---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concept-schemes
    body:
      encoding: UTF-8
      string: '{"prefLabel":{"en-US":"New Scheme"}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.11.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Route:
      - "/organizations/:organizationId/taxonomy/concept-schemes"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-Request-Id:
      - d6cdee10-77ce-41f5-9c5d-4b1570401335
    body:
      encoding: UTF-8
      string: '{"sys":{"id":"OwSAxez8z7tV2gVQVsy6o","type":"TaxonomyConceptScheme","createdAt":"2025-10-22T13:14:56.071Z","updatedAt":"2025-10-22T13:14:56.071Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"topConcepts":[],"concepts":[],"totalConcepts":0,"prefLabel":{"en-US":"New
        Scheme"},"definition":null}'
  recorded_at: Wed, 22 Oct 2025 13:14:56 GMT
recorded_with: VCR 6.2.0
