---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concept-schemes/custom-scheme-id
    body:
      encoding: UTF-8
      string: '{"id":"custom-scheme-id","prefLabel":{"en-US":"Custom Bike"}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.12.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Request-Id:
      - 9cdf049c-b4a0-475f-9802-6e019b0f8a9f
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"id":"custom-scheme-id","type":"TaxonomyConceptScheme","createdAt":"2025-12-17T01:31:32.953Z","updatedAt":"2025-12-17T01:31:32.953Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"topConcepts":[],"concepts":[],"totalConcepts":0,"prefLabel":{"en-US":"Custom
        Bike"},"definition":null}'
  recorded_at: Wed, 17 Dec 2025 01:31:32 GMT
recorded_with: VCR 6.2.0
