---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concept-schemes/2hNivoHTKM4MbTM4519T5E
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.11.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Route:
      - "/organizations/:organizationId/taxonomy/concept-schemes/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-Request-Id:
      - 333db422-2961-49d0-a52d-34b1a7578a10
    body:
      encoding: UTF-8
      string: '{"sys":{"id":"2hNivoHTKM4MbTM4519T5E","type":"TaxonomyConceptScheme","createdAt":"2025-09-14T06:37:32.431Z","updatedAt":"2025-09-15T12:42:23.839Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":3},"uri":null,"topConcepts":[],"concepts":[{"sys":{"id":"greenSofas","type":"Link","linkType":"TaxonomyConcept"}}],"totalConcepts":1,"prefLabel":{"en-US":"Home
        Products"},"definition":{"en-US":""}}'
  recorded_at: Wed, 22 Oct 2025 13:10:46 GMT
- request:
    method: patch
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concept-schemes/2hNivoHTKM4MbTM4519T5E
    body:
      encoding: UTF-8
      string: '[{"op":"add","path":"/prefLabel/en-US","value":"New Scheme Name"}]'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.11.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json-patch+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Route:
      - "/organizations/:organizationId/taxonomy/concept-schemes/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-Request-Id:
      - 9ad5db54-aac3-4541-8ab9-e36b1c4a2f99
    body:
      encoding: UTF-8
      string: '{"sys":{"id":"2hNivoHTKM4MbTM4519T5E","type":"TaxonomyConceptScheme","createdAt":"2025-09-14T06:37:32.431Z","updatedAt":"2025-10-22T13:10:46.957Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":4},"uri":null,"topConcepts":[],"concepts":[{"sys":{"id":"greenSofas","type":"Link","linkType":"TaxonomyConcept"}}],"totalConcepts":1,"prefLabel":{"en-US":"New
        Scheme Name"},"definition":{"en-US":""}}'
  recorded_at: Wed, 22 Oct 2025 13:10:47 GMT
recorded_with: VCR 6.2.0
