---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/oe3b689om6k5/environments/master/editor_interfaces
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.10.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/editor_interfaces"
      Etag:
      - '"1358933671436039259"'
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - fc76cc7a-be78-4e41-9ac2-604f55ad634f
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"type":"Array"},"total":8,"items":[{"sys":{"type":"EditorInterface","space":{"sys":{"id":"oe3b689om6k5","type":"Link","linkType":"Space"}},"version":2,"createdAt":"2025-02-12T10:25:48.347Z","createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedAt":"2025-02-12T10:25:49.441Z","updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"contentType":{"sys":{"id":"aaa","type":"Link","linkType":"ContentType"}},"environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}}},"controls":[{"fieldId":"title","widgetId":"singleLine","widgetNamespace":"builtin"},{"fieldId":"bar","widgetId":"richTextEditor","widgetNamespace":"builtin"}]},{"sys":{"type":"EditorInterface","space":{"sys":{"id":"oe3b689om6k5","type":"Link","linkType":"Space"}},"version":2,"createdAt":"2024-05-24T17:30:14.460Z","createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedAt":"2024-05-24T17:30:15.365Z","updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"contentType":{"sys":{"id":"author","type":"Link","[...]
