---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/oe3b689om6k5/content_types/smallerType/editor_interfaces/someId
    body:
      encoding: UTF-8
      string: '{"controls":[{"fieldId":"symbol1","widgetId":"urlEditor"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c353e730f2f5a1bd74bdece6745f51f6"'
      X-Contentful-Request-Id:
      - content-api:6hgOzHy2l2YCk8Ws2MSgUg
      X-Iinfo:
      - 10-49150757-49150819 NNNN CT(134 133 0) RT(1460647007800 113) q(0 0 2 -1)
        r(14 14) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "controls": [
            {
              "fieldId": "symbol1",
              "widgetId": "urlEditor"
            }
          ],
          "sys": {
            "id": "someId",
            "type": "EditorInterface",
            "version": 1,
            "createdAt": "2016-04-14T15:16:49.683Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "oe3b689om6k5"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "smallerType"
              }
            },
            "updatedAt": "2016-04-14T15:16:49.683Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Thu, 14 Apr 2016 15:16:49 GMT
recorded_with: VCR 2.9.3
