---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/oe3b689om6k5/environments/master/content_types/testInterfaces/editor_interface
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bfcab40c7a2c8f00fa286c2d7b3f9600"'
      X-Contentful-Request-Id:
      - content-api:3V7KLTRbVKwk4mOkWKQY2w
      X-Iinfo:
      - 7-60961151-60961178 NNNN CT(215 208 0) RT(1464611115474 91) q(0 0 4 -1) r(18
        18) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "controls": [
            {
              "fieldId": "symbol1",
              "widgetId": "singleLine"
            },
            {
              "fieldId": "symbol2",
              "widgetId": "urlEditor"
            },
            {
              "fieldId": "symbol3",
              "widgetId": "dropdown"
            },
            {
              "fieldId": "symbol4",
              "widgetId": "radio"
            },
            {
              "fieldId": "symbol5",
              "widgetId": "slugEditor"
            },
            {
              "fieldId": "symbol6",
             [...]
