---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/oe3b689om6k5/content_types/testInterfaces/editor_interfaces/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bfcab40c7a2c8f00fa286c2d7b3f9600"'
      X-Contentful-Request-Id:
      - content-api:1zyhXBx3NyG8mIiAKkyAS4
      X-Iinfo:
      - 0-20959203-20959395 NNNN CT(134 133 0) RT(1460645919781 609) q(0 1 4 59) r(14
        14) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "controls": [
            {
              "fieldId": "symbol1",
              "widgetId": "singleLine"
            },
            {
              "fieldId": "symbol2",
              "widgetId": "urlEditor"
            },
            {
              "fieldId": "symbol3",
              "widgetId": "dropdown"
            },
            {
              "fieldId": "symbol4",
              "widgetId": "radio"
            },
            {
              "fieldId": "symbol5",
              "widgetId": "slugEditor"
            },
            {
              "fieldId": "symbol6",
             [...]
