---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/oe3b689om6k5/content_types/smallerType/editor_interfaces/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"52f19e75bd33ef5eaffa3f63dc8d0f6a"'
      X-Contentful-Request-Id:
      - content-api:30vGFVYvwse2OwyKoC0u2w
      X-Iinfo:
      - 2-31202315-31202348 NNNN CT(138 130 0) RT(1460648101831 92) q(0 0 2 -1) r(4
        4) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "controls": [
            {
              "fieldId": "symbol1",
              "widgetId": "singleLine"
            }
          ],
          "sys": {
            "id": "default",
            "type": "EditorInterface",
            "version": 7,
            "createdAt": "2016-04-14T15:04:10.737Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "oe3b689om6k5"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "smallerType"
              }
            },
            "updatedAt": "2016-04-14T15:33:56.683Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Thu, 14 Apr 2016 15:35:02 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/oe3b689om6k5/content_types/smallerType/editor_interfaces/default
    body:
      encoding: UTF-8
      string: '{"controls":[{"fieldId":"symbol1","widgetId":"urlEditor"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '7'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"90d82336d68525ae4bf4eed317ec4d04"'
      X-Contentful-Request-Id:
      - content-api:7aEYmOUNEIOSaoImcQSio
      X-Iinfo:
      - 4-38778369-38778394 NNNN CT(135 137 0) RT(1460648102495 94) q(0 0 3 -1) r(22
        22) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
        [...]
[...]
