---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/oe3b689om6k5/environments/master/content_types/smallerType/editor_interface
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.2.0; platform ruby/2.7.1; os macOS/19;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Origin-Time:
      - '0.131'
      Contentful-Upstream:
      - content-api
      Etag:
      - '"15587330661490795785"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 909dfebd4dbdddf6f747ab30c0b4f592
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/content_types/:content_type/editor_interface"
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 12-108821744-108821763 NNNY CT(97 96 0) RT(1630405218206 59) q(0 0 0 -1) r(2
        2) U5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "id": "default",
            "type": "EditorInterface",
            "space": {
              "sys": {
                "id": "oe3b689om6k5",
                "type": "Link",
                "linkType": "Space"
              }
            },
            "version": 30,
            "createdAt": "2021-08-26T09:56:09.043Z",
            "createdBy": {
              "sys": {
                "id": "59Erm8D1JuuD273aXNb65T",
                "type": "Link",
                "linkType": "User"
              }
            },
            "updatedAt": "2021-08-31T10:19:33.152Z",
            "updatedBy": {
              "sys": {
                "id": "59Erm8D1JuuD273aXNb65T",
                "type": "Link",
                "linkType": "User"
              }
            },
            "contentType": {
              "sys": {
                "id": "smallerType",
                "type": "Link",
                "linkType": "ContentType"
              }
            },
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            }
          },
          "sidebar": [
            {
              "settings": {},
              "widgetId": "flow-editor",
              "widgetNamespace": "extension"
            },
            {
              "settings": {},
              "widgetId": "publication-widget",
              "widgetNamespace": "sidebar-builtin"
            },
            {
              "settings": {},
              "widgetId": "content-workflows-tasks-widget",
              "widgetNamespace": "sidebar-builtin"
            },
            {
              "settings": {},
              "widgetId": "content-preview-widget",
              "widgetNamespace": "sidebar-builtin"
            },
            {
              "settings": {},
              "widgetId": "incoming-links-widget",
              "widgetNamespace": "sidebar-builtin"
            },
            {
              "settings": {},
              "widgetId": "translation-widget",
              "widgetNamespace": "sidebar-builtin"
            },
            {
              "settings": {},
              "widgetId": "versions-widget",
              "widgetNamespace": "sidebar-builtin"
            }
          ],
          "controls": [
            {
              "fieldId": "number",
              "widgetId": "numberEditor",
              "widgetNamespace": "builtin"
            }
          ]
        }
  recorded_at: Tue, 31 Aug 2021 10:20:18 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/oe3b689om6k5/environments/master/content_types/smallerType/editor_interface
    body:
      encoding: UTF-8
      string: '{"controls":[{"fieldId":"number","widgetId":"numberEditor","widgetNamespace":"builtin"}],"sidebar":[{"settings":{},"widgetId":"date-range-editor","widgetNamespace":"extension"},{"settings":{},"widgetId":"publication-widget","widgetNamespace":"sidebar-builtin"},{"settings":{},"widgetId":"content-workflows-tasks-widget","widgetNamespace":"sidebar-builtin"},{"settings":{},"widgetId":"content-preview-widget","widgetNamespace":"sidebar-builtin"},{"settings":{},"widgetId":"incoming-links-widget","widgetNamespace":"sidebar-builtin"},{"settings":{},"widgetId":"translation-widget","widgetNamespace":"sidebar-builtin"},{"settings":{},"widgetId":"versions-widget","widgetNamespace":"sidebar-builtin"}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.2.0; platform ruby/2.7.1; os macOS/19;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '30'
      Version:
      - '30'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Contentful-Origin-Time:
      - '0.106'
      Contentful-Upstream:
      - content-api
      Etag:
      - '"16854008209802380657"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
   [...]
[...]
