---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/oe3b689om6k5/environments/master/content_types/smallerType/editor_interface
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7cfe711b58b47eb919f77437833ff1ee"'
      X-Contentful-Request-Id:
      - content-api:6J3jQohv32uEMoUEK0U2OM
      X-Iinfo:
      - 8-71290476-71290513 NNNN CT(154 292 0) RT(1464612584929 96) q(0 0 5 26) r(15
        15) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "controls": [
            {
              "fieldId": "symbol1",
              "widgetId": "singleline"
            }
          ],
          "sys": {
            "id": "default",
            "type": "EditorInterface",
            "version": 9,
            "createdAt": "2016-04-14T15:04:10.737Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "oe3b689om6k5"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "smallerType"
              }
            },
            "updatedAt": "2016-05-30T12:26:01.918Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Mon, 30 May 2016 12:49:43 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/oe3b689om6k5/environments/master/content_types/smallerType/editor_interface
    body:
      encoding: UTF-8
      string: '{"controls":[{"fieldId":"symbol1","widgetId":"urlEditor"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '9'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"64724b994c4cb71fd0c29a67ea028a17"'
      X-Contentful-Request-Id:
      - content-api:6nWsLKINqMeASC8GkguYUK
      X-Iinfo:
      - 7-61364247-61364290 NNNN CT(234 468 0) RT(1464612586665 95) q(0 0 7 0) r(25
        25) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
        [...]
[...]
