---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5dc7aaf659b657430a2035d6a72a7484"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35949'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 4951dcc151fcd2a3d8b8f9b9d698539d
      X-Iinfo:
      - 9-89957449-89957455 NNNN CT(86 88 0) RT(1517912779840 57) q(0 0 2 -1) r(9
        10) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 29,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "facgnwwgj5fe"
                  }
                },
                "id": "2N7PmLm2QoSI8MiI4kyeos",
                "type": "Asset",
                "createdAt": "2017-03-10T15:23:06.752Z",
                "updatedAt": "2017-03-10T15:23:06.760Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "version": 1
              },
              "fields": {}
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "facgnwwgj5fe"
                  }
                },
                "id": "1GupmisymIcWqO2GM6ugao",
                "type": "Asset",
                "createdAt": "2017-03-21T19:24:37.921Z",
                "updatedAt": "2017-03-21T19:24:47.733Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "version": 2
              },
              "fields": {
                "title": {
                  "en-US": "readme"
                },
                "description": {
                  "en-US": null
                },
                "file": {
                  "en-US": {
                    "url": "//assets.contentful.com/facgnwwgj5fe/1GupmisymIcWqO2GM6ugao/495359091b5be197499dd7e976a5c3a5/README.md",
                    "details": {
                      "size": 26
                    },
                    "fileName": "README.md",
                    "contentType": "text/plain"
                  }
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "facgnwwgj5fe"
                  }
                },
                "id": "3AyKXkNUc8aEOA4u0MyOyI",
                "type": "Asset",
                "createdAt": "2017-04-21T11:52:45.809Z",
                "updatedAt": "2[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/assets?skip=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fa4d447770a60483814c6a6d4eb4c0c0"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35948'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 6ee9aea84098bc48bf55f0696959600d
      X-Iinfo:
      - 5-56508689-56508692 NNNN CT(88 92 0) RT(1517912780953 34) q(0 0 2 -1) r(10
        10) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 100,
          "limit": 100,
          "items": []
        }
  recorded_at: Tue, 06 Feb 2018 10:26:22 GMT
recorded_with: VCR 3.0.3
