---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/testing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.10.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"b5f8d465c58fdb2d4de7e800b00f1eaa"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 2373953b0bf0c685ba5661a9fe0b5d67
      X-Iinfo:
      - 4-7987266-7987270 NNNN CT(108 108 0) RT(1560333054770 102) q(0 0 2 -1) r(4
        4) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"testing 2",
          "sys":{
            "type":"Environment",
            "id":"testing",
            "version":7,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-02-27T10:19:01Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2019-04-02T13:32:30Z"
          }
        }

  recorded_at: Wed, 12 Jun 2019 09:50:55 GMT
recorded_with: VCR 4.0.0
