---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"13b8d616784ecfdb2cbec022dabff594"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 11,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "CodeQuest"
                },
                "description": {
                  "en-US": "Logo of Codequest"
                },
                "file": {
                  "en-US": {
                    "contentType": "image/jpeg",
                    "fileName": "codequest.jpg",
                    "details": {
                      "image": {
                        "width": 90,
                        "height": 90
                      },
                      "size": 7094
                    },
                    "url": "//images.contentful.com/yr5m0jky5hsh/4k8mYw2MzS6kYG0eGq0Yi0/e6cf326343b25955363ef0df00dca63c/codequest.jpg"
                  }
                }
              },
              "sys": {
                "id": "4k8mYw2MzS6kYG0eGq0Yi0",
                "type": "Asset",
                "createdAt": "2014-07-30T12:20:17.778Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "version": 2,
                "updatedAt": "2014-07-30T12:20:19.237Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": {
                "title": {
                  "en-US": "Dog photo"
                },
                "description": {
                  "en-US": "Photo of Dog"
                },
                "file": {
                  "en-US": {
[...]
