---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/public/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ce8850c48d118084925339ea2d9abc11"'
      X-Contentful-Request-Id:
      - content-api:2ILknGLeQ828OG0yUsGsuK
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "nyancat"
                },
                "description": {
                  "en-US": null
                },
                "file": {
                  "en-US": {
                    "fileName": "Nyan_cat_250px_frame.PNG",
                    "contentType": "image/png",
                    "details": {
                      "image": {
                        "width": 250,
                        "height": 250
                      },
                      "size": 12273
                    },
                    "url": "//images.contentful.com/bjwq7b86vgmm/3QnoGVq1viESsUw22kiAC6/4a32575e07f8da2ea820eb76424dfd74/Nyan_cat_250px_frame.PNG"
                  }
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "type": "Asset",
                "id": "3QnoGVq1viESsUw22kiAC6",
                "revision": 63,
                "createdAt": "2016-01-25T16:29:20.850Z",
                "updatedAt": "2016-01-26T21:05:57.798Z"
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 21:14:33 GMT
recorded_with: VCR 2.9.3
