---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/assets
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"pl-PL":"Title PL"},"description":{"pl-PL":"Description
        PL"},"file":{"pl-PL":{"contentType":"image/jpeg","fileName":"pic1.jpg","upload":"https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"172bc1b440a6d45f2d26c5c4b7d640d8"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "pl-PL": "Title PL"
            },
            "description": {
              "pl-PL": "Description PL"
            },
            "file": {
              "pl-PL": {
                "contentType": "image/jpeg",
                "fileName": "pic1.jpg",
                "upload": "https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"
              }
            }
          },
          "sys": {
            "id": "6HW6OmvN3UMgysEIicCmCC",
            "type": "Asset",
            "version": 1,
            "createdAt": "2014-08-19T09:33:18.308Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "bfsvtul0c41g"
              }
            },
            "updatedAt": "2014-08-19T09:33:18.308Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Tue, 19 Aug 2014 09:33:15 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/assets/6HW6OmvN3UMgysEIicCmCC/files/pl-PL/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 19 Aug 2014 09:33:15 GMT
recorded_with: VCR 2.9.2
