---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/codequest_id_test_custom_id
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"titlebyCreateAPI_custom_id"},"description":{"en-US":"descByAPI_custom_id"},"file":{"en-US":{"contentType":"image/jpeg","fileName":"codequest.jpg","upload":"http://static.goldenline.pl/firm_logo/082/firm_225106_22f37f_small.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          }
        }
  recorded_at: Thu, 31 Jul 2014 07:39:06 GMT
recorded_with: VCR 2.9.2
