---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/codequest_id_test_custom
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"titlebyCreateAPI_custom_id"},"description":{"en-US":"descByAPI_custom_id"},"file":{"en-US":{"contentType":"image/jpeg","fileName":"codequest.jpg","upload":"http://static.goldenline.pl/firm_logo/082/firm_225106_22f37f_small.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"20ffe5c5f11104a017c25899d5f4de77"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI_custom_id"
            },
            "description": {
              "en-US": "descByAPI_custom_id"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "codequest.jpg",
                "upload": "http://static.goldenline.pl/firm_logo/082/firm_225106_22f37f_small.jpg"
              }
            }
          },
          "sys": {
            "id": "codequest_id_test_custom",
            "type": "Asset",
            "version": 1,
            "createdAt": "2014-07-31T07:38:09.232Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "updatedAt": "2014-07-31T07:38:09.232Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 07:38:09 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/codequest_id_test_custom/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Jul 2014 07:38:09 GMT
recorded_with: VCR 2.9.2
