---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/assets?limit=20&skip=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"254a0144c2cebdfa3c927ed18df93e57"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 2,
          "limit": 20,
          "items": []
        }
  recorded_at: Mon, 18 Aug 2014 11:35:22 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/assets?limit=20&skip=22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2b8587e6e9441d7e11a0bb162725080d"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 22,
          "limit": 20,
          "items": []
        }
  recorded_at: Mon, 18 Aug 2014 11:35:40 GMT
recorded_with: VCR 2.9.2
