---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/assets
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Asset title"},"description":{"en-US":"Description"},"file":{"en-US":{"contentType":"image/jpeg","fileName":"pic1.jpg","upload":"https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8e960e7e1b111225ff2a7fca52a066d9"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Asset title"
            },
            "description": {
              "en-US": "Description"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pic1.jpg",
                "upload": "https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"
              }
            }
          },
          "sys": {
            "id": "24D9Fzto204Ma6i6CqEYke",
            "type": "Asset",
            "version": 1,
            "createdAt": "2014-08-21T08:32:54.730Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "bfsvtul0c41g"
              }
            },
            "updatedAt": "2014-08-21T08:32:54.730Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 21 Aug 2014 08:32:53 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/assets/24D9Fzto204Ma6i6CqEYke/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Aug 2014 08:32:54 GMT
recorded_with: VCR 2.9.2
