---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/assets/
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"titlebyCreateAPI"},"description":{"en-US":"descByAPI"},"file":{"en-US":{"contentType":"image/jpeg","fileName":"pic1.jpg","upload":"https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"02dedb9fdb53226593c0685b7f23ed43"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI"
            },
            "description": {
              "en-US": "descByAPI"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pic1.jpg",
                "upload": "https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"
              }
            }
          },
          "sys": {
            "id": "444aN3LHmMk0AiMaa2KCmu",
            "type": "Asset",
            "version": 1,
            "createdAt": "2014-08-06T11:28:55.744Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "updatedAt": "2014-08-06T11:28:55.744Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 06 Aug 2014 11:28:56 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/assets/444aN3LHmMk0AiMaa2KCmu/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e69863392e6fa49cbe9e23b62d32de8c4f9001103246a681f411fd6055f27141
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Aug 2014 11:28:56 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/assets/444aN3LHmMk0AiMaa2KCmu/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e69863392e6fa49cbe9e23b62d32de8c4f9001103246a681f411fd6055f27141
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c2e9c5fcde53eef63708d963526bbeb1"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI"
            },
            "description": {
              "en-US": "descByAPI"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pic1.jpg",
                "details": {
                  "image": {
                    "width": 1280,
                    "height": 1920
                  },
                  "size": 2584366
                },
                "url": "//images.contentful.com/yr5m0jky5hsh/444aN3LHmMk0AiMaa2KCmu/564b22417b573b1d18993da6fac40687/pic1.jpg"
              }
            }
          },
          "sys": {
            "id": "444aN3LHmMk0AiMaa2KCmu",
            "type": "Asset",
            "createdAt": "2014-08-06T11:28:55.744Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "version": 3,
            "updatedAt": "2014-08-06T11:28:57.051Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "firstPublishedAt": "2014-08-06T11:28:57.051Z",
            "publishedCounter": 1,
            "publishedAt": "2014-08-06T11:28:57.051Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 2
          }
        }
  recorded_at: Wed, 06 Aug 2014 11:28:57 GMT
recorded_with: VCR 2.9.2
