---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/3PYa73pXXiAmKqm8eu4qOS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1ce605e30eae0d8b1b846217b449c206"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI"
            },
            "description": {
              "en-US": "descByAPI"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pic1.jpg",
                "details": {
                  "image": {
                    "width": 1280,
                    "height": 1920
                  },
                  "size": 2584366
                },
                "url": "//images.contentful.com/yr5m0jky5hsh/3PYa73pXXiAmKqm8eu4qOS/33f8a874f270bc6d148cf4ab5f8117e6/pic1.jpg"
              }
            }
          },
          "sys": {
            "id": "3PYa73pXXiAmKqm8eu4qOS",
            "type": "Asset",
            "createdAt": "2014-07-30T15:50:36.369Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T07:31:20.330Z",
            "publishedCounter": 1,
            "publishedAt": "2014-07-31T07:31:20.330Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 2,
            "version": 3,
            "updatedAt": "2014-07-31T07:31:20.336Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 07:32:10 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/3PYa73pXXiAmKqm8eu4qOS/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4c694661854f7452cda1c8c8af458ae5"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI"
            },
            "description": {
              "en-US": "descByAPI"
        [...]
