---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"titlebyCreateAPI"},"description":{"en-US":"descByAPI"},"file":{"en-US":{"contentType":"image/jpeg","fileName":"pic1.jpg","upload":"https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7056a17eedce575db34e50bf2dd0a0b0"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI"
            },
            "description": {
              "en-US": "descByAPI"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pic1.jpg",
                "upload": "https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"
              }
            }
          },
          "sys": {
            "id": "RuJ0QuWbmKSIWGCwmwuyc",
            "type": "Asset",
            "version": 1,
            "createdAt": "2014-08-06T09:40:45.290Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "updatedAt": "2014-08-06T09:40:45.290Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 06 Aug 2014 09:40:45 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/RuJ0QuWbmKSIWGCwmwuyc/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Aug 2014 09:40:46 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/RuJ0QuWbmKSIWGCwmwuyc/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3ce9c46b0d033c107aff76e86ecf6f88"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI"
            },
            "description": {
              "en-US": "descByAPI"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pic1.jpg",
                "details": {
                  "image": {
                    "width": 1280,
                    "height": 1920
                  },
                  "size": 2584366
                },
                "url": "//images.contentful.com/yr5m0jky5hsh/RuJ0QuWbmKSIWGCwmwuyc/b6c3f5bf24cb07778695734538755e5f/pic1.jpg"
              }
            }
          },
          "sys": {
            "id": "RuJ0QuWbmKSIWGCwmwuyc",
            "type": "Asset",
            "createdAt": "2014-08-06T09:40:45.290Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "version": 3,
            "updatedAt": "2014-08-06T09:40:51.498Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "firstPublishedAt": "2014-08-06T09:40:51.498Z",
            "publishedCounter": 1,
            "publishedAt": "2014-08-06T09:40:51.498Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 2
          }
        }
  recorded_at: Wed, 06 Aug 2014 09:40:51 GMT
recorded_with: VCR 2.9.2
