---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/assets/8R4vbQXKbCkcSu26Wy2U0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2be36cc687cc0a25a0e36182b95f3ba7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "test"
            },
            "description": {
              "en-US": "testowy"
            },
            "file": {
              "en-US": {
                "fileName": "Mowing_your_Lawn_-_Advice_and_Tips",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 801,
                    "height": 1000
                  },
                  "size": 105202
                },
                "url": "//images.contentful.com/bfsvtul0c41g/8R4vbQXKbCkcSu26Wy2U0/4ca4dabb0305045fa5c3c786bf5d7592/mow.jpg"
              }
            }
          },
          "sys": {
            "id": "8R4vbQXKbCkcSu26Wy2U0",
            "type": "Asset",
            "createdAt": "2014-08-19T07:25:10.104Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "bfsvtul0c41g"
              }
            },
            "firstPublishedAt": "2014-08-19T07:25:32.234Z",
            "publishedCounter": 1,
            "publishedAt": "2014-08-19T07:25:32.234Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 11,
            "version": 14,
            "updatedAt": "2014-08-19T10:09:26.237Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Tue, 19 Aug 2014 10:10:26 GMT
[...]
