---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/cfexampleapi/environments/master/assets?select=fields.title,sys&sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b1e04275d327bd92a0b7708469e61e54"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '18000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '17860'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - fccc4fc0c16dcbc89993ba46ef11722a
      X-Iinfo:
      - 8-39954889-39954903 NNNN CT(101 101 0) RT(1481911034611 70) q(0 0 2 -1) r(30
        30) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "Nyan Cat"
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "nyancat",
                "type": "Asset",
                "createdAt": "2013-09-02T14:54:17.868Z",
                "updatedAt": "2013-09-02T14:56:34.264Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7BslKh9TdKGOK41VmLDjFZ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7BslKh9TdKGOK41VmLDjFZ"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7BslKh9TdKGOK41VmLDjFZ"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2013-09-02T14:56:34.240Z",
                "publishedAt": "2013-09-02T14:56:34.240Z"
              }
            }
          ]
        }
  recorded_at: Fri, 16 Dec 2016 17:57:18 GMT
recorded_with: VCR 3.0.3
