---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/codequest_id_test_custom_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ec03f0188a99a0c56d0d246bda47726a"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "3242",
              "pl-PL": "swerwer"
            },
            "description": {
              "en-US": null
            },
            "file": {
              "en-US": null
            }
          },
          "sys": {
            "id": "codequest_id_test_custom_id",
            "type": "Asset",
            "createdAt": "2014-07-30T13:24:53.570Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-30T15:09:52.708Z",
            "publishedCounter": 3,
            "publishedAt": "2014-07-30T15:18:11.105Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 10,
            "version": 12,
            "updatedAt": "2014-07-30T15:18:14.641Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 07:42:28 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/codequest_id_test_custom_id
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"3242","pl-PL":"swerwer","pl":"updateTitlePl"},"description":{"en-US":null,"pl-PL":null,"pl":"updateDescPl"},"file":{"en-US":{},"pl-PL":null,"pl":{"contentType":"image/jpeg","fileName":"codequest.jpg","upload":"http://static.goldenline.pl/firm_logo/082/firm_225106_22f37f_small.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '12'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8131cbebcd2555ca4dd5c0983c1800fa"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "3242",
              "pl-PL": "swerwer",
              "pl": "updateTitlePl"
            },
            [...]
