---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/4DmT2j54pWY8ocimkEU6qS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c08b23eed026edb9283d9effc70206c1"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI"
            },
            "description": {
              "en-US": "descByAPI"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "pic1.jpg",
                "details": {
                  "image": {
                    "width": 1280,
                    "height": 1920
                  },
                  "size": 2584366
                },
                "url": "//images.contentful.com/yr5m0jky5hsh/4DmT2j54pWY8ocimkEU6qS/31a5a2dbbb0d56e35f796000e7affb6c/pic1.jpg"
              }
            }
          },
          "sys": {
            "id": "4DmT2j54pWY8ocimkEU6qS",
            "type": "Asset",
            "createdAt": "2014-07-31T07:22:08.621Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "version": 2,
            "updatedAt": "2014-07-31T07:22:12.009Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 07:40:28 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/4DmT2j54pWY8ocimkEU6qS
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Title new"},"description":{"en-US":"Description
        new"},"file":{"en-US":{"fileName":"pic1.jpg","contentType":"image/jpeg","details":{"image":{"width":1280,"height":1920},"size":2584366},"url":"//images.contentful.com/yr5m0jky5hsh/4DmT2j54pWY8ocimkEU6qS/31a5a2dbbb0d56e35f796000e7affb6c/pic1.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"787371b9e3b0c9974778b65cb707620f"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Title new"
            },
            "description": {
              "en-US": "Description new"
         [...]
