---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"6f2e86bcbac05f1100d77295d77984d8"
      X-Contentful-Request-Id:
      - d944d772bea82de9ba17a14681de391b
      X-Iinfo:
      - 6-26601763-26601802 NNNN CT(136 274 0) RT(1502718776958 195) q(0 0 4 -1) r(7
        7) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":103,
          "limit":25,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "name":"LocaleTestSpace",
              "sys":{
                "type":"Space",
                "id":"9sh5dtmfyzhj",
                "version":2,
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "createdAt":"2015-10-19T15:13:09Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt":"2016-03-15T11:29:13Z"
              }
            },
            {
              "name":"database_exporter_issue_6",
              "sys":{
                "type":"Space",
                "id":"q6tvmm7cjdv4",
                "version":2,
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "createdAt":"2015-10-21T11:[...]
