---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"My Test Space"}'
    headers:
      Authorization:
      - Bearer 3bccffbec4ce0e27bd360c0a8d10eff4c12aee9ecdfd243c372ddf972326c0d3
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 85f-1334431117
      Location:
      - https://api.contentful.com/spaces/1jyhfyvahfio
      Etag:
      - '"f764b8fc66786031af1d7dd0795fe3bc"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"1jyhfyvahfio",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"5CicedV35cE8xqfXKiq9PV"
              }
            },
            "createdAt":"2014-07-31T07:02:02Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"5CicedV35cE8xqfXKiq9PV"
              }
            },
            "updatedAt":"2014-07-31T07:02:02Z"
          },
          "name":"My Test Space"}
  recorded_at: Thu, 31 Jul 2014 07:02:05 GMT
recorded_with: VCR 2.9.2
