---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"My Test Space"}'
    headers:
      Authorization:
      - Bearer 3bccffbec4ce0e27bd360c0a8d10eff4c12aee9ecdfd243c372ddf972326c0d3
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 0fV1n3ykR3arQQAa8aylMi
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 403 Forbidden
      X-Contentful-Request-Id:
      - 85f-1334430994
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"Forbidden"
          },
          "requestId":"85f-1334430994",
          "message":"You are not authorized to do this action or exceeded your plan limits."}
  recorded_at: Thu, 31 Jul 2014 06:59:42 GMT
recorded_with: VCR 2.9.2
