---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"new space","defaultLocale":"pl-PL"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1EQPR5IHrPx94UY4AViTYO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"990079f8976c99c08d757eb086729c52"'
      Location:
      - https://api.contentful.com/spaces/1j2osuxmfs25
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 71a-1097168226
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"1j2osuxmfs25",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-11-26T08:05:52Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-11-26T08:05:53Z"
          },
          "name":"new space"}
  recorded_at: Wed, 26 Nov 2014 08:05:57 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/1j2osuxmfs25/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e003b11a376b701bdbeed0165cf21b44"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-641211146
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Locale",
                "id":"7wpzPPTX0QahGa7rVtE6MR",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"1j2osuxmfs25"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-11-26T08:05:53Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "updatedAt":"2014-11-26T08:05:53Z"
              },
              "name":"pl-PL",
              "code":"pl-PL",
              "default":true,
              "contentManagementApi":true,
              "publish":true,
              "contentDeliveryApi":true
            }
          ],
          "total":1,
          "limit":25,
          "skip":0}
  recorded_at: Wed, 26 Nov 2014 08:05:57 GMT
recorded_with: VCR 2.9.3
