---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"pl space","defaultLocale":"pl-pl"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1EQPR5IHrPx94UY4AViTYO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d7bbe1d4a322e2d57c8ae5f6e60bb920"'
      Location:
      - https://api.contentful.com/spaces/xg3e2w77diga
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 71a-1096805342
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"xg3e2w77diga",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-11-25T15:43:59Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-11-25T15:43:59Z"
          },
          "name":"pl space"}
  recorded_at: Tue, 25 Nov 2014 15:44:01 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/xg3e2w77diga/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b00d24c14d4099a3e87619f20153ce85"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1322536095
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Locale",
                "id":"6cYjTjEe9oaQnaVHWVGuIZ",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"xg3e2w77diga"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-11-25T15:43:59Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "updatedAt":"2014-11-25T15:43:59Z"
              },
              "name":"pl-pl",
              "code":"pl-pl",
              "default":true,
              "contentManagementApi":true,
              "publish":true,
              "contentDeliveryApi":true
            }
          ],
          "total":1,
          "limit":25,
          "skip":0}
  recorded_at: Tue, 25 Nov 2014 15:44:02 GMT
recorded_with: VCR 2.9.3
