---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"new space","defaultLocale":"pl-PL"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 4SsuxQCaMaemfIms52Jr8s
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fe08ca26704b8485e46b8d3f40f73547"'
      Location:
      - https://api.contentful.com/spaces/gcj7kwf33v7b
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 9e1-1059593025
      X-Iinfo:
      - 5-17702270-17702284 NNNN CT(137 135 0) RT(1455299635589 88) q(0 0 3 -1) r(67
        67) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"gcj7kwf33v7b",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-02-12T17:53:56Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-02-12T17:53:57Z"
          },
          "name":"new space"
        }

  recorded_at: Fri, 12 Feb 2016 17:54:02 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/gcj7kwf33v7b/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3ef22a82a8a0ac9b5ef9e40704ae1da6"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - b89-537671641
      X-Iinfo:
      - 5-17704125-17704144 NNNN CT(138 137 0) RT(1455299642450 90) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Locale",
                "id":"3ZoI2tgCwxLD5NQaMbLEOt",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"gcj7kwf33v7b"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "createdAt":"2016-02-12T17:53:57Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt":"2016-02-12T17:53:57Z"
              },
              "name":"pl-PL",
              "internal_code":"pl-PL",
              "code":"pl-PL",
              "fallback_code":null,
              "default":true,
              "contentManagementApi":true,
              "contentDeliveryApi":true
            }
          ],
          "total":1,
          "limit":100,
          "skip":0
        }

  recorded_at: Fri, 12 Feb 2016 17:54:03 GMT
[...]
