---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"My Test Space"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 1EQPR5IHrPx94UY4AViTYO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 85f-1334430631
      Location:
      - https://api.contentful.com/spaces/aopzqyf8j4yq
      Etag:
      - '"f933a71af2826311336cf87c02c211a8"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"aopzqyf8j4yq",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-31T06:49:50Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-31T06:49:50Z"
          },
          "name":"My Test Space"}
  recorded_at: Thu, 31 Jul 2014 06:49:55 GMT
recorded_with: VCR 2.9.2
