---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/no8f22w4syte
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"10014eafa25030a6ced3534846716cdf"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 465eb5706297c2815c1e959a877824c4
      X-Iinfo:
      - 14-1296528-1296534 NNNN CT(117 117 0) RT(1554212280316 58) q(0 0 3 -1) r(4
        4) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"foo",
          "sys":{
            "type":"Space",
            "id":"no8f22w4syte",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-02-16T12:33:43Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-02-16T12:33:43Z"
          }
        }

  recorded_at: Tue, 02 Apr 2019 13:38:01 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/no8f22w4syte
    body:
      encoding: UTF-8
      string: '{"name":"bar"}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"bc48cb7f31bbcd44db7493f0f394f148"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 2d2d7aca3e8afe6a8e2c8325b3629bd7
      X-Iinfo:
      - 8-164200-164202 NNNN CT(115 116 0) RT(1554212280818 55) q(0 0 3 -1) r(5 5)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"bar",
          "sys":{
            "type":"Space",
            "id":"no8f22w4syte",
            "version":2,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-02-16T12:33:43Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2019-04-02T13:38:02Z"
          }
        }

  recorded_at: Tue, 02 Apr 2019 13:38:02 GMT
[...]
