---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"SaveNewName"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - ''
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 404 Not Found
      X-Contentful-Request-Id:
      - 85f-1334431698
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"NotFound"
          },
          "requestId":"85f-1334431698",
          "message":"The resource could not be found."}
  recorded_at: Thu, 31 Jul 2014 07:14:40 GMT
recorded_with: VCR 2.9.2
