---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334431258
      Etag:
      - '"cb09d5079fa2aa563b5359328dedb43c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":7,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-30T13:03:22Z"
          },
          "name":"BlogSpace"}
  recorded_at: Thu, 31 Jul 2014 07:04:27 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4c43b6e34924f7e65971295370191384"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "name",
                  "id": "name",
                  "type": "Text",
                  "uiid": "3fflnrplhc0",
                  "localized": true
                },
                {
                  "name": "age",
                  "id": "age",
                  "uiid": "2t5blkc7u2o",
                  "type": "Integer",
                  "localized": true
                },
                {
                  "name": "city",
                  "id": "city",
                  "type": "Location",
                  "uiid": "4fzl5jkm1a8",
                  "localized": false
                },
                {
                  "name[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: UTF-8
      string: '{"name":"NewNameSpace"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '7'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334431260
      Etag:
      - '"cbeabcb3476920c3f3a426f8cf41795d"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":8,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-31T07:04:29Z"
          },
          "name":"NewNameSpace"}
  recorded_at: Thu, 31 Jul 2014 07:04:29 GMT
recorded_with: VCR 2.9.2
