---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/testing/content_types/foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.10.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"0b2c5704e213e8a4a0dd2c52b41f69f6"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - f5fddca25cc4f8e04c8d81881e6e7701
      X-Iinfo:
      - 13-3220957-3220958 NNNN CT(0 0 0) RT(1560333218442 92) q(0 0 0 -1) r(10 10)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            },
            "id": "foo",
            "type": "ContentType",
            "createdAt": "2017-03-02T19:32:52.225Z",
            "updatedAt": "2017-03-10T15:38:16.371Z",
            "environment": {
              "sys": {
                "id": "testing",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 6,
            "publishedAt": "2017-03-02T22:41:20.685Z",
            "firstPublishedAt": "2017-03-02T21:51:34.581Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedCounter": 3,
            "version": 9,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          },
          "displayField": "name",
          "name": "foo",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "name",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": false,
              "omitted": false
            }
          ]
        }
  recorded_at: Wed, 12 Jun 2019 09:53:40 GMT
recorded_with: VCR 4.0.0
