---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/public/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"67f7d7ea590afed67e5d873f69fd71a4"'
      X-Contentful-Request-Id:
      - content-api:2o8Ojxhp1iQwsSE6gAWiK4
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "name",
              "name": "TestCT",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Symbol",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": [],
                  "disabled": null
                }
              ],
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "type": "ContentType",
                "id": "testCt",
                "revision": 73,
                "createdAt": "2016-01-21T13:22:51.140Z",
                "updatedAt": "2016-01-26T21:03:35.369Z"
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 21:12:12 GMT
recorded_with: VCR 2.9.3
