---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types
    body:
      encoding: UTF-8
      string: '{"name":"Symbol","description":"Content type with Symbol field","fields":[{"id":"my_Symbol_field","name":"My
        Symbol Field","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4ecbe87126d1c81642d0604a5433ba83"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Symbol",
          "description": "Content type with Symbol field",
          "fields": [
            {
              "id": "my_Symbol_field",
              "name": "My Symbol Field",
              "type": "Symbol"
            }
          ],
          "sys": {
            "id": "5f7ZhQyIGcGI6UeGkCsacy",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-07-31T10:01:34.578Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "updatedAt": "2014-07-31T10:01:34.578Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 10:01:34 GMT
recorded_with: VCR 2.9.2
