---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/ctgv7kwgsghk/environments/master/content_types
    body:
      encoding: UTF-8
      string: '{"name":"RichText","description":"Content type with RichText
        field","fields":[{"id":"my_RichText_field","name":"My RichText
        Field","type":"RichText"}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.3.0; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"8ae7e958cb3056725cf056ab4fcb7b3b"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '180000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '179999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '50'
      X-Contentful-Ratelimit-Second-Remaining:
      - '49'
      X-Contentful-Request-Id:
      - '08f4f61a5181bce2ed5e4413e37415fe'
      X-Iinfo:
      - 14-25993165-25993178 NNNN CT(28 25 0) RT(1535024955748 29) q(0 0 1 -1) r(8
        8) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ctgv7kwgsghk"
              }
            },
            "id": "4JTk4UIel2CycSWE0awqie",
            "type": "ContentType",
            "createdAt": "2018-08-23T11:49:17.292Z",
            "updatedAt": "2018-08-23T11:49:17.292Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "version": 1
          },
          "displayField": null,
          "name": "RichText",
          "description": "Content type with RichText field",
          "fields": [
            {
              "id": "my_RichText_field",
              "name": "My RichText Field",
              "type": "RichText",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": false,
              "omitted": false
            }
          ]
        }
  recorded_at: Thu, 23 Aug 2018 11:49:17 GMT
recorded_with: VCR 4.0.0
