---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types
    body:
      encoding: UTF-8
      string: '{"name":"Location","description":"Content type with Location field","fields":[{"id":"my_Location_field","name":"My
        Location Field","type":"Location"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"91aefa1d89a738583ac61be1c97ec080"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Location",
          "description": "Content type with Location field",
          "fields": [
            {
              "id": "my_Location_field",
              "name": "My Location Field",
              "type": "Location"
            }
          ],
          "sys": {
            "id": "1G2aHroErSuIGiy8aCKAkG",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-07-31T10:01:38.662Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "updatedAt": "2014-07-31T10:01:38.662Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 10:01:38 GMT
recorded_with: VCR 2.9.2
