---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types
    body:
      encoding: UTF-8
      string: '{"name":"Array","description":"Content type with Array field","fields":[{"id":"my_Array_field","name":"My
        Array Field","type":"Array"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5c6ba91daeebeb8864966583d1acbb86"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Array",
          "description": "Content type with Array field",
          "fields": [
            {
              "id": "my_Array_field",
              "name": "My Array Field",
              "type": "Array"
            }
          ],
          "sys": {
            "id": "3x5iPyDFYIYsUoA22esMe8",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-07-31T10:01:36.133Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "updatedAt": "2014-07-31T10:01:36.133Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 10:01:36 GMT
recorded_with: VCR 2.9.2
