---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types
    body:
      encoding: UTF-8
      string: '{"name":"Link","description":"Content type with Link field","fields":[{"id":"my_Link_field","name":"My
        Link Field","type":"Link","linkType":"Entry"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f16dc962fbf9327a61b4c3c120e0064c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Link",
          "description": "Content type with Link field",
          "fields": [
            {
              "id": "my_Link_field",
              "name": "My Link Field",
              "type": "Link",
              "linkType": "Entry"
            }
          ],
          "sys": {
            "id": "1G0HRbi7x2QW28QkGUYqKA",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-07-31T10:01:35.356Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "updatedAt": "2014-07-31T10:01:35.356Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 10:01:35 GMT
recorded_with: VCR 2.9.2
