---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/4EnwylPOikyMGUIy8uQgQY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1ece12754976d6b3c4b5ca0f9bfd3e58"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "post_title",
              "id": "post_title",
              "type": "Text",
              "uiid": "3y811ua4gsg",
              "localized": true
            },
            {
              "name": "post_body",
              "id": "post_body",
              "type": "Text",
              "uiid": "2wcy8gvpn28",
              "localized": true
            },
            {
              "name": "post_code",
              "id": "post_code",
              "type": "Symbol",
              "uiid": "42ip6svqlts",
              "localized": true
            },
            {
              "name": "post_created",
              "id": "post_created",
              "type": "Date",
              "uiid": "3qb1v37yebk"
            }
          ],
          "name": "Post",
          "sys": {
            "id": "4EnwylPOikyMGUIy8uQgQY",
            "type": "ContentType",
            "createdAt": "2014-07-31T08:46:36.678Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T08:51:14.655Z",
            "publishedCounter": 3,
            "version": 211,
            "updatedAt": "2014-07-31T08:58:29.590Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "description": "Content with Post fields",
          "displayField": "postTitl"
        }
  recorded_at: Thu, 31 Jul 2014 08:58:33 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/4EnwylPOikyMGUIy8uQgQY/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Not published"
        }
  recorded_at: Thu, 31 Jul 2014 08:58:34 GMT
recorded_with: VCR 2.9.2
