---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/32dbl893yf99
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.9.0; platform ruby/3.2.2; os Windows/ucrt;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Route:
      - "/spaces/:id"
      Etag:
      - W/"53a9b2eb2ba7bd06b11e0b065f3a5e70"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - gatekeeper
      X-Contentful-Request-Id:
      - 1783deab-6330-4342-9b00-4428e47ca2cd
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Blank",
          "sys":{
            "type":"Space",
            "id":"32dbl893yf99",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1cRzCWn3HdX3jCI0Gkisl6"
              }
            },
            "createdAt":"2023-09-09T02:37:44Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1cRzCWn3HdX3jCI0Gkisl6"
              }
            },
            "updatedAt":"2023-09-09T02:37:44Z",
            "organization":{
              "sys":{
                "type":"Link",
                "linkType":"Organization",
                "id":"5JMqP9UrBoEuRnPSzJRKep"
              }
            }
          }
        }

  recorded_at: Sat, 09 Sep 2023 03:21:35 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/32dbl893yf99/environments/master/content_types/content_with_default_value
    body:
      encoding: UTF-8
      string: '{"name":"Content With Default Value","fields":[{"id":"default_value_field","name":"default_value_field","type":"Text","defaultValue":{"en-US":"default
        content"}}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.9.0; platform ruby/3.2.2; os Windows/ucrt;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      Etag:
      - '"4044777871622356263"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/content_types/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 669fa9aa-ecd8-438a-9196-4f7bb78209e5
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"32dbl893yf99"}},"id":"content_with_default_value","type":"ContentType","createdAt":"2023-09-09T03:21:35.939Z","updatedAt":"2023-09-09T03:21:35.939Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"publishedCounter":0,"version":1},"displayField":null,"name":"Content
        With Default Value","description":null,"fields":[{"id":"default_value_field","name":"default_value_field","type":"Text","localized":false,"required":false,"validations":[],"defaultValue":{"en-US":"default
        content"},"disabled":false,"omitted":false}]}

        '
  recorded_at: Sat, 09 Sep 2023 03:21:35 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/32dbl893yf99/environments/master/content_types/content_with_default_value/published
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.9.0; platform ruby/3.2.2; os Windows/ucrt;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      Etag:
      - '"7419449699360668456"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/content_types/:id/published"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 5cfd8c02-7f04-41e4-880f-cedd77c43328
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"32dbl893yf99"}},"id":"content_with_default_value","type":"ContentType","createdAt":"2023-09-09T03:21:35.939Z","updatedAt":"2023-09-09T03:21:36.224Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"publishedCounter":1,"version":2,"firstPublishedAt":"2023-09-09T03:21:36.224Z","publishedAt":"2023-09-09T03:21:36.224Z","publishedBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"publishedVersion":1},"displayField":null,"name":"Content
        With Default Value","description":null,"fields":[{"id":"default_value_field","name":"default_value_field","type":"Text","localized":false,"required":false,"validations":[],"defaultValue":{"en-US":"default
        content"},"disabled":false,"omitted":false}]}

        '
  recorded_at: Sat, 09 Sep 2023 03:21:35 GMT
[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/32dbl893yf99/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"metadata":null,"fields":{}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.9.0; platform ruby/3.2.2; os Windows/ucrt;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - content_with_default_value
      Content-Type-Id:
      - content_with_default_value
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35997'
      X-Contentful-Ratelimit-Second-Remaining:
      - '7'
      Etag:
      - '"9130801670712245701"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - eb78f4b3-503b-4de5-8fbd-54f9ffb5ab59
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"tags":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"32dbl893yf99"}},"id":"5HOeUNysgEeta24CCEeUDc","type":"Entry","createdAt":"2023-09-09T03:21:36.985Z","updatedAt":"2023-09-09T03:21:36.985Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"publishedCounter":0,"version":1,"automationTags":[],"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"content_with_default_value"}}},"fields":{"default_value_field":{"en-US":"default
        content"}}}

        '
  recorded_at: Sat, 09 Sep 2023 03:21:36 GMT
recorded_with: VCR 6.2.0
...
