---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/66jvD8UhNKmWGk24KKq0EW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"49cca26db75df5b76339b0d39c0caa26"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "xxx",
              "id": "xxx",
              "type": "Text",
              "uiid": "39vj7mj5am8"
            }
          ],
          "name": "ContentTypeToDestroy",
          "sys": {
            "id": "66jvD8UhNKmWGk24KKq0EW",
            "type": "ContentType",
            "createdAt": "2014-07-31T08:40:59.948Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T08:41:22.819Z",
            "publishedCounter": 1,
            "version": 53,
            "updatedAt": "2014-07-31T08:42:54.188Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "description": "Delete me ",
          "displayField": "xxx"
        }
  recorded_at: Thu, 31 Jul 2014 08:43:20 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/66jvD8UhNKmWGk24KKq0EW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Jul 2014 08:43:20 GMT
recorded_with: VCR 2.9.2
