---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ngtgiva4wofg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5c8c8e659322afec0159b9f92c1cc3a8"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 0b5-173791309
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"ngtgiva4wofg",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T15:22:59Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-21T15:22:59Z"
          },
          "name":"management.rb - #79"
        }

  recorded_at: Thu, 21 Jan 2016 15:38:00 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ngtgiva4wofg/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
      X-Contentful-Request-Id:
      - content-api:6dmm0Mr9eMQM2wCoUSQG8C
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Thu, 21 Jan 2016 15:38:01 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ngtgiva4wofg/environments/master/content_types/isssue_79_ct
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Issue 79 CT","description":"","fields":[{"id":"name","name":"name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d97927d98e5d9d8decf7a1974556757b"'
      X-Contentful-Request-Id:
      - content-api:5Y1Ml9fZDimWygA8I4oWw
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Issue 79 CT",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "isssue_79_ct",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2016-01-21T15:38:02.376Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ngtgiva4wofg"
              }
            },
            "updatedAt": "2016-01-21T15:38:02.376Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Thu, 21 Jan 2016 15:38:02 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ngtgiva4wofg/environments/master/content_types/isssue_79_ct/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a73956096b1011b36b6fb6a21f2ae475"'
      X-Contentful-Request-Id:
      - content-api:4YtOjKQykgAYYOKusEyeeA
    body:
      encoding: UTF-8
      string: |
        {
          "displayField": "name",
          "name": "Issue 79 CT",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "name",
              "type": "Symbol",
              "localized": false,
              "validations": []
            }
          ],
          "sys": {
            "id": "isssue_79_ct",
            "type": "ContentType",
            "createdAt": "2016-01-21T15:38:02.376Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ngtgiva4wofg"
              }
            },
            "version": 2,
            "updatedAt": "2016-01-21T15:38:03.215Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "firstPublishedAt": "2016-01-21T15:38:03.215Z",
            "publishedCounter": 1,
            "publishedAt": "2016-01-21T15:38:03.215Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 1
          }
        }
  recorded_at: Thu, 21 Jan 2016 15:38:04 GMT
recorded_with: VCR 2.9.3
