---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ngtgiva4wofg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e4e952b60878fa1f64edb97e1d25efd6"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 1f9-1045952694
      X-Iinfo:
      - 0-28664088-28664093 NNNN CT(230 233 0) RT(1464720865378 93) q(0 0 5 -1) r(8
        8) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"management.rb - #79",
          "sys":{
            "type":"Space",
            "id":"ngtgiva4wofg",
            "version":2,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T15:22:59Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-03-16T15:25:04Z"
          }
        }

  recorded_at: Tue, 31 May 2016 18:54:26 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ngtgiva4wofg/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"622fd07098d9db9238adcc11f6ee4fd8"'
      X-Contentful-Request-Id:
      - content-api:2VMfROcpcskau0EEO6EIMK
      X-Iinfo:
      - 4-63007925-63007949 NNNN CT(229 230 0) RT(1464720866313 110) q(0 0 4 -1) r(7
        7) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "ngtgiva4wofg"
                  }
                },
                "id": "isssue_79_ct",
                "type": "ContentType",
                "createdAt": "2016-01-21T15:38:02.376Z",
                "updatedAt": "2016-01-21T15:38:03.233Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2016-01-21T15:38:03.215Z",
                "publishedAt": "2016-01-21T15:38:03.215Z"
              },
              "displayField": "name",
              "name": "Issue 79 CT",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                }
              ]
            }
          ]
        }
  recorded_at: Tue, 31 May 2016 18:54:27 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/ngtgiva4wofg/environments/master/content_types/omitted_ct
    body:
      encoding: UTF-8
      string: '{"displayField":"name","name":"Omitted CT","fields":[{"id":"omitted_field","name":"omitted_field","type":"Symbol","omitted":true},{"id":"name","name":"name","type":"Symbol"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/ngtgiva4wofg/environments/master/content_types/omitted_ct/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"56c0db9183d4d55364cdcb2adafe60f0"'
      X-Contentful-Request-Id:
      - content-api:2l8GMpss7GSquOum2yYao4
      X-Iinfo:
      - 6-69968908-69968914 NNNN CT(234 226 0) RT(1464720868321 94) q(0 0 4 -1) r(8
        8) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
         [...]
[...]
