---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/content_types/category_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6503c652dd5c87030249bd0c151aba3a"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Category",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Text",
              "localized": true,
              "uiid": "4vp0pcgc7b4"
            },
            {
              "id": "description",
              "name": "Description",
              "type": "Text",
              "localized": true,
              "uiid": "40jqtxghjb4"
            }
          ],
          "sys": {
            "id": "category_content_type",
            "type": "ContentType",
            "createdAt": "2014-08-18T06:51:59.560Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "bfsvtul0c41g"
              }
            },
            "firstPublishedAt": "2014-08-18T06:52:02.517Z",
            "publishedCounter": 6,
            "publishedAt": "2014-08-19T11:42:07.711Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 33,
            "version": 34,
            "updatedAt": "2014-08-19T11:42:07.719Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "displayField": "name"
        }
  recorded_at: Tue, 19 Aug 2014 12:15:22 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/content_types/category_content_type
    body:
      encoding: UTF-8
      string: '{"name":"Updated content type name","description":"","fields":[{"id":"name","name":"Name","type":"Text","localized":true},{"id":"description","name":"Description","type":"Text","localized":true}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '999'
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          }
        }
  recorded_at: Tue, 19 Aug 2014 12:15:22 GMT
[...]
