---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334450534
      Etag:
      - '"d4c68b318e3d8e9caef04be009d6c4b7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":10,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-31T07:26:59Z"
          },
          "name":"BlogSpace"}
  recorded_at: Thu, 31 Jul 2014 10:19:48 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ca667d025b36549da696bb7910ebd36e"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "post_title",
                  "id": "post_title",
                  "type": "Text",
                  "uiid": "3y811ua4gsg",
                  "localized": true
                },
                {
                  "name": "post_body",
                  "id": "post_body",
                  "type": "Text",
                  "uiid": "2wcy8gvpn28",
                  "localized": true
                },
                {
                  "name": "post_code",
                  "id": "post_code",
                  "type": "Symbol",
                  "uiid": "42ip6svqlts",
                  "localized": true
                },
                {
                  "name": "post_created",
                  "id": "post_created",
                  "type": "Date",
                  "uiid": "3qb1v37yebk"
                }
              ],
              "name": "Post",
              "sys": {
                "id": "4EnwylPOikyMGUIy8uQgQY",
                "type": "ContentType",
                "createdAt": "2014-07-31T08:46:36.678Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "firstPublishedAt": "2014-07-31T08:51:14.655Z",
                "publishedCounter": 5,
                "version": 214,
                "updatedAt": "2014-07-31T09:01:09.129Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0fn5fOWn4WsKFyYla1gI5h"
                  }
                }
              },
              "description": "Content with Post fields",
              "displayField": "postTitl"
            },
            {
              "name": "NewName",
              "description": "Author content",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Text",
                  "localized": true
                },
                {
                  "id": "age",
                  "name": "age",
                  "type": "Integer",
                  "localized": true
                },
      [...]
[...]
