---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/2tDzYAg5MM6sIkwsOmM0Kc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1e45e4cc198760d11ff63e713f860132"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "blog_content",
              "id": "blogContent",
              "type": "Text",
              "uiid": "45e3kdik5q8"
            }
          ],
          "name": "Blog testing",
          "sys": {
            "id": "2tDzYAg5MM6sIkwsOmM0Kc",
            "type": "ContentType",
            "createdAt": "2014-07-31T10:14:30.634Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T10:14:49.264Z",
            "publishedCounter": 1,
            "publishedAt": "2014-07-31T10:14:49.264Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 34,
            "version": 35,
            "updatedAt": "2014-07-31T10:14:49.269Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "description": "testing",
          "displayField": "blogContent"
        }
  recorded_at: Thu, 31 Jul 2014 10:15:49 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/2tDzYAg5MM6sIkwsOmM0Kc
    body:
      encoding: UTF-8
      string: '{"name":"Blog testing","description":"testing","fields":[{"id":"blogContent","name":"blog_content","type":"Text"},{"id":"blog_title","name":"Blog
        Title","type":"Text"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '35'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9755e1e0df58216a4e3f3ef021b646d5"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog testing",
          "description": "testing",
          "fields": [
            {
              "id": "blogContent",
              "name": "blog_cont[...]
