---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3cb87933635a80894837da2a30e007fe"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Text",
              "uiid": "3fflnrplhc0",
              "localized": true
            },
            {
              "name": "age",
              "id": "age",
              "uiid": "2t5blkc7u2o",
              "type": "Integer",
              "localized": true
            },
            {
              "name": "city",
              "id": "city",
              "type": "Location",
              "uiid": "4fzl5jkm1a8",
              "localized": false
            },
            {
              "name": "assets",
              "id": "assets",
              "uiid": "3aqrgdyesxs",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": true
            },
            {
              "name": "entries",
              "id": "entries",
              "type": "Array",
              "uiid": "3xi486kbchs",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              }
            },
            {
              "name": "entry",
              "id": "entry",
              "type": "Link",
              "uiid": "3uxjdd1n5ds",
              "linkType": "Entry"
            },
            {
              "name": "asset",
              "id": "asset",
              "type": "Link",
              "uiid": "40ilp8h1xc0",
              "linkType": "Asset"
            },
            {
              "name": "bool",
              "id": "bool",
              "type": "Boolean",
              "uiid": "2i1bgmn2dj4",
              "localized": true
            },
            {
              "name": "symbols",
              "id": "symbols",
              "type": "Array",
              "uiid": "38rbncxmzuo",
              "items": {
                "type": "Symbol"
              }
            },
            {
              "name": "birthday",
              "id": "birthday",
              "type": "Date",
              "uiid": "41bdwbk06bk"
            }
          ],
          "name": "Author",
          "sys": {
            "id": "5DSpuKrl04eMAGQoQckeIq",
            "type": "ContentType",
            "createdAt": "2014-07-30T12:35:01.110Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-30T12:37:42.035Z",
            "publishedCounter": 8,
            "publishedAt": "2014-07-31T09:41:19.641Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 193,
            "version": 194,
            "updatedAt": "2014-07-31T09:41:19.648Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "description": "Author content",
          "displayField": "name"
        }
  recorded_at: Thu, 31 Jul 2014 10:12:38 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: UTF-8
      string: '{"name":"NewName","description":"Author content","fields":[{"id":"name","name":"name","type":"Text","localized":true},{"id":"age","name":"age","type":"Integer","localized":true},{"id":"city","name":"city","type":"Location"},{"id":"assets","name":"assets","type":"Array","items":{"type":"Link","linkType":"Asset"},"localized":true},{"id":"entries","name":"entries","type":"Array","items":{"type":"Link","linkType":"Entry"}},{"id":"entry","name":"entry","type":"Link","linkType":"Entry"},{"id":"asset","name":"asset","type":"Link","linkType":"Asset"},{"id":"bool","name":"bool","type":"Boolean","localized":true},{"id":"symbols","name":"symbols","type":"Array","items":{"type":"Symbol"}},{"id":"birthday","name":"birthday","type":"Date"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '194'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"32e4bbeb76ba061ffe15593107b5df22"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "NewName",
          "description": "Author content",
          "fields": [
            {
              "id": "name",
              "name": "name",
      [...]
