---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/qw3F2rn3FeoOiceqAiCSC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"64febea32cedbc38911dfd8c105de4a9"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog Content",
          "description": "Blogs content type",
          "fields": [
            {
              "id": "blog_author",
              "name": "blog_author",
              "type": "Text",
              "localized": true
            },
            {
              "name": "xxxx",
              "id": "xxx",
              "type": "Text",
              "uiid": "2zsolw01o1s"
            },
            {
              "name": "sdfdsf",
              "id": "sdfdsf",
              "type": "Integer",
              "uiid": "3gpfdgtgs8w"
            },
            {
              "name": "ssss",
              "id": "ssss",
              "type": "Boolean",
              "uiid": "3gkmkxcq2o0"
            }
          ],
          "sys": {
            "id": "qw3F2rn3FeoOiceqAiCSC",
            "type": "ContentType",
            "createdAt": "2014-07-31T09:12:04.064Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T09:42:50.228Z",
            "publishedCounter": 5,
            "publishedAt": "2014-07-31T09:59:30.185Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 176,
            "version": 177,
            "updatedAt": "2014-07-31T09:59:30.190Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "displayField": "xx"
        }
  recorded_at: Thu, 31 Jul 2014 10:05:28 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/qw3F2rn3FeoOiceqAiCSC
    body:
      encoding: UTF-8
      string: '{"name":"Blog Content","description":"Blogs content type","fields":[{"id":"blog_author","name":"blog_author","type":"Text","localized":true},{"id":"xxx","name":"xxxx","type":"Text"},{"id":"sdfdsf","name":"sdfdsf","type":"Integer"},{"id":"ssss","name":"ssss","type":"Boolean"},{"id":"blog_author","name":"Author
        of blog","type":"Text"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '177'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6883197dd8c54e1b01c5feecec043d70"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog Content",
          "description": "Blogs content type",
          "fields": [
            {
              "id": "blog_author",
              "name"[...]
