---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/32dbl893yf99
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.9.0; platform ruby/3.2.2; os Windows/ucrt;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Route:
      - "/spaces/:id"
      Etag:
      - W/"53a9b2eb2ba7bd06b11e0b065f3a5e70"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - gatekeeper
      X-Contentful-Request-Id:
      - 30a936aa-d530-4e6b-96d4-112464383b7e
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Blank",
          "sys":{
            "type":"Space",
            "id":"32dbl893yf99",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1cRzCWn3HdX3jCI0Gkisl6"
              }
            },
            "createdAt":"2023-09-09T02:37:44Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1cRzCWn3HdX3jCI0Gkisl6"
              }
            },
            "updatedAt":"2023-09-09T02:37:44Z",
            "organization":{
              "sys":{
                "type":"Link",
                "linkType":"Organization",
                "id":"5JMqP9UrBoEuRnPSzJRKep"
              }
            }
          }
        }

  recorded_at: Sat, 09 Sep 2023 03:46:18 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/32dbl893yf99/environments/master/content_types/content_with_field_to_delete
    body:
      encoding: UTF-8
      string: '{"name":"Content With Field To Delete","fields":[{"id":"field_to_delete","name":"field_to_delete","type":"Text","omitted":true}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.9.0; platform ruby/3.2.2; os Windows/ucrt;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"867790919839850038"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/content_types/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - bac10013-f9e9-4035-a91c-6e7c05e560d7
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"32dbl893yf99"}},"id":"content_with_field_to_delete","type":"ContentType","createdAt":"2023-09-09T03:46:18.865Z","updatedAt":"2023-09-09T03:46:18.865Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"publishedCounter":0,"version":1},"displayField":null,"name":"Content
        With Field To Delete","description":null,"fields":[{"id":"field_to_delete","name":"field_to_delete","type":"Text","localized":false,"required":false,"validations":[],"disabled":false,"omitted":true}]}

        '
  recorded_at: Sat, 09 Sep 2023 03:46:18 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/32dbl893yf99/environments/master/content_types/content_with_field_to_delete/published
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.9.0; platform ruby/3.2.2; os Windows/ucrt;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"8267765743534796938"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/content_types/:id/published"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 3af608ff-a1ee-40f8-91f8-24e4d847907e
    body:
      encoding: ASCII-8BIT
      string: '{"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"32dbl893yf99"}},"id":"content_with_field_to_delete","type":"ContentType","createdAt":"2023-09-09T03:46:18.865Z","updatedAt":"2023-09-09T03:46:19.112Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"createdBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"publishedCounter":1,"version":2,"firstPublishedAt":"2023-09-09T03:46:19.112Z","publishedAt":"2023-09-09T03:46:19.112Z","publishedBy":{"sys":{"type":"Link","linkType":"User","id":"1cRzCWn3HdX3jCI0Gkisl6"}},"publishedVersion":1},"displayField":null,"name":"Content
        With Field To Delete","description":null,"fields":[{"id":"field_to_delete","name":"field_to_delete","type":"Text","localized":false,"required":false,"validations":[],"disabled":false,"omitted":true}]}

        '
  recorded_at: Sat, 09 Sep 2023 03:46:18 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/32dbl893yf99/environments/master/content_types/content_with_field_to_delete
    body:
      encoding: UTF-8
      string: '{"name":"Content With Field To Delete","fields":[{"id":"field_to_delete","name":"field_to_delete","type":"Text","omitted":true,"deleted":true}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.9.0; platform ruby/3.2.2; os Windows/ucrt;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
      Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit[...]
