---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/qw3F2rn3FeoOiceqAiCSC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"301f62fe4018df22e06b533f678d6cab"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog Content",
          "description": "Blogs content type",
          "fields": [
            {
              "name": "blog_name",
              "id": "blog_name",
              "type": "Text",
              "uiid": "43gser0qg3k"
            },
            {
              "name": "blog_description",
              "id": "blog_description",
              "type": "Text",
              "uiid": "2u81qklflkw"
            }
          ],
          "sys": {
            "id": "qw3F2rn3FeoOiceqAiCSC",
            "type": "ContentType",
            "createdAt": "2014-07-31T09:12:04.064Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T09:42:50.228Z",
            "publishedCounter": 2,
            "publishedAt": "2014-07-31T09:43:20.827Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 36,
            "version": 37,
            "updatedAt": "2014-07-31T09:43:20.830Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "displayField": "blogName"
        }
  recorded_at: Thu, 31 Jul 2014 09:43:30 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/qw3F2rn3FeoOiceqAiCSC
    body:
      encoding: UTF-8
      string: '{"name":"Blog Content","description":"Blogs content type","fields":[{"id":"blog_name","name":"blog_name","type":"Text"},{"id":"blog_description","name":"blog_description","type":"Text"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '37'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3a078c6747e3f4c0448eacbff3f667a4"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog Content",
          "description": "Blogs content type",
          "fields": [
            {
              "id": "blog_name",
              "name": "[...]
