---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/qw3F2rn3FeoOiceqAiCSC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7be17da88f3a6876410fedd3594dcced"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog Content",
          "description": "Blogs content type",
          "fields": [
            {
              "id": "blog_author",
              "name": "blog_authorxxxx",
              "type": "Text",
              "localized": true
            },
            {
              "id": "xxx",
              "name": "xxx",
              "type": "Text"
            }
          ],
          "sys": {
            "id": "qw3F2rn3FeoOiceqAiCSC",
            "type": "ContentType",
            "createdAt": "2014-07-31T09:12:04.064Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T09:42:50.228Z",
            "publishedCounter": 4,
            "publishedAt": "2014-07-31T09:55:03.094Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 141,
            "version": 149,
            "updatedAt": "2014-07-31T09:56:45.721Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "displayField": "blog_author"
        }
  recorded_at: Thu, 31 Jul 2014 09:57:21 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/qw3F2rn3FeoOiceqAiCSC
    body:
      encoding: UTF-8
      string: '{"name":"Blog Content","description":"Blogs content type","fields":[{"id":"blog_author","name":"blog_author","type":"Text","localized":true},{"id":"xxx","name":"xxx","type":"Text"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '149'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c4fb3318d81ddbdeb7d849d92e2c7d22"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog Content",
          "description": "Blogs content type",
          "fields": [
            {
              "id": "blog_author",
              "name"[...]
