---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/webhook_definitions/taken_webhook
    body:
      encoding: UTF-8
      string: '{"url":"https://www.example3.com"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 422 Unprocessable Entity
      X-Contentful-Request-Id:
      - 85f-929382323
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"ValidationFailed"
          },
          "requestId":"85f-929382323",
          "message":"The resource you sent in the body is invalid.",
          "details":{
            "errors":[
              {
                "name":"taken",
                "path":"url",
                "value":"https://www.example3.com"
              }
            ]
          }}
  recorded_at: Thu, 21 Aug 2014 11:32:11 GMT
recorded_with: VCR 2.9.2
