---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/webhook_definitions/test_webhook
    body:
      encoding: UTF-8
      string: '{"url":"https://www.example3.com"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-929381571
      Etag:
      - '"0c4c4b7901c0c7db0df9cd944bf718e3"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"WebhookDefinition",
            "id":"test_webhook",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bfsvtul0c41g"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T11:28:52Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T11:28:52Z"
          },
          "url":"https://www.example3.com",
          "httpBasicUsername":null}
  recorded_at: Thu, 21 Aug 2014 11:28:49 GMT
recorded_with: VCR 2.9.2
