---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/zjvxmotjud5s/webhook_definitions/some_id
    body:
      encoding: UTF-8
      string: '{"name":"some_webhook","url":"https://www.example2.com","headers":[{"key":"MyHeader","value":"foobar"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"01be3e0e10cb470efae890f743919134"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - b89-586923734
      X-Iinfo:
      - 6-47862086-47862138 NNNN CT(135 136 0) RT(1460376161233 384) q(0 0 2 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "url":"https://www.example2.com",
          "httpBasicUsername":null,
          "name":"some_webhook",
          "headers":[
            {
              "key":"MyHeader",
              "value":"foobar"
            }
          ],
          "topics":[
            "*.publish",
            "*.unpublish"
          ],
          "sys":{
            "type":"WebhookDefinition",
            "id":"some_id",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"zjvxmotjud5s"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-04-11T12:01:38Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-04-11T12:02:42Z"
          }
        }

  recorded_at: Mon, 11 Apr 2016 12:02:42 GMT
recorded_with: VCR 2.9.3
