---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/webhook_definitions
    body:
      encoding: UTF-8
      string: '{"name":"test_ruby_filters","url":"https://www.example.com","topics":["Entry.*"],"filters":[{"equals":[{"doc":"sys.environment.sys.id"},"some-env-id"]}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.2; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"d5abafc13f3faf552d5ff8e6fc4204b0"
      Location:
      - https://api.contentful.com/spaces/facgnwwgj5fe/webhook_definitions/0Kgjs0DQizupIbmSHcyaFM
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 63f412f53e4622bfefe3c4005398091d
      X-Iinfo:
      - 12-65979372-65979383 NNNN CT(90 102 0) RT(1534507243773 44) q(0 0 2 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"test_ruby_filters",
          "url":"https://www.example.com",
          "httpBasicUsername":null,
          "headers":[],
          "topics":[
            "Entry.*"
          ],
          "filters":[
            {
              "equals":[
                {
                  "doc":"sys.environment.sys.id"
                },
                "some-env-id"
              ]
            }
          ],
          "transformation":null,
          "sys":{
            "type":"WebhookDefinition",
            "id":"0Kgjs0DQizupIbmSHcyaFM",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-08-17T12:00:45Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-08-17T12:00:45Z"
          }
        }

  recorded_at: Fri, 17 Aug 2018 12:00:42 GMT
recorded_with: VCR 4.0.0
