---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/webhook_definitions/0Kgjs0DQizupIbmSHcyaFM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"061d44a61a20d842c7133f3e49833e58"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 737341b82903eb2c53cf0cb809fe79d7
      X-Iinfo:
      - 3-788748-788750 NNNN CT(124 126 0) RT(1554207519098 54) q(0 0 3 -1) r(4 4)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"test_ruby_filters",
          "url":"https://www.example.com",
          "httpBasicUsername":null,
          "topics":[
            "Entry.*"
          ],
          "filters":[
            {
              "equals":[
                {
                  "doc":"sys.environment.sys.id"
                },
                "some-env-id"
              ]
            }
          ],
          "transformation":null,
          "sys":{
            "type":"WebhookDefinition",
            "id":"0Kgjs0DQizupIbmSHcyaFM",
            "version":2,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-08-17T12:00:45Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2019-04-02T12:18:31Z"
          },
          "headers":[]
        }

  recorded_at: Tue, 02 Apr 2019 12:18:39 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/webhook_definitions/0Kgjs0DQizupIbmSHcyaFM
    body:
      encoding: UTF-8
      string: '{"url":"https://www.example2.com","name":"test_ruby_filters","topics":["Entry.*"],"headers":[],"httpBasicUsername":null,"filters":[{"equals":[{"doc":"sys.environment.sys.id"},"some-env-id"]}],"transformation":null}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
      Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"d3da0b7217c181bef71a1d18aee438d3"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-[...]
[...]
