---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/zjvxmotjud5s/webhook_definitions
    body:
      encoding: UTF-8
      string: '{"name":"test_topics","url":"https://www.example3.com","topics":["Entry.save","Entry.publish","ContentType.*"]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"dd51fac46eba663bcf7329d8b7ee8b2d"'
      Location:
      - https://api.contentful.com/spaces/zjvxmotjud5s/webhook_definitions/6M41zyKGz55qnovKxmQpDq
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 0b5-378528942
      X-Iinfo:
      - 8-70349673-70349687 NNNN CT(145 137 0) RT(1460376440866 93) q(0 0 3 -1) r(6
        6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "url":"https://www.example3.com",
          "httpBasicUsername":null,
          "name":"test_topics",
          "headers":[],
          "topics":[
            "Entry.save",
            "Entry.publish",
            "ContentType.*"
          ],
          "sys":{
            "type":"WebhookDefinition",
            "id":"6M41zyKGz55qnovKxmQpDq",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"zjvxmotjud5s"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-04-11T12:07:21Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-04-11T12:07:21Z"
          }
        }

  recorded_at: Mon, 11 Apr 2016 12:07:22 GMT
recorded_with: VCR 2.9.3
