---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/webhook_definitions/test_webhook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-929388272
      Etag:
      - '"40688c35b916a7802ce4a94b2dfbf522"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"WebhookDefinition",
            "id":"test_webhook",
            "version":2,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bfsvtul0c41g"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T11:28:52Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T11:42:48Z"
          },
          "url":"https://www.example5.com",
          "httpBasicUsername":"test_username"}
  recorded_at: Thu, 21 Aug 2014 12:02:39 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/webhook_definitions/test_webhook
    body:
      encoding: UTF-8
      string: '{"url":"https://www.example5.com","httpBasicUsername":"test_username","httpBasicPassword":"test_password"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-929388277
      Etag:
      - '"40688c35b916a7802ce4a94b2dfbf522"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"WebhookDefinition",
            "id":"test_webhook",
            "version":2,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bfsvtul0c41g"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T11:28:52Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T11:42:48Z"
          },
          "url":"https://www.example5.com",
          "httpBasicUsername":"test_username"}
  recorded_at: Thu, 21 Aug 2014 12:02:41 GMT
recorded_with: VCR 2.9.2
