---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/org_id/usages/organization?filters%5Bmetric%5D=cda&filters%5BusagePeriod%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.5.0; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Enable-Alpha-Feature:
      - usage-insights
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"efdf341b30e8c442ecb1bfe1b7f21817"
      X-Contentful-Request-Id:
      - 26c4437bd5b8c12ee6b71ad955dd7339
      X-Iinfo:
      - 3-12615349-12615354 NNNN CT(0 0 0) RT(1541846872399 65) q(0 0 0 -1) r(1 1)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":1,
          "limit":25,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "unitOfMeasure":"apiRequests",
              "interval":"daily",
              "usage":[
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                9423,
                49300,
                12546,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0
              ],
              "sys":{
                "type":"ApiUsage",
                "id":"1_org_id",
                "organization":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Organization",
                    "id":"org_id"
                  }
                },
                "usagePeriod":{
                  "sys":{
                    "type":"Link",
                    "linkType":"UsagePeriod",
                    "id":"1"
                  }
                }
              }
            }
          ]
        }

  recorded_at: Sat, 10 Nov 2018 10:47:53 GMT
recorded_with: VCR 4.0.0
