---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/orzkxlxlq59d/webhooks/16ypL3XjNK6oreLPPoVBxI/calls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35975'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 26a077964bde56562aa1ad5af6cf10f2
      X-Iinfo:
      - 5-95491926-95491983 NNNN CT(27 27 0) RT(1506019610793 344) q(0 0 0 -1) r(42
        42) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "id": "6r2EQ0iVBmYyyq0UMWKoge",
                "type": "WebhookCallOverview",
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "orzkxlxlq59d"
                  }
                },
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "WebhookDefinition",
                    "id": "16ypL3XjNK6oreLPPoVBxI"
                  }
                },
                "createdAt": "2017-09-15T14:35:28.576Z"
              },
              "statusCode": 201,
              "responseAt": "2017-09-15T14:35:28.755Z",
              "errors": [],
              "eventType": "publish",
              "url": "https://circleci.com/api/v1/project/virgendeloreto/blog_source/tree/master?circle-token=foobar",
              "requestAt": "2017-09-15T14:35:28.576Z"
            },
            {
              "sys": {
                "id": "6OZHbXOABU8uOyEuGmMwSW",
                "type": "WebhookCallOverview",
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "orzkxlxlq59d"
                  }
                },
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "WebhookDefinition",
                    "id": "16ypL3XjNK6oreLPPoVBxI"
                  }
                },
                "createdAt": "2017-09-15T14:35:24.795Z"
              },
              "statusCode": 201,
              "responseAt": "2017-09-15T14:35:25.233Z",
              "errors": [],
              "eventType": "publish",
              "url": "https://circleci.com/api/v1/project/virgendeloreto/blog_source/tree/master?circle-token=20e4b04a4c4cd549f34e025a223e898c71a9ab13",
              "requestAt": "2017-09-15T14:35:24.795Z"
            }
          ],
          "skip": 0,
          "limit": 20,
          "total": 2
        }
  recorded_at: Thu, 21 Sep 2017 18:46:56 GMT
recorded_with: VCR 3.0.3
