---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/orzkxlxlq59d/webhooks/16ypL3XjNK6oreLPPoVBxI/calls/not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35973'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 3b7c831009d996b0d9a0500145e2d35b
      X-Iinfo:
      - 8-125693722-125693839 NNNN CT(29 28 0) RT(1506019766844 323) q(0 0 1 -1) r(41
        41) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": "The resource could not be found."
        }
  recorded_at: Thu, 21 Sep 2017 18:49:32 GMT
recorded_with: VCR 3.0.3
