---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/n6spjc167pc2/environments/master/locales
    body:
      encoding: UTF-8
      string: '{"name":"testLocalCreate","code":"bg"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 85f-1209864457
      Location:
      - https://api.contentful.com/spaces/n6spjc167pc2/environments/master/locales/3Gg9sXSSADt1aXzdDt4MD4
      Etag:
      - '"4449fa1febea2acf910f6b29e6ea1e4e"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Locale",
            "id":"3Gg9sXSSADt1aXzdDt4MD4",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"n6spjc167pc2"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-14T07:50:39Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-14T07:50:39Z"
          },
          "name":"testLocalCreate",
          "code":"bg",
          "default":false,
          "contentManagementApi":true,
          "publish":true,
          "contentDeliveryApi":true}
  recorded_at: Mon, 14 Jul 2014 07:50:40 GMT
recorded_with: VCR 2.9.2
