---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/locales
    body:
      encoding: UTF-8
      string: '{"name":"Spanish (Argentina)","code":"es-AR"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fe56836a0221dc7e68461e69db4b98c1"'
      Location:
      - https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/locales/2XSmmRfiRP04ucgYfxZUxu
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - b89-1520974384
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Locale",
            "id":"2XSmmRfiRP04ucgYfxZUxu",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bjwq7b86vgmm"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-25T18:35:49Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-25T18:35:49Z"
          },
          "name":"Spanish (Argentina)",
          "internal_code":"zzz-AD",
          "code":"es-AR",
          "fallback_code":null,
          "default":false,
          "contentManagementApi":true,
          "contentDeliveryApi":true
        }

  recorded_at: Mon, 25 Jan 2016 18:35:49 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/locales/2XSmmRfiRP04ucgYfxZUxu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fe56836a0[...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/locales/2XSmmRfiRP04ucgYfxZUxu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 404 Not Found
      X-Contentful-Request-Id:
      - b89-1520974414
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Error",
            "id":"NotFound"
          },
          "requestId":"b89-1520974414",
          "message":"The resource could not be found."
        }

  recorded_at: Mon, 25 Jan 2016 18:35:51 GMT
recorded_with: VCR 2.9.3
