---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/locales
    body:
      encoding: UTF-8
      string: '{"name":"Foo (BarBaz)","code":"foo-BB","optional":false,"fallbackCode":"en-US"}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"4d26ee0011d05dbd542384382c26de1a"
      Location:
      - https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/locales/4YnLeSNLymCAZ6eYwJmhzu
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35995'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 34855fb8025ebee7ed0cb6d03ef8ff4e
      X-Iinfo:
      - 6-10588518-10588523 NNNN CT(89 88 0) RT(1518787897101 43) q(0 0 2 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Foo (BarBaz)",
          "internal_code":"foo-BB",
          "code":"foo-BB",
          "fallbackCode":"en-US",
          "default":false,
          "contentManagementApi":true,
          "contentDeliveryApi":true,
          "optional":false,
          "sys":{
            "type":"Locale",
            "id":"4YnLeSNLymCAZ6eYwJmhzu",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-02-16T13:31:37Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-02-16T13:31:37Z"
          }
        }

  recorded_at: Fri, 16 Feb 2018 13:31:37 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/locales/4YnLeSNLymCAZ6eYwJmhzu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.0; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    head[...]
