---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/environments/master/locales/0X5xcjckv6RMrd9Trae81p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209864303
      Etag:
      - '"84473d86f0e8887dd6b44d2ffe155176"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Locale",
            "id":"0X5xcjckv6RMrd9Trae81p",
            "version":6,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"n6spjc167pc2"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-11T10:43:30Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-11T13:29:23Z"
          },
          "name":"testNewLocaleName",
          "code":"pl",
          "default":true,
          "contentManagementApi":true,
          "publish":true,
          "contentDeliveryApi":true}
  recorded_at: Mon, 14 Jul 2014 07:44:57 GMT
recorded_with: VCR 2.9.2
