---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n5kqlvx9cnp1/environments/master/locales/56eOu5hJwVNb4XfqsnQV97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"55cd85af5d4a6ec286c5fd8fcf418afe"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 086fc258eb4a537487280b96617b5e63
      X-Iinfo:
      - 3-184110786-184110796 NNNN CT(136 136 0) RT(1469580265521 100) q(0 0 2 -1)
        r(5 5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"U.S. English",
          "internal_code":"en-US",
          "code":"en-US",
          "fallbackCode":null,
          "default":true,
          "contentManagementApi":true,
          "contentDeliveryApi":true,
          "optional":false,
          "sys":{
            "type":"Locale",
            "id":"56eOu5hJwVNb4XfqsnQV97",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"n5kqlvx9cnp1"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-27T00:40:35Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-27T00:40:35Z"
          }
        }

  recorded_at: Wed, 27 Jul 2016 00:44:26 GMT
recorded_with: VCR 3.0.3
