---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n5kqlvx9cnp1/environments/master/locales/7IHOkHoMY1PpFp1VSVlCpH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c304d29a9b8e3984be75c89e61d5c654"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 3f29b6d250357c0f2b9eeeb5f85a52e4
      X-Iinfo:
      - 8-283382040-283382143 NNNN CT(143 135 0) RT(1469580264487 299) q(0 0 3 -1)
        r(6 6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"Chinese",
          "internal_code":"zh",
          "code":"zh",
          "fallbackCode":"en-US",
          "default":false,
          "contentManagementApi":true,
          "contentDeliveryApi":true,
          "optional":true,
          "sys":{
            "type":"Locale",
            "id":"7IHOkHoMY1PpFp1VSVlCpH",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"n5kqlvx9cnp1"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-07-27T00:42:59Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-07-27T00:42:59Z"
          }
        }

  recorded_at: Wed, 27 Jul 2016 00:44:25 GMT
recorded_with: VCR 3.0.3
