---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/locales/4brXbuf0CeMWo4vlIfWe0q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"a9012413581ea6c1772a124efbf5cf85"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 64c570c532916461862179b64b43c88d
      X-Iinfo:
      - 5-1233589-1233594 NNNN CT(122 123 0) RT(1554207895529 60) q(0 0 3 -1) r(4
        4) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"foo",
          "internal_code":"bar",
          "code":"bar",
          "fallbackCode":"en-US",
          "default":false,
          "contentManagementApi":true,
          "contentDeliveryApi":true,
          "optional":false,
          "sys":{
            "type":"Locale",
            "id":"4brXbuf0CeMWo4vlIfWe0q",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "environment":{
              "sys":{
                "type":"Link",
                "linkType":"Environment",
                "id":"master"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-06-13T09:39:05Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-06-13T09:39:05Z"
          }
        }

  recorded_at: Tue, 02 Apr 2019 12:24:56 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/locales/4brXbuf0CeMWo4vlIfWe0q
    body:
      encoding: UTF-8
      string: '{"name":"foo","code":"bar2","optional":false,"fallbackCode":"en-US"}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"0c4ca2cd90d6707f55c3fba23ba0dea4"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-[...]
[...]
