---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/locales/0ywTmGkjR0YhmbYaSmV1CS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1214636521
      Etag:
      - '"45709e67e0ddcb9dd587c04cc8bb647e"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Locale",
            "id":"0ywTmGkjR0YhmbYaSmV1CS",
            "version":3,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bfsvtul0c41g"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-18T06:51:57Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-19T13:00:19Z"
          },
          "name":"Polish PL",
          "code":"pl-PL",
          "default":false,
          "contentManagementApi":true,
          "publish":true,
          "contentDeliveryApi":true}
  recorded_at: Tue, 19 Aug 2014 13:10:10 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/locales/0ywTmGkjR0YhmbYaSmV1CS
    body:
      encoding: UTF-8
      string: '{"name":"Polish PL"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1214636535
      Etag:
      - '"45709e67e0ddcb9dd587c04cc8bb647e"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Locale",
            "id":"0ywTmGkjR0YhmbYaSmV1CS",
            "version":3,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bfsvtul0c41g"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-18T06:51:57Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-19T13:00:19Z"
          },
          "name":"Polish PL",
          "code":"pl-PL",
          "default":false,
          "contentManagementApi":true,
          "publish":true,
          "contentDeliveryApi":true}
  recorded_at: Tue, 19 Aug 2014 13:10:12 GMT
recorded_with: VCR 2.9.2
