---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/locales/63274yOrU0s4XiJlAp1ZMQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"146a0e9cc8d3a9f7b8192e43ec93a59e"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-668109395
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Locale",
            "id":"63274yOrU0s4XiJlAp1ZMQ",
            "version":2,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bjwq7b86vgmm"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T13:21:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-25T18:05:35Z"
          },
          "name":"U. S. English",
          "internal_code":"en-US",
          "code":"en-US",
          "fallback_code":null,
          "default":true,
          "contentManagementApi":true,
          "contentDeliveryApi":true
        }

  recorded_at: Mon, 25 Jan 2016 18:18:32 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/locales/63274yOrU0s4XiJlAp1ZMQ
    body:
      encoding: UTF-8
      string: '{"name":"Something"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9ae63a933867f35cb1d5374e73fa0f4c"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 0b5-177114726
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Locale",
            "id":"63274yOrU0s4XiJlAp1ZMQ",
            "version":3,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bjwq7b86vgmm"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T13:21:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-25T18:18:36Z"
          },
          "name":"Something",
          "internal_code":"en-US",
          "code":"en-US",
          "fallback_code":null,
          "default":true,
          "contentManagementApi":true,
          "contentDeliveryApi":true
        }

  recorded_at: Mon, 25 Jan 2016 18:18:34 GMT
[...]
