---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/locales/63274yOrU0s4XiJlAp1ZMQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fab116ed30948a33ad0a220ad9082a10"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - b89-1520966044
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Locale",
            "id":"63274yOrU0s4XiJlAp1ZMQ",
            "version":4,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bjwq7b86vgmm"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T13:21:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-25T18:20:48Z"
          },
          "name":"U. S. English",
          "internal_code":"en-US",
          "code":"en-US",
          "fallback_code":null,
          "default":true,
          "contentManagementApi":true,
          "contentDeliveryApi":true
        }

  recorded_at: Mon, 25 Jan 2016 18:22:34 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/environments/master/locales/63274yOrU0s4XiJlAp1ZMQ
    body:
      encoding: UTF-8
      string: '{"code":"es"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"25c5ca13d058427323963558ea2e6612"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - b89-1520966054
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Locale",
            "id":"63274yOrU0s4XiJlAp1ZMQ",
            "version":5,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bjwq7b86vgmm"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T13:21:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-25T18:22:37Z"
          },
          "name":"U. S. English",
          "internal_code":"en-US",
          "code":"es",
          "fallback_code":null,
          "default":true,
          "contentManagementApi":true,
          "contentDeliveryApi":true
        }

  recorded_at: Mon, 25 Jan 2016 18:22:35 GMT
[...]
