---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"7da63b2b660c177823e607458a3be599"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 2c3c41dc0643f21a9d381198ce34b0e1
      X-Iinfo:
      - 4-14002328-14002335 NNNN CT(109 110 0) RT(1521202803400 68) q(0 0 2 0) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":2,
          "limit":25,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "name":"master",
              "sys":{
                "type":"Environment",
                "id":"master",
                "version":1,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"facgnwwgj5fe"
                  }
                },
                "status":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Status",
                    "id":"ready"
                  }
                },
                "locales":[
                  {
                    "sys":{
                      "type":"Link",
                      "linkType":"Locale",
                      "id":"1NkEdf220AtNFVgJO9fFQ2"
                    }
                  },
                  {
                    "sys":{
                      "type":"Link",
                      "linkType":"Locale",
                      "id":"2QKRtwD3DKOkYKXJJsYdHk"
                    }
                  },
                  {
                    "sys":{
                      "type":"Link",
                      "linkType":"Locale",
                      "id":"4YnLeSNLymCAZ6eYwJmhzu"
                    }
                  }
                ],
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "createdAt":"2017-12-07T10:54:10Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt":"2017-12-07T10:54:10Z"
              }
            },
            {
              "name":"testing",
              "sys":{
                "type":"Environment",
                "id":"testing",
                "version":6,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"facgnwwgj5fe"
                  }
                },
                "status":{
                  "sys":{
                    [...]
