---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/delete_me
    body:
      encoding: UTF-8
      string: '{"name":"Delete Me"}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"2c7bf1f5088db60f5b27e59bb30b1fd6"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35997'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - ef4ce899d6ac652f12b9001bff94e7f8
      X-Iinfo:
      - 5-18705822-18705831 NNNN CT(107 107 0) RT(1521203107896 79) q(0 0 2 -1) r(7
        7) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Delete Me",
          "sys":{
            "type":"Environment",
            "id":"delete_me",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"queued"
              }
            },
            "locales":[
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"1NkEdf220AtNFVgJO9fFQ2"
                }
              },
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"2QKRtwD3DKOkYKXJJsYdHk"
                }
              },
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"4YnLeSNLymCAZ6eYwJmhzu"
                }
              }
            ],
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-03-16T12:25:08Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-03-16T12:25:08Z"
          }
        }

  recorded_at: Fri, 16 Mar 2018 12:25:07 GMT
recorded_with: VCR 4.0.0
