---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/testing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"7addbd6e3f984290085000843bde767d"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 0b6e5ea046dcdbfe621054c688590d58
      X-Iinfo:
      - 8-18287448-18287459 NNNN CT(107 110 0) RT(1521202946950 62) q(0 0 2 -1) r(4
        4) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"testing",
          "sys":{
            "type":"Environment",
            "id":"testing",
            "version":6,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "locales":[
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"1NkEdf220AtNFVgJO9fFQ2"
                }
              },
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"2QKRtwD3DKOkYKXJJsYdHk"
                }
              },
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"4YnLeSNLymCAZ6eYwJmhzu"
                }
              }
            ],
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-02-27T10:19:01Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-02-27T10:19:04Z"
          }
        }

  recorded_at: Fri, 16 Mar 2018 12:22:26 GMT
recorded_with: VCR 4.0.0
