---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/delete_me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"c0b5930f0f9b468ad0bdaaa5cfe08759"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35996'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - dc9d83a9a5979f1a90e9fe05d28892f3
      X-Iinfo:
      - 7-14664080-14664084 NNNN CT(101 104 0) RT(1521203351055 66) q(0 0 2 -1) r(4
        4) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Delete Me",
          "sys":{
            "type":"Environment",
            "id":"delete_me",
            "version":6,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "locales":[
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"1NkEdf220AtNFVgJO9fFQ2"
                }
              },
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"2QKRtwD3DKOkYKXJJsYdHk"
                }
              },
              {
                "sys":{
                  "type":"Link",
                  "linkType":"Locale",
                  "id":"4YnLeSNLymCAZ6eYwJmhzu"
                }
              }
            ],
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-03-16T12:25:08Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-03-16T12:25:10Z"
          }
        }

  recorded_at: Fri, 16 Mar 2018 12:29:10 GMT
recorded_with: VCR 4.0.0
