---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334431491
      Etag:
      - '"cbeabcb3476920c3f3a426f8cf41795d"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":8,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-31T07:04:29Z"
          },
          "name":"NewNameSpace"}
  recorded_at: Thu, 31 Jul 2014 07:10:02 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4c43b6e34924f7e65971295370191384"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "name",
                  "id": "name",
                  "type": "Text",
                  "uiid": "3fflnrplhc0",
                  "localized": true
                },
                {
                  "name": "age",
                  "id": "age",
                  "uiid": "2t5blkc7u2o",
                  "type": "Integer",
                  "localized": true
                },
                {
                  "name": "city",
                  "id": "city",
                  "type": "Location",
                  "uiid": "4fzl5jkm1a8",
                  "localized": false
                },
                {
                  "name[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334431493
      Etag:
      - '"39640635b4519a9604d27cb6b3a979b3"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Locale",
                "id":"42irhRZ5uMrRc9SZ1PyDRk",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"yr5m0jky5hsh"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"0fn5fOWn4WsKFyYla1gI5h"
                  }
                },
                "createdAt":"2014-07-30T07:46:19Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"0fn5fOWn4WsKFyYla1gI5h"
                  }
                },
                "updatedAt":"2014-07-30T07:46:19Z"
              },
              "name":"U.S. English",
              "code":"en-US",
              "default":true,
              "contentManagementApi":true,
              "publish":true,
              "contentDeliveryApi":true
            },
            {
              "sys":{
                "type":"Locale",
                "id":"3QwNQbA5IApftHq2TqWzbw",
                "version":1,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"yr5m0jky5hsh"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/locales/42irhRZ5uMrRc9SZ1PyDRk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Req[...]
