---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/5gQdVmPHKwIk2MumquYwOu/snapshots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ee206ff530734e5e435ba4e4a6f65138"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35989'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - fdd656a48caca3b9ebdb56278bbd97e9
      X-Iinfo:
      - 5-81023772-81023789 NNNN CT(80 84 0) RT(1489582840232 76) q(0 0 1 -1) r(72
        72) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "type": "Snapshot",
                "snapshotType": "publish",
                "id": "6DglRQMMHWUnzi2F3RjFFo",
                "createdAt": "2017-03-10T15:58:05.435Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt": "2017-03-10T15:58:05.435Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "facgnwwgj5fe"
                  }
                }
              },
              "snapshot": {
                "fields": {
                  "name": {
                    "en-US": "something else"
                  }
                },
                "sys": {
                  "id": "5gQdVmPHKwIk2MumquYwOu",
                  "type": "Entry",
                  "createdAt": "2017-03-02T18:47:44.195Z",
                  "createdBy": {
                    "sys": {
                      "type": "Link",
                      "linkType": "User",
                      "id": "4SejVrWT96dvL9IV4Nb7sQ"
                    }
                  },
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "facgnwwgj5fe"
                    }
                  },
                  "contentType": {
                    "sys": {
                      "type": "Link",
                      "linkType": "ContentType",
                      "id": "test"
                    }
                  },
                  "version": 3,
                  "updatedAt": "2017-03-10T15:58:05.418Z",
                  "updatedBy": {
                    "sys": {
                      "type": "Link",
                      "linkType": "User",
                      "id": "4SejVrWT96dvL9IV4Nb7sQ"
                    }
                  },
                  "firstPublishedAt": "2017-03-10T15:58:05.418Z",
                  "publishedCounter": 1,
                  "publishedAt": "2017-03-10T15:58:05.418Z",
                  "publishedBy": {
                    "sys": {
                      "type": "Link",
                      "linkType": "User",
                      "id": "4SejVrWT96dvL9IV4Nb7sQ"
                    }
                  },
                  "publishedVersion": 2
                }
              }
            }
          ],
          "skip": 0,
          "limit": 100
        }
  recorded_at: Wed, 15 Mar 2017 13:00:48 GMT
recorded_with: VCR 3.0.3
