---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/cat/snapshots
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1fe63bc1700574e5b3d0711383c3189a"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35974'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 8c63055db8e628147c4e41760df62e02
      X-Iinfo:
      - 10-5867232-5867293 NNNN CT(142 144 0) RT(1506642248820 363) q(0 0 3 -1) r(39
        39) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "type": "Snapshot",
                "snapshotType": "publish",
                "snapshotEntityType": "ContentType",
                "id": "5bfy52PVk8HwBfXURLOsWJ",
                "createdAt": "2017-06-26T17:09:50.255Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt": "2017-06-26T17:09:50.255Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "facgnwwgj5fe"
                  }
                }
              },
              "snapshot": {
                "name": "Cat",
                "fields": [
                  {
                    "name": "Name",
                    "id": "name",
                    "type": "Symbol",
                    "validations": [],
                    "localized": false,
                    "required": false,
                    "disabled": false,
                    "omitted": false
                  },
                  {
                    "name": "Lives",
                    "id": "lives",
                    "type": "Integer",
                    "validations": [],
                    "localized": false,
                    "required": false,
                    "disabled": false,
                    "omitted": false
                  },
                  {
                    "name": "Best Friend",
                    "id": "bestFriend",
                    "ty[...]
