---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/cat/snapshots/5bfy52PVk8HwBfXURLOsWJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c483101201275f9b2cbbfc3af8d823c1"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35970'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 7afa2bfae92a893bf168a8c22528fbb7
      X-Iinfo:
      - 10-5963897-5963914 NNNN CT(159 327 0) RT(1506644440175 322) q(0 0 5 -1) r(8
        8) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Snapshot",
            "snapshotType": "publish",
            "snapshotEntityType": "ContentType",
            "id": "5bfy52PVk8HwBfXURLOsWJ",
            "createdAt": "2017-06-26T17:09:50.255Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt": "2017-06-26T17:09:50.255Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            }
          },
          "snapshot": {
            "name": "Cat",
            "fields": [
              {
                "name": "Name",
                "id": "name",
                "type": "Symbol",
                "validations": [],
                "localized": false,
                "required": false,
                "disabled": false,
                "omitted": false
              },
              {
                "name": "Lives",
                "id": "lives",
                "type": "Integer",
                "validations": [],
                "localized": false,
                "required": false,
                "disabled": false,
                "omitted": false
              },
              {
                "name": "Best Friend",
                "id": "bestFriend",
                "type": "Link",
                "linkType": "Entry",
                "localized": false,
                "required": false,
                "disabled": false,
                "omitted": false,
                "validations": []
              },
              {
                "name": "Likes",
                "id": "likes",
                "type": "Array",
                "items": {
                  "type": "Symbol"
                }
              }
            ],
            "sys": {
              "id": "cat",
              "type": "ContentType",
              "createdAt": "2017-05-08T14:06:00.224Z",
              "createdBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "space": {
                "sys": {
                  "type": "Link",
                  "linkType": "Space",
                  "id": "facgnwwgj5fe"
                }
              },
              "version": 4,
              "updatedAt": "2017-06-26T17:09:50.074Z",
              "updatedBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "firstPublishedAt": "2017-05-08T14:06:00.749Z",
              "publishedCounter": 2,
              "publishedAt": "2017-06-26T17:09:50.074Z",
              "publishedBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "publishedVersion": 3
            },
            "displayField": "name"
          }
        }
  recorded_at: Fri, 29 Sep 2017 00:20:42 GMT
recorded_with: VCR 3.0.3
