---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/5gQdVmPHKwIk2MumquYwOu/snapshots/6DglRQMMHWUnzi2F3RjFFo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e7cb4a6a14f463d523a7917c8f8c0798"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35990'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 22d901abad32cb929af5ff811fa7c576
      X-Iinfo:
      - 7-48171554-48171566 NNNN CT(76 76 0) RT(1489582836194 75) q(0 0 2 -1) r(38
        38) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Snapshot",
            "snapshotType": "publish",
            "id": "6DglRQMMHWUnzi2F3RjFFo",
            "createdAt": "2017-03-10T15:58:05.435Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt": "2017-03-10T15:58:05.435Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            }
          },
          "snapshot": {
            "fields": {
              "name": {
                "en-US": "something else"
              }
            },
            "sys": {
              "id": "5gQdVmPHKwIk2MumquYwOu",
              "type": "Entry",
              "createdAt": "2017-03-02T18:47:44.195Z",
              "createdBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "space": {
                "sys": {
                  "type": "Link",
                  "linkType": "Space",
                  "id": "facgnwwgj5fe"
                }
              },
              "contentType": {
                "sys": {
                  "type": "Link",
                  "linkType": "ContentType",
                  "id": "test"
                }
              },
              "version": 3,
              "updatedAt": "2017-03-10T15:58:05.418Z",
              "updatedBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "firstPublishedAt": "2017-03-10T15:58:05.418Z",
              "publishedCounter": 1,
              "publishedAt": "2017-03-10T15:58:05.418Z",
              "publishedBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "publishedVersion": 2
            }
          }
        }
  recorded_at: Wed, 15 Mar 2017 13:00:40 GMT
recorded_with: VCR 3.0.3
