---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/5gQdVmPHKwIk2MumquYwOu/snapshots/6DglRQMMHWUnzi2F3RjFFo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e7cb4a6a14f463d523a7917c8f8c0798"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35997'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - c6415481467edf1db09a8f6af9992f0b
      X-Iinfo:
      - 6-189905-189906 NNNN CT(75 77 0) RT(1489587310149 82) q(0 0 1 -1) r(3 3) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Snapshot",
            "snapshotType": "publish",
            "id": "6DglRQMMHWUnzi2F3RjFFo",
            "createdAt": "2017-03-10T15:58:05.435Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt": "2017-03-10T15:58:05.435Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            }
          },
          "snapshot": {
            "fields": {
              "name": {
                "en-US": "something else"
              }
            },
            "sys": {
              "id": "5gQdVmPHKwIk2MumquYwOu",
              "type": "Entry",
              "createdAt": "2017-03-02T18:47:44.195Z",
              "createdBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "space": {
                "sys": {
                  "type": "Link",
                  "linkType": "Space",
                  "id": "facgnwwgj5fe"
                }
              },
              "contentType": {
                "sys": {
                  "type": "Link",
                  "linkType": "ContentType",
                  "id": "test"
                }
              },
              "version": 3,
              "updatedAt": "2017-03-10T15:58:05.418Z",
              "updatedBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "firstPublishedAt": "2017-03-10T15:58:05.418Z",
              "publishedCounter": 1,
              "publishedAt": "2017-03-10T15:58:05.418Z",
              "publishedBy": {
                "sys": {
                  "type": "Link",
                  "linkType": "User",
                  "id": "4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "publishedVersion": 2
            }
          }
        }
  recorded_at: Wed, 15 Mar 2017 14:15:11 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c34724c7958eb31fe3ea50969e50f751"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35996'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - b1328a38a8618fede4530cded1786e7c
      X-Iinfo:
      - 4-368281-368307 NNNN CT(78 77 0) RT(1489587310676 76) q(0 0 2 -1) r(39 39)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "name": "Test",
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "disabled": false,
              "omitted": false,
              "validations": []
            }
          ],
          "displayField": "name",
          "description": "",
          "sys": {
            "id": "test",
            "type": "ContentType",
            "createdAt": "2017-03-02T18:32:49.570Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            },
            "firstPublishedAt": "2017-03-02T18:32:50.559Z",
            "publishedCounter": 1,
            "publishedAt": "2017-03-02T18:32:50.559Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 1,
            "version": 2,
            "updatedAt": "2017-03-02T18:32:50.586Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 15 Mar 2017 14:15:15 GMT
recorded_with: VCR 3.0.3
