---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/org_id/space_periodic_usages
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.11.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"7c5643e7f71b361981ac377a40c500f8"
      X-Contentful-Request-Id:
      - 1dec267c29099f2dedcfd33073125e5b
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 3-21255905-21255911 NNNY CT(0 0 0) RT(1582902680536 57) q(0 0 0 -1) r(8 8)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":112,
          "limit":100,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "metric":"cma",
              "usage":8855,
              "usagePerDay":{
                "2020-01-15":0,
                "2020-01-16":0,
                "2020-01-17":0,
                "2020-01-18":0,
                "2020-01-19":0,
                "2020-01-20":0,
                "2020-01-21":0,
                "2020-01-22":0,
                "2020-01-23":0,
                "2020-01-24":0,
                "2020-01-25":0,
                "2020-01-26":0,
                "2020-01-27":0,
                "2020-01-28":0,
                "2020-01-29":0,
                "2020-01-30":0,
                "2020-01-31":0,
                "2020-02-01":0,
                "2020-02-02":0,
                "2020-02-03":0,
                "2020-02-04":5842,
                "2020-02-05":3013,
                "2020-02-06":0,
                "2020-02-07":0,
                "2020-02-08":0,
                "2020-02-09":0,
                "2020-02-10":0,
                "2020-02-11":0,
                "2020-02-12":0,
                "2020-02-13":0,
                "2020-02-14":0,
                "2020-02-15":0,
                "2020-02-16":0,
                "2020-02-17":0,
                "2020-02-18":0,
                "2020-02-19":0,
                "2020-02-20":0,
                "2020-02-21":0,
                "2020-02-22":0,
                "2020-02-23":0,
                "2020-02-24":0,
                "2020-02-25":0,
                "2020-02-26":0,
                "2020-02-27":0,
                "2020-02-28":0
              },
              "unitOfMeasure":"apiRequestsCount",
              "sys":{
                "type":"SpacePeriodicUsage",
                "id":"usage-cma-fj3kyv4vsm89-2020-01-15-2020-02-28",
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"fj3kyv4vsm89"
                  }
                }
              },
              "dateRange":{
                "startAt":"2020-01-15",
                "endAt":"2020-02-28"
              }
            },
            {
              "metric":"cma",
              "usage":5489,
              "usagePerDay":{
                "2020-01-15":2619,
                "2020-01-16":12,
                "2020-01-17":547,
                "2020-01-18":0,
                "2020-01-19":0,
                "2020-01-20":513,
                "2020-01-21":31,
                "2020-01-22":0,
                "2020-01-23":34,
                "2020-01-24":0,
                "2020-01[...]
