---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/org_id/space_periodic_usages?metric%5Bin%5D=cda
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.11.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"31dd1bbda1d898fe8cdaddb7a9a0f0bf"
      X-Contentful-Request-Id:
      - 71d2e808c2633f7f446547b081d8e89f
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 14-79734831-79734871 NNNY CT(0 0 0) RT(1582902681667 78) q(0 0 0 -1) r(2 3)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":28,
          "limit":100,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "metric":"cda",
              "usage":498,
              "usagePerDay":{
                "2020-01-15":0,
                "2020-01-16":0,
                "2020-01-17":0,
                "2020-01-18":0,
                "2020-01-19":0,
                "2020-01-20":0,
                "2020-01-21":0,
                "2020-01-22":0,
                "2020-01-23":0,
                "2020-01-24":0,
                "2020-01-25":0,
                "2020-01-26":0,
                "2020-01-27":0,
                "2020-01-28":0,
                "2020-01-29":0,
                "2020-01-30":0,
                "2020-01-31":0,
                "2020-02-01":0,
                "2020-02-02":0,
                "2020-02-03":459,
                "2020-02-04":0,
                "2020-02-05":0,
                "2020-02-06":0,
                "2020-02-07":0,
                "2020-02-08":0,
                "2020-02-09":0,
                "2020-02-10":0,
                "2020-02-11":0,
                "2020-02-12":0,
                "2020-02-13":0,
                "2020-02-14":0,
                "2020-02-15":0,
                "2020-02-16":0,
                "2020-02-17":0,
                "2020-02-18":0,
                "2020-02-19":0,
                "2020-02-20":0,
                "2020-02-21":0,
                "2020-02-22":0,
                "2020-02-23":0,
                "2020-02-24":0,
                "2020-02-25":0,
                "2020-02-26":39,
                "2020-02-27":0,
                "2020-02-28":0
              },
              "unitOfMeasure":"apiRequestsCount",
              "sys":{
                "type":"SpacePeriodicUsage",
                "id":"usage-cda-2l3j7k267g9k-2020-01-15-2020-02-28",
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"2l3j7k267g9k"
                  }
                }
              },
              "dateRange":{
                "startAt":"2020-01-15",
                "endAt":"2020-02-28"
              }
            },
            {
              "metric":"cda",
              "usage":335,
              "usagePerDay":{
                "2020-01-15":0,
                "2020-01-16":0,
                "2020-01-17":0,
                "2020-01-18":0,
                "2020-01-19":0,
                "2020-01-20":0,
                "2020-01-21":0,
                "2020-01-22":0,
                "2020-01-23":0,
                "2020-01-24":0,
                "2020-01-25":0,
   [...]
