---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/users/me/access_tokens
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"1716686f0f9148d4bedf71b34151de1c"
      X-Contentful-Request-Id:
      - 61b89142e1d0104fa78d4febb524aa69
      X-Iinfo:
      - 9-80202481-80202579 NNNN CT(28 35 0) RT(1507302972170 382) q(0 0 1 3) r(1
        1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":1,
          "limit":25,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "name":"Playground",
              "revokedAt":null,
              "sys":{
                "type":"PersonalAccessToken",
                "id":"3XBnbqn5s7oJ5PxyZiTzIg",
                "createdAt":"2017-08-14T13:43:41Z",
                "updatedAt":"2017-08-14T13:43:41Z"
              },
              "scopes":["content_management_manage"]
            }
          ]
        }

  recorded_at: Fri, 06 Oct 2017 15:16:13 GMT
recorded_with: VCR 3.0.3
