---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/users/me/access_tokens
    body:
      encoding: UTF-8
      string: '{"name":"Test Token","scopes":["content_management_manage"]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"883ee3bb6b8555af2e47fb5c0ff3c440"
      Location:
      - https://api.contentful.com/users/me/access_tokens/4us7wI40rNxTDzLuLl79dA
      X-Contentful-Request-Id:
      - f0f4b0bd6f03b25380ad213cfcabc0eb
      X-Iinfo:
      - 9-80390063-80390142 NNNN CT(26 57 0) RT(1507303556874 322) q(0 0 1 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Test Token",
          "revokedAt":null,
          "sys":{
            "type":"PersonalAccessToken",
            "id":"4us7wI40rNxTDzLuLl79dA",
            "createdAt":"2017-10-06T15:25:58Z",
            "updatedAt":"2017-10-06T15:25:58Z"
          },
          "scopes":["content_management_manage"],
          "token":"CFPAT-testytest"
        }

  recorded_at: Fri, 06 Oct 2017 15:25:58 GMT
recorded_with: VCR 3.0.3
