---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/users/me/access_tokens/not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 16d1c4aba70a28ca623f225a465415e5
      X-Iinfo:
      - 9-80257423-80257534 NNNN CT(0 0 0) RT(1507303153671 321) q(0 0 0 -1) r(1 1)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "requestId":"16d1c4aba70a28ca623f225a465415e5",
          "message":"The resource could not be found.",
          "sys":{
            "type":"Error",
            "id":"NotFound"
          }
        }

  recorded_at: Fri, 06 Oct 2017 15:19:15 GMT
recorded_with: VCR 3.0.3
