---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/users/me/access_tokens/3XBnbqn5s7oJ5PxyZiTzIg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"a58719a01ac6ffe482534bf2f41b52ed"
      X-Contentful-Request-Id:
      - 8074aa4c59a616d2b3365d29aa06d210
      X-Iinfo:
      - 9-80256826-80256908 NNNN CT(42 64 0) RT(1507303151736 348) q(0 0 2 10) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Playground",
          "revokedAt":null,
          "sys":{
            "type":"PersonalAccessToken",
            "id":"3XBnbqn5s7oJ5PxyZiTzIg",
            "createdAt":"2017-08-14T13:43:41Z",
            "updatedAt":"2017-08-14T13:43:41Z"
          },
          "scopes":["content_management_manage"]
        }

  recorded_at: Fri, 06 Oct 2017 15:19:13 GMT
recorded_with: VCR 3.0.3
