---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/users/me/access_tokens/4us7wI40rNxTDzLuLl79dA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"b13714579e4675eed2816c27df182734"
      X-Contentful-Request-Id:
      - c5fd984859db4eef20c03d0cd00016ba
      X-Iinfo:
      - 9-80675799-80675956 NNNN CT(0 0 0) RT(1507304420827 320) q(0 0 0 -1) r(1 1)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Test Token",
          "revokedAt":null,
          "sys":{
            "type":"PersonalAccessToken",
            "id":"4us7wI40rNxTDzLuLl79dA",
            "createdAt":"2017-10-06T15:25:58Z",
            "updatedAt":"2017-10-06T15:25:58Z"
          },
          "scopes":["content_management_manage"]
        }

  recorded_at: Fri, 06 Oct 2017 15:40:22 GMT
- request:
    method: put
    uri: https://api.contentful.com/users/me/access_tokens/4us7wI40rNxTDzLuLl79dA/revoked
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"f4de5eccc61c304cffbcf17ff63c8d51"
      X-Contentful-Request-Id:
      - 4ee3d8017f1edd350cbf61d86202af81
      X-Iinfo:
      - 1-28432508-28432598 NNNN CT(48 86 0) RT(1507304421530 312) q(0 0 1 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Test Token",
          "revokedAt":"2017-10-06T15:40:22Z",
          "sys":{
            "type":"PersonalAccessToken",
            "id":"4us7wI40rNxTDzLuLl79dA",
            "createdAt":"2017-10-06T15:25:58Z",
            "updatedAt":"2017-10-06T15:25:58Z"
          },
          "scopes":["content_management_manage"]
        }

  recorded_at: Fri, 06 Oct 2017 15:40:23 GMT
recorded_with: VCR 3.0.3
