---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/arqlnkt58eul/environments/master/extensions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fa58f82b9b1e883c33946ed45dfa57b1"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35992'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - fb6da861989b07a0fda1634d7b3021d9
      X-Iinfo:
      - 7-35862200-35862210 NNNN CT(97 79 0) RT(1504597597623 103) q(0 0 2 -1) r(44
        45) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 23,
          "skip": 0,
          "limit": 0,
          "items": [
            {
              "extension": {
                "srcdoc": "<!doctype html><html lang='en'><head><meta charset='UTF-8'/><title>Sample Editor Extension</title><link rel='stylesheet' href='https://contentful.github.io/ui-extensions-sdk/cf-extension.css'><script src='https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js'></script></head><body><div id='content'></div><script>window.contentfulExtension.init(function (extension) {window.alert(extension);var value = extension.field.getValue();extension.field.setValue('Hello world!');extension.field.onValueChanged(function(value) {if (value !== currentValue) {extension.field.setValue('Hello world!');}});});</script></body></html>",
                "name": "My awesome extension by srcDoc",
                "fieldTypes": [
                  {
                    "type": "Symbol"
                  },
                  {
                    "type": "Text"
                  }
                ],
                "sidebar": false
              },
              "sys": {
                "id": "2ZJduY1pKEma6G8Y2ImqYU",
                "type": "Extension",
                "version": 1,
                "createdAt": "2017-06-29T11:04:33.874Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7uJNojWP0gbuP7Pplz7Syo"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "arqlnkt58eul"
                  }
                },
                "updatedAt": "2017-06-29T11:04:33.874Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7uJNojWP0gbuP7Pplz7Syo"
                  }
                }
              }
            },
            {
              "extension": {
                "srcdoc": "<!doctype html> <html lang='en'> <head> <meta charset='UTF-8'/> <title>Sample Editor Extension<itle> <link rel='stylesheet' href='https://contentful.github.io/ui-extensions-sdk/cf-extension.css'> <script src='https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js'></script> </head> <body> <div id='content'></div> <script> window.contentfulExtension.init(function (extension) { var value = extension.field.getValue() extension.field.setValue('Hello world!')extension.field.onValueChanged(function(value) { if (value !== currentValue) { extension.field.setValue('Hello world!') } }) }) </[...]
