---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/extensions
    body:
      encoding: UTF-8
      string: '{"extension":{"name":"test extension","fieldTypes":[{"type":"Symbol"},{"type":"Text"}],"srcdoc":"<!doctype
        html><html lang=''en''><head><meta charset=''UTF-8''/><title>Sample Editor
        Extension</title><link rel=''stylesheet'' href=''https://contentful.github.io/ui-extensions-sdk/cf-extension.css''><script
        src=''https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js''></script></head><body><div
        id=''content''></div><script>window.contentfulExtension.init(function (extension)
        {window.alert(extension);var value = extension.field.getValue();extension.field.setValue(''Hello
        world!'');extension.field.onValueChanged(function(value) {if (value !== currentValue)
        {extension.field.setValue(''Hello world!'');}});});</script></body></html>","sidebar":false}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3c3f283a1b01a549c0467b23caddc121"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35992'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - c6e60fd3e4a9a1acbec3991a9f6a0079
      X-Iinfo:
      - 6-29668290-29668300 NNNN CT(81 168 0) RT(1504613173362 90) q(0 0 3 -1) r(50
        50) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "extension": {
            "name": "test extension",
            "fieldTypes": [
              {
                "type": "Symbol"
              },
              {
                "type": "Text"
              }
            ],
            "srcdoc": "<!doctype html><html lang='en'><head><meta charset='UTF-8'/><title>Sample Editor Extension</title><link rel='stylesheet' href='https://contentful.github.io/ui-extensions-sdk/cf-extension.css'><script src='https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js'></script></head><body><div id='content'></div><script>window.contentfulExtension.init(function (extension) {window.alert(extension);var value = extension.field.getValue();extension.field.setValue('Hello world!');extension.field.onValueChanged(function(value) {if (value !== currentValue) {extension.field.setValue('Hello world!');}});});</script></body></html>",
            "sidebar": false
          },
          "sys": {
            "id": "2rf6QdckyoECCsQeE6gIOg",
            "type": "Extension",
            "version": 1,
            "createdAt": "2017-09-05T12:06:18.463Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            },
            "updatedAt": "2017-09-05T12:06:18.463Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 05 Sep 2017 12:06:18 GMT
recorded_with: VCR 3.0.3
