---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/extensions
    body:
      encoding: UTF-8
      string: '{"extension":{"name":"test extension with parameters","fieldTypes":[{"type":"Symbol"},{"type":"Text"}],"srcdoc":"<!doctype
        html><html lang=''en''><head><meta charset=''UTF-8''/><title>Sample Editor
        Extension</title><link rel=''stylesheet'' href=''https://contentful.github.io/ui-extensions-sdk/cf-extension.css''><script
        src=''https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js''></script></head><body><div
        id=''content''></div><script>window.contentfulExtension.init(function (extension)
        {window.alert(extension);var value = extension.field.getValue();extension.field.setValue(''Hello
        world!'');extension.field.onValueChanged(function(value) {if (value !== currentValue)
        {extension.field.setValue(''Hello world!'');}});});</script></body></html>","sidebar":false,"parameters":{"installation":[{"id":"devMode","type":"Boolean","name":"Run
        in development mode"},{"id":"retries","type":"Number","name":"Number of retries
        for API calls","required":true,"default":3}],"instance":[{"id":"helpText","type":"Symbol","name":"Help
        text","description":"Help text for a user to help them understand the editor"},{"id":"theme","type":"Enum","name":"Theme","options":[{"light":"Solarized
        light"},{"dark":"Solarized dark"}],"default":"light","required":true}]}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.2; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"50fc26040b8f7898294544bf73a66273"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35997'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - d556a4cb9c9e3537540d7440c11148c0
      X-Iinfo:
      - 13-91206138-91206170 NNNN CT(92 91 0) RT(1534508569104 58) q(0 0 2 -1) r(11
        11) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "extension": {
            "name": "test extension with parameters",
            "fieldTypes": [
              {
                "type": "Symbol"
              },
              {
                "type": "Text"
              }
            ],
            "srcdoc": "<!doctype html><html lang='en'><head><meta charset='UTF-8'/><title>Sample Editor Extension</title><link rel='stylesheet' href='https://contentful.github.io/ui-extensions-sdk/cf-extension.css'><script src='https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js'></script></head><body><div id='content'></div><script>window.contentfulExtension.init(function (extension) {window.alert(extension);var value = extension.field.getValue();extension.field.setValue('Hello world!');extension.field.onValueChanged(function(value) {if (value !== currentValue) {extension.field.setValue('Hello world!');}});});</script></body></html>",
            "sidebar": false,
            "parameters": {
              "installation": [
                {
                  "id": "devMode",
                  "ty[...]
