---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/extensions/2rf6QdckyoECCsQeE6gIOg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3c3f283a1b01a549c0467b23caddc121"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35990'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - d374897412b5c5a2b36c9c190102b103
      X-Iinfo:
      - 9-53465733-53465778 NNNN CT(78 78 0) RT(1504613888921 74) q(0 0 2 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "extension": {
            "name": "test extension",
            "fieldTypes": [
              {
                "type": "Symbol"
              },
              {
                "type": "Text"
              }
            ],
            "srcdoc": "<!doctype html><html lang='en'><head><meta charset='UTF-8'/><title>Sample Editor Extension</title><link rel='stylesheet' href='https://contentful.github.io/ui-extensions-sdk/cf-extension.css'><script src='https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js'></script></head><body><div id='content'></div><script>window.contentfulExtension.init(function (extension) {window.alert(extension);var value = extension.field.getValue();extension.field.setValue('Hello world!');extension.field.onValueChanged(function(value) {if (value !== currentValue) {extension.field.setValue('Hello world!');}});});</script></body></html>",
            "sidebar": false
          },
          "sys": {
            "id": "2rf6QdckyoECCsQeE6gIOg",
            "type": "Extension",
            "version": 1,
            "createdAt": "2017-09-05T12:06:18.463Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            },
            "updatedAt": "2017-09-05T12:06:18.463Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 05 Sep 2017 12:18:10 GMT
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/extensions/2rf6QdckyoECCsQeE6gIOg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35988'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - d603bc5d7e15bc36625bcad4796ab0ae
      X-Iinfo:
      - 0-17229234-17229248 NNNN CT(93 77 0) RT(1504613890213 70) q(0 0 2 -1) r(43
        43) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "Extension",
            "space": "facgnwwgj5fe",
            "id": "2rf6QdckyoECCsQeE6gIOg"
          },
          "requestId": "d603bc5d7e15bc36625bcad4796ab0ae"
        }
  recorded_at: Tue, 05 Sep 2017 12:18:15 GMT
recorded_with: VCR 3.0.3
