---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/arqlnkt58eul/environments/master/extensions/2ZJduY1pKEma6G8Y2ImqYU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"99ea76707e6a1fc674843e1499562353"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35991'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - c1ee2bfbd07b40eb4ca782c86b5db7fc
      X-Iinfo:
      - 0-15790052-15790054 NNNN CT(88 86 0) RT(1504597938029 66) q(0 0 2 -1) r(44
        44) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "extension": {
            "srcdoc": "<!doctype html><html lang='en'><head><meta charset='UTF-8'/><title>Sample Editor Extension</title><link rel='stylesheet' href='https://contentful.github.io/ui-extensions-sdk/cf-extension.css'><script src='https://contentful.github.io/ui-extensions-sdk/cf-extension-api.js'></script></head><body><div id='content'></div><script>window.contentfulExtension.init(function (extension) {window.alert(extension);var value = extension.field.getValue();extension.field.setValue('Hello world!');extension.field.onValueChanged(function(value) {if (value !== currentValue) {extension.field.setValue('Hello world!');}});});</script></body></html>",
            "name": "My awesome extension by srcDoc",
            "fieldTypes": [
              {
                "type": "Symbol"
              },
              {
                "type": "Text"
              }
            ],
            "sidebar": false
          },
          "sys": {
            "id": "2ZJduY1pKEma6G8Y2ImqYU",
            "type": "Extension",
            "version": 1,
            "createdAt": "2017-06-29T11:04:33.874Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "7uJNojWP0gbuP7Pplz7Syo"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "arqlnkt58eul"
              }
            },
            "updatedAt": "2017-06-29T11:04:33.874Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "7uJNojWP0gbuP7Pplz7Syo"
              }
            }
          }
        }
  recorded_at: Tue, 05 Sep 2017 07:52:23 GMT
recorded_with: VCR 3.0.3
