---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334319466
      Etag:
      - '"a964cca95dae35954c57c99f517f39e7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":6,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-30T11:56:51Z"
          },
          "name":"SaveNewName"}
  recorded_at: Wed, 30 Jul 2014 12:17:36 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b189a94a2f94b2ad197d2a5eddc83e38"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "ContentTypeForSpace",
              "description": null,
              "fields": [],
              "sys": {
                "id": "1AZQOWKr2I8W2ugY0KiGEU",
                "type": "ContentType",
                "createdAt": "2014-07-30T11:17:14.857Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "version": 1,
                "updatedAt": "2014-07-30T11:17:14.861Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
   [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6a36522012e7b20e2f0b69e4b8f42da4"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "Dog photo"
                },
                "description": {
                  "en-US": "Photo of Dog"
                },
                "file": {
                  "en-US": {
                    "fileName": "piesel_tTWRRK8aCP,q250.jpg",
                    "contentType": "image/jpeg",
                    "details": {
                      "image": {
                        "width": 250,
                        "height": 250
                      },
                      "size": 22083
                    },
                    "url": "//images.contentful.com/yr5m0jky5hsh/6zEogZjpO8cq6YOOQigiAw/09037706e5c5e6c2b910f9a4160eb697/piesel_tTWRRK8aCP_q250.jpg"
                  }
                }
              },
              "sys": {
                "id": "6zEogZjpO8cq6YOOQigiAw",
                "type": "Asset",
                "createdAt": "2014-07-30T12:14:49.380Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "version": 58,
                "updatedAt": "2014-07-30T12:16:37.270Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Wed, 30 Jul 2014 12:17:38 GMT
[...]
