---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0371a0ce2c5fae216391411caf850eba"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-669021937
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"bjwq7b86vgmm",
            "version":93,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T13:21:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-26T21:04:49Z"
          },
          "name":"Integration Tests"
        }

  recorded_at: Tue, 26 Jan 2016 21:22:31 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9832307ed8bd540e40166f6a0b00e173"'
      X-Contentful-Request-Id:
      - content-api:61WOARm6eA4uwKMMQSGqKY
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "name",
              "name": "TestCT",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Symbol",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": [],
                  "disabled": null
                }
              ],
              "sys": {
                "id": "testCt",
                "type": "ContentType",
                "createdAt": "2016-01-21T13:22:50.705Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "firstPublishedAt": "2016-01-21T13:22:51.140Z",
                "publishedCounter": 73,
                "publishedAt": "2016-01-26T21:03:35.369Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 147,
                "version": 148,
                "updatedAt": "2016-01-26T21:03:35.382Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 21:22:32 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/public/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ce8850c48d118084925339ea2d9abc11"'
      X-Contentful-Request-Id:
      - content-api:5ofjBdJdniYasuUoamuUUc
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "nyancat"
                },
                "description": {
                  "en-US": null
                },
                "file": {
                  "en-US": {
                    "fileName": "Nyan_cat_250px_frame.PNG",
                    "contentType": "image/png",
                    "details": {
                      "image": {
                        "width": 250,
                        "height": 250
                      },
                      "size": 12273
                    },
                    "url": "//images.contentful.com/bjwq7b86vgmm/3QnoGVq1viESsUw22kiAC6/4a32575e07f8da2ea820eb76424dfd74/Nyan_cat_250px_frame.PNG"
                  }
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "type": "Asset",
                "id": "3QnoGVq1viESsUw22kiAC6",
                "revision": 63,
                "createdAt": "2016-01-25T16:29:20.850Z",
                "updatedAt": "2016-01-26T21:05:57.798Z"
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 21:22:33 GMT
recorded_with: VCR 2.9.3
