---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334620875
      Etag:
      - '"d4c68b318e3d8e9caef04be009d6c4b7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":10,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-31T07:26:59Z"
          },
          "name":"BlogSpace"}
  recorded_at: Fri, 01 Aug 2014 13:17:00 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7a4f5c97b83b62117203abbd5b67796e"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Author",
              "description": "Author content",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Text",
                  "localized": true,
                  "uiid": "3jp09h4ba4g"
                },
                {
                  "id": "age",
                  "name": "age",
                  "type": "Integer",
                  "localized": true,
                  "uiid": "43my1e8ybr4"
                },
                {
                  "id": "city",
                  "name": "city",
                  "type": "Location",
                  "uiid": "45uoowshekg"
                },
                {
                  "id": "assets",
                  [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9fe1bcdb9c2fa913a48aa3d275157551"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "CodeQuest"
                },
                "description": {
                  "en-US": "Logo of Codequest"
                },
                "file": {
                  "en-US": {
                    "contentType": "image/jpeg",
                    "fileName": "codequest.jpg",
                    "details": {
                      "image": {
                        "width": 90,
                        "height": 90
                      },
                      "size": 7094
                    },
                    "url": "//images.contentful.com/yr5m0jky5hsh/4k8mYw2MzS6kYG0eGq0Yi0/e6cf326343b25955363ef0df00dca63c/codequest.jpg"
                  }
                }
              },
              "sys": {
                "id": "4k8mYw2MzS6kYG0eGq0Yi0",
                "type": "Asset",
                "createdAt": "2014-07-30T12:20:17.778Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "version": 2,
                "updatedAt": "2014-07-30T12:20:19.237Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
   [...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/assets
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Logo of Codequest comapny","pl":"Firmowe
        logo"},"description":{"en-US":"Company logo codequest","pl":"Logo firmy Codequest"},"file":{"en-US":{"contentType":"image/jpeg","fileName":"codequest.jpg","upload":"http://static.goldenline.pl/firm_logo/082/firm_225106_22f37f_small.jpg"},"pl":{"contentType":"image/jpeg","fileName":"codequest.jpg","upload":"http://static.goldenline.pl/firm_logo/082/firm_225106_22f37f_small.jpg"}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/assets/1fNn0ZFohOKi42ewiwoGyo/files/en-US/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Aug 2014 13:17:03 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/assets/1fNn0ZFohOKi42ewiwoGyo/files/pl/process
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 01 Aug 2014 13:17:03 GMT
recorded_with: VCR 2.9.2
