---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1337086970
      Etag:
      - '"4c0ee33eddaabc719d0b81c1ef79fdc4"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"bfsvtul0c41g",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-18T06:51:53Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-18T06:51:53Z"
          },
          "name":"CMA_demo_rails_app"}
  recorded_at: Tue, 19 Aug 2014 07:27:15 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b5308f63b7bc3de5cd2ef8abf4128ab7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "post_title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true
                },
                {
                  "id": "post_author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true
                },
                {
                  "id": "post_body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true
                },
                {
                  "id": "post_title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true
                },
                {
                  "id": "post_second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true
                },
                {
                  "id": "post_category_id",
                  "name": "Category",
                  "type": "Link",
                  "linkType": "Entry"
                },
                {
                  "id": "post_assets",
                  "name": "Post Assets",
                  "type": "Array",
                  "items": {
                    "type": "Link",
                    "linkType": "Asset"
                  }
                },
                {
                  "id": "xxx",
                  "name": "xxx",
                  "type": "Symbol"
                },
                {
                  "id": "xxx123",
                  "name": "xxx123",
                  "type": "Symbol"
                },
                {
                  "id": "ssss",
                  "name": "Post ssss",
                  "type": "Array",
                  "items": {
                    "type": "Link",
                    "linkType": "Asset"
                  }
                },
                {
                  "name": "xxasdasd",
                  "id": "xxasdasd",
                  "type": "Boolean",
                  "uiid": "387exwqopa8"
                }
              ],
              "sys": {
                "id": "post_content_type",
                "type": "ContentType",
                "createdAt": "2014-08-18T06:52:03.545Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bfsvtul0c41g"
                  }
                },
                "firstPublishedAt": "2014-08-18T06:52:10.462Z",
                "publishedCounter": 4,
                "publishedAt": "2014-08-18T12:42:39.643Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 33,
                "version": 34,
                "updatedAt": "2014-08-18T12:42:39.653Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "name": "Category",
              "description": "",
              "fields": [
                {
                  "id": "nam[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/assets?limit=2&skip=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a6495c81e6eedb1ff0dd48f900e476f9"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 1,
          "limit": 2,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "test"
                },
                "description": {
                  "en-US": "testowy"
                },
                "file": {
                  "en-US": {
                    "fileName": "Mowing_your_Lawn_-_Advice_and_Tips",
                    "contentType": "image/jpeg",
                    "details": {
                      "image": {
                        "width": 801,
                        "height": 1000
                      },
                      "size": 105202
                    },
                    "url": "//images.contentful.com/bfsvtul0c41g/8R4vbQXKbCkcSu26Wy2U0/4ca4dabb0305045fa5c3c786bf5d7592/mow.jpg"
                  }
                }
              },
              "sys": {
                "id": "8R4vbQXKbCkcSu26Wy2U0",
                "type": "Asset",
                "createdAt": "2014-08-19T07:25:10.104Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Gr[...]
[...]
