---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334625580
      Etag:
      - '"5c57b11337cbfadefcdd4ad178133ffd"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Space",
                "id":"l6a1rhnfkzbm",
                "version":1,
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-07-04T13:15:37Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "updatedAt":"2014-07-04T13:15:37Z"
              },
              "name":"Playground",
              "tutorial":true
            },
            {
              "sys":{
                "type":"Space",
                "id":"n6spjc167pc2",
                "version":13,
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-07-09T11:04:14Z",
                "updatedBy":{
                  "sys":{
                  [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/l6a1rhnfkzbm/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"311ac8c5ed89cece451c254973ececa5"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "Username",
                  "id": "username",
                  "type": "Text",
                  "uiid": "3wognc1mtj4"
                },
                {
                  "name": "Birthday",
                  "id": "birthday",
                  "type": "Date",
                  "uiid": "2qivbxie6tc"
                },
                {
                  "name": "Eye color",
                  "id": "eyeColor",
                  "type": "Object",
                  "uiid": "4ajqyjynmkg",
                  "disabled": false
                },
                {
                  "name": "Photo",
                  "id": "photo",
                  "type": "Link",
                  "uiid": "2m691fsu5mo",
                  "linkType": "Asset",
                  "validations": []
                }
              ],
              "name": "PiotrekCodeQuest",
              "sys": {
                "id": "4pbVYE1kkMwEoKywekEwwg",
                "type": "ContentType",
                "createdAt": "2014-07-05T10:37:13.492Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "l6a1rhnfkzbm"
                  }
                },
                "firstPublishedAt": "2014-07-05T10:41:31.485Z",
                "publishedCounter": 2,
                "publishedAt": "2014-07-05T10:48:23.983Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 139,
                "version": 140,
                "updatedAt": "2014-07-05T10:48:23.988Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              },
              "description": "Testing contentful...",
              "displayField": "username"
            }
          ]
        }
  recorded_at: Fri, 01 Aug 2014 13:57:45 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"aa6a8c371bba040d15223e1307a8f92a"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 6,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "text",
                  "id": "text",
                  "type": "Text",
                  "uiid": "3o0tc4nuv40",
                  "localized": true
                },
                {
                  "name": "numer",
                  "id": "numer",
                  "type": "Integer",
                  "uiid": "48v3t1f8xs0",
                  "localized": true
                },
                {
                  "name": "asset",
                  "id": "asset",
                  "type": "Link",
                  "uiid": "2ic3kjpcsg0",
                  "linkType": "Asset"
                }
              ],
              "name": [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7a4f5c97b83b62117203abbd5b67796e"'
      "^acc[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/1db9wmjkhf78/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Fri, 01 Aug 2014 13:57:47 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/cbvgg8sz6wyh/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Fri, 01 Aug 2014 13:57:48 GMT
recorded_with: VCR 2.9.2
