---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets/4xneId8DGouekuCcQ8yKUU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9ad2a463fd0c841d9b6b6fe7d126df08"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "deleteMe"
            },
            "description": {
              "en-US": "asd"
            },
            "file": {
              "en-US": {
                "fileName": "385-image[32].jpg",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 732,
                    "height": 154
                  },
                  "size": 20834
                },
                "url": "//images.contentful.com/n6spjc167pc2/4xneId8DGouekuCcQ8yKUU/ccd1a3122d94e67412d717fb22efd69d/385-image_32_.jpg"
              }
            }
          },
          "sys": {
            "id": "4xneId8DGouekuCcQ8yKUU",
            "type": "Asset",
            "createdAt": "2014-07-14T11:21:35.771Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "n6spjc167pc2"
              }
            },
            "firstPublishedAt": "2014-07-14T11:21:53.518Z",
            "publishedCounter": 2,
            "version": 16,
            "updatedAt": "2014-07-14T11:32:52.535Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Mon, 14 Jul 2014 11:32:58 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets/4xneId8DGouekuCcQ8yKUU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Jul 2014 11:32:59 GMT
recorded_with: VCR 2.9.2
