---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets/
    body:
      encoding: UTF-8
      string: '{"fields":[{"title":"MyFieldTitle","description":"description"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "ValidationFailed"
          },
          "message": "Validation error",
          "details": {
            "errors": [
              {
                "name": "unknown",
                "path": [
                  "fields",
                  "0"
                ],
                "value": {
                  "title": "MyFieldTitle",
                  "description": "description"
                }
              }
            ]
          }
        }
  recorded_at: Tue, 15 Jul 2014 13:30:51 GMT
recorded_with: VCR 2.9.2
