---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets/1730O0aAdyg66u604MyEWC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c1ef1cc3f0f2d3944bf5fdb1153766ae"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "AssetToDestroy"
            },
            "description": {
              "en-US": "AssetToDestroy"
            },
            "file": {
              "en-US": {
                "fileName": "385-image[32].jpg",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 732,
                    "height": 154
                  },
                  "size": 20834
                },
                "url": "//images.contentful.com/n6spjc167pc2/1730O0aAdyg66u604MyEWC/1ebdb8cdc45e04774735e08ff823f78e/385-image_32_.jpg"
              }
            }
          },
          "sys": {
            "id": "1730O0aAdyg66u604MyEWC",
            "type": "Asset",
            "createdAt": "2014-07-14T08:45:02.068Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "n6spjc167pc2"
              }
            },
            "firstPublishedAt": "2014-07-14T08:45:47.548Z",
            "publishedCounter": 36,
            "archivedAt": "2014-07-15T10:03:45.375Z",
            "archivedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "archivedVersion": 93,
            "version": 94,
            "updatedAt": "2014-07-15T10:03:45.378Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Tue, 15 Jul 2014 10:04:36 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets/1730O0aAdyg66u604MyEWC/archived
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '94'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"fd8dc44ff01db058b29b34429b0ec9a7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "AssetToDestroy"
            },
            "description": {
              "en-US": "AssetToDestroy"
    [...]
