---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/prxtx491dzrl/assets/6oL0rPJ4HeCqI6y2q2MiGo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d9e51ff0bd96f3a12e3d98aa99f213da"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "title"
            },
            "description": {
              "en-US": "description"
            },
            "file": {
              "en-US": {
                "fileName": "oauth2-flow.jpg",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 600,
                    "height": 450
                  },
                  "size": 37722
                },
                "url": "//images.contentful.com/prxtx491dzrl/6oL0rPJ4HeCqI6y2q2MiGo/d26e91a063b50d81b0b5d8012b428f80/oauth2-flow.jpg"
              }
            }
          },
          "sys": {
            "id": "6oL0rPJ4HeCqI6y2q2MiGo",
            "type": "Asset",
            "createdAt": "2014-07-16T12:39:07.747Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "prxtx491dzrl"
              }
            },
            "version": 28,
            "updatedAt": "2014-07-17T07:50:02.747Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Thu, 17 Jul 2014 07:58:42 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/prxtx491dzrl/assets/6oL0rPJ4HeCqI6y2q2MiGo
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"title 2"},"description":{"en-US":"description"},"file":{"en-US":{"fileName":"oauth2-flow.jpg","contentType":"image/jpeg","details":{"image":{"width":600,"height":450},"size":37722},"url":"//images.contentful.com/prxtx491dzrl/6oL0rPJ4HeCqI6y2q2MiGo/d26e91a063b50d81b0b5d8012b428f80/oauth2-flow.jpg"}}}}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '28'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b14bb3b051b4950583e8ffca2ab2c73b"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "title 2"
            },
            "description": {
              "en-US": "description"
            },[...]
[...]
