---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets/1730O0aAdyg66u604MyEWC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5aee23914f2d4a71cfab1ce9f8ac88f1"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "AssetToDestroy",
              "en-USx": "invalid",
              "nl": "belgium",
              "pl": "local"
            },
            "description": {
              "en-US": "AssetToDestroy",
              "en-USx": "xxx"
            },
            "file": {
              "en-US": {
                "fileName": "385-image[32].jpg",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 732,
                    "height": 154
                  },
                  "size": 20834
                },
                "url": "//images.contentful.com/n6spjc167pc2/1730O0aAdyg66u604MyEWC/1ebdb8cdc45e04774735e08ff823f78e/385-image_32_.jpg"
              }
            }
          },
          "sys": {
            "id": "1730O0aAdyg66u604MyEWC",
            "type": "Asset",
            "createdAt": "2014-07-14T08:45:02.068Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "n6spjc167pc2"
              }
            },
            "firstPublishedAt": "2014-07-14T08:45:47.548Z",
            "publishedCounter": 42,
            "publishedAt": "2014-07-15T10:51:49.332Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 139,
            "version": 140,
            "updatedAt": "2014-07-15T10:51:49.336Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 17 Jul 2014 07:18:48 GMT
recorded_with: VCR 2.9.2
