---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/assets/
    body:
      encoding: UTF-8
      string: '{"fields":[]}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3011352586e358309b19a69809752e0b"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [],
          "sys": {
            "id": "4YVM1bLVOwGmSaOOOme4EK",
            "type": "Asset",
            "version": 1,
            "createdAt": "2014-07-16T11:36:10.570Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "updatedAt": "2014-07-16T11:36:10.570Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Wed, 16 Jul 2014 11:36:09 GMT
recorded_with: VCR 2.9.2
