---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets/1730O0aAdyg66u604MyEWC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c4e30b1814f5ea0ea1b0de8389259e3d"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "AssetToDestroy"
            },
            "description": {
              "en-US": "AssetToDestroy"
            },
            "file": {
              "en-US": {
                "fileName": "385-image[32].jpg",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 732,
                    "height": 154
                  },
                  "size": 20834
                },
                "url": "//images.contentful.com/n6spjc167pc2/1730O0aAdyg66u604MyEWC/1ebdb8cdc45e04774735e08ff823f78e/385-image_32_.jpg"
              }
            }
          },
          "sys": {
            "id": "1730O0aAdyg66u604MyEWC",
            "type": "Asset",
            "createdAt": "2014-07-14T08:45:02.068Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "n6spjc167pc2"
              }
            },
            "firstPublishedAt": "2014-07-14T08:45:47.548Z",
            "publishedCounter": 31,
            "version": 81,
            "updatedAt": "2014-07-14T12:45:31.788Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Mon, 14 Jul 2014 12:59:56 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets/1730O0aAdyg66u604MyEWC/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '81'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"07b16f6bdd7a0abec0ff869285d0a2be"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "AssetToDestroy"
            },
            "description": {
              "en-US": "AssetToDestroy"
    [...]
