---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "ContentType",
            "space": "btp9v9jxpknp",
            "id": "not_exist"
          }
        }
  recorded_at: Fri, 11 Jul 2014 09:08:36 GMT
recorded_with: VCR 2.9.2
