---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"85c81ec8f8c080d6b94eaa1d90ff531c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Testowy2",
          "description": "opisik",
          "fields": [
            {
              "id": "tf1",
              "name": "test",
              "type": "Text",
              "required": false,
              "localized": false,
              "uiid": "3vaisaaz6yo"
            }
          ],
          "sys": {
            "id": "41cG5MFEb6e4wQy0sg8Mww",
            "type": "ContentType",
            "createdAt": "2014-07-10T13:08:06.424Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "firstPublishedAt": "2014-07-10T13:08:18.825Z",
            "publishedCounter": 9,
            "publishedAt": "2014-07-11T12:06:42.470Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "publishedVersion": 23,
            "version": 66,
            "updatedAt": "2014-07-16T11:15:28.930Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Wed, 16 Jul 2014 11:27:34 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww
    body:
      encoding: UTF-8
      string: '{"name":"Testowy2","description":"opisik","fields":[]}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '66'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"54085e47e2da5fe5241b0b64fd1c0bd6"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Testowy2",
          "description": "opisik",
          "fields": [],
          "sys": {
            "id": "41cG5MFEb6e4wQy0sg8Mww",
            "type": "[...]
