---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d3b7046a99b4d957416cd22646f58147"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Testowy2",
          "description": "opisik",
          "fields": [
            {
              "id": "tf1",
              "name": "tf1",
              "type": "Text",
              "required": false,
              "localized": false,
              "uiid": "40chfrtd14w"
            },
            {
              "id": "my_text_field_1",
              "name": "My Text Field 2",
              "type": "Text 2",
              "uiid": "40fxvk9hc00"
            }
          ],
          "sys": {
            "id": "41cG5MFEb6e4wQy0sg8Mww",
            "type": "ContentType",
            "createdAt": "2014-07-10T13:08:06.424Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "firstPublishedAt": "2014-07-10T13:08:18.825Z",
            "publishedCounter": 9,
            "publishedAt": "2014-07-11T12:06:42.470Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "publishedVersion": 23,
            "version": 40,
            "updatedAt": "2014-07-16T10:36:43.878Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Wed, 16 Jul 2014 10:36:48 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww
    body:
      encoding: UTF-8
      string: '{"name":"Testowy2","description":"opisik","fields":[{"id":"tf1","name":"tf1","type":"Text","required":false,"localized":false},{"id":"my_text_field_1","name":"My
        Text Field 2","type":"Text 2","required":false,"localized":false},{"id":"my_text_field_2","name":"My
        Text Field","type":"Text"}]}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '40'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"418ab6fcdec014554c298f70ebee61e6"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Testowy2",
          "description": "opisik",
          "fields": [
            {
              "id": "tf1",
              "name": "tf1",
              "t[...]
