---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"My Test Space"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 404 Not Found
      X-Contentful-Request-Id:
      - 85f-1209540846
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"MissingOrganizationParameter"
          },
          "requestId":"85f-1209540846",
          "message":"This User has multiple Organizations with permissions to create a Space. Please pass the X-Contentful-Organization header in which Organization to create the Space."}
  recorded_at: Thu, 10 Jul 2014 13:07:00 GMT
recorded_with: VCR 2.9.2
