---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"My Test Space"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 85f-1209528549
      Location:
      - https://api.contentful.com/spaces/7ey2ax4nli32
      Etag:
      - '"6a02f3d14fb7fe8d25f39e9d5839d3fb"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"7ey2ax4nli32",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-10T10:48:49Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-10T10:48:49Z"
          },
          "name":"My Test Space"}
  recorded_at: Thu, 10 Jul 2014 10:48:51 GMT
recorded_with: VCR 2.9.2
