---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/
    body:
      encoding: UTF-8
      string: '{"name":"My Content Type","fields":[{"id":"my_integer_field","name":"My
        integer Field","type":"integer"}]}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"dc8ae339ddadc65753f23fdae4af5fd1"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "My Content Type",
          "fields": [
            {
              "id": "my_integer_field",
              "name": "My integer Field",
              "type": "integer"
            }
          ],
          "sys": {
            "id": "36CANvl5ryeuWO4qqUQwc6",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-07-14T07:55:19.037Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "updatedAt": "2014-07-14T07:55:19.037Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Mon, 14 Jul 2014 07:55:19 GMT
recorded_with: VCR 2.9.2
