---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"My Test Space"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Organization:
      - 5Ct8QHndDsi4zT3hwFwOLd
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 85f-1209539655
      Location:
      - https://api.contentful.com/spaces/ex07lpudet6g
      Etag:
      - '"82fdaadb420ce2cd17388e242e36d572"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"ex07lpudet6g",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-10T13:00:25Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-10T13:00:25Z"
          },
          "name":"My Test Space"}
  recorded_at: Thu, 10 Jul 2014 13:00:27 GMT
recorded_with: VCR 2.9.2
