---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces
    body:
      encoding: UTF-8
      string: '{"name":"My Test Space"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 403 Forbidden
      X-Contentful-Request-Id:
      - 85f-1209528081
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"Forbidden"
          },
          "requestId":"85f-1209528081",
          "message":"You are not authorized to do this action or exceeded your plan limits."}
  recorded_at: Thu, 10 Jul 2014 10:39:56 GMT
recorded_with: VCR 2.9.2
