---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5b79506be850b2b67fdc2a432def314f"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "tf1",
              "id": "tf1",
              "type": "Text",
              "uiid": "423jzdouebk"
            }
          ],
          "name": "CT1",
          "sys": {
            "id": "41cG5MFEb6e4wQy0sg8Mww",
            "type": "ContentType",
            "createdAt": "2014-07-10T13:08:06.424Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "firstPublishedAt": "2014-07-10T13:08:18.825Z",
            "publishedCounter": 7,
            "version": 21,
            "updatedAt": "2014-07-11T11:25:56.290Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          },
          "displayField": "tf1"
        }
  recorded_at: Fri, 11 Jul 2014 11:28:36 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '21'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"49671b64cf5f89426133bee43fdd6a4b"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "tf1",
              "id": "tf1",
              "type": "Text",
              "uiid": "423jzdouebk"
            }
          ],
          "name": "CT1",
          "sys": {
            "id": "41cG5MFEb6e4wQy0sg8Mww",
            "type": "ContentType",
            "createdAt": "2014-07-10T13:08:06.424Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "firstPublishedAt": "2014-07-10T13:08:18.825Z",
            "publishedCounter": 8,
            "version": 22,
            "updatedAt": "2014-07-11T11:28:36.989Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "publishedAt": "2014-07-11T11:28:36.989Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "publishedVersion": 21
          },
          "displayField": "tf1"
        }
  recorded_at: Fri, 11 Jul 2014 11:28:37 GMT
recorded_with: VCR 2.9.2
