---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4558741c7c1dd4f5cde58fef0e27813d"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "tf1",
              "id": "tf1",
              "type": "Text",
              "uiid": "423jzdouebk"
            }
          ],
          "name": "CT1",
          "sys": {
            "id": "41cG5MFEb6e4wQy0sg8Mww",
            "type": "ContentType",
            "createdAt": "2014-07-10T13:08:06.424Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "firstPublishedAt": "2014-07-10T13:08:18.825Z",
            "publishedCounter": 6,
            "publishedAt": "2014-07-11T11:24:18.249Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "publishedVersion": 17,
            "version": 18,
            "updatedAt": "2014-07-11T11:24:18.253Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          },
          "displayField": "tf1"
        }
  recorded_at: Fri, 11 Jul 2014 11:24:27 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.m[...]
