---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/2eg6tcVdPiKMYkAcMU2wQq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ccc3c9315a73a7ef2ee9795a977229ac"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "TF1",
              "id": "tf1",
              "type": "Text",
              "uiid": "2ioh02uaoe8"
            }
          ],
          "name": "CT2",
          "sys": {
            "id": "2eg6tcVdPiKMYkAcMU2wQq",
            "type": "ContentType",
            "createdAt": "2014-07-11T09:09:59.733Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "firstPublishedAt": "2014-07-11T09:10:23.588Z",
            "publishedCounter": 1,
            "publishedAt": "2014-07-11T09:10:23.588Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "publishedVersion": 14,
            "version": 15,
            "updatedAt": "2014-07-11T09:10:23.594Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          },
          "displayField": "tf1"
        }
  recorded_at: Fri, 11 Jul 2014 09:12:02 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/2eg6tcVdPiKMYkAcMU2wQq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Cannot deleted published"
        }
  recorded_at: Fri, 11 Jul 2014 09:12:03 GMT
recorded_with: VCR 2.9.2
