---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/qrdn4kgp8pmd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 404 Not Found
      X-Contentful-Request-Id:
      - 85f-1209528094
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"NotFound"
          },
          "requestId":"85f-1209528094",
          "message":"The resource could not be found."}
  recorded_at: Thu, 10 Jul 2014 10:40:00 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209528273
      Etag:
      - '"e2243bd47b12981c0075db35ccde8ca3"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Space",
                "id":"l6a1rhnfkzbm",
                "version":1,
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-07-04T13:15:37Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "updatedAt":"2014-07-04T13:15:37Z"
              },
              "name":"Playground",
              "tutorial":true
            },
            {
              "sys":{
                "type":"Space",
                "id":"n6spjc167pc2",
                "version":1,
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-07-09T11:04:14Z",
                "updatedBy":{
                  "sys":{
                   [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/3gpluolpxxzb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209528332
      Etag:
      - '"e6f39ed2f7bbe470f1c3d76de77a65f4"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"3gpluolpxxzb",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-10T10:15:59Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-10T10:15:59Z"
          },
          "name":"My Test Space"}
  recorded_at: Thu, 10 Jul 2014 10:44:23 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/3gpluolpxxzb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Contentful-Request-Id:
      - 85f-1209528333
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Jul 2014 10:44:24 GMT
recorded_with: VCR 2.9.2
