---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/7ey2ax4nli32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209538630
      Etag:
      - '"6a02f3d14fb7fe8d25f39e9d5839d3fb"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"7ey2ax4nli32",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-10T10:48:49Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-10T10:48:49Z"
          },
          "name":"My Test Space"}
  recorded_at: Thu, 10 Jul 2014 12:46:57 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/7ey2ax4nli32
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      X-Contentful-Request-Id:
      - 85f-1209538632
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Jul 2014 12:46:59 GMT
recorded_with: VCR 2.9.2
