---
http_interactions:
- request:
    method: delete
    uri: https://api.contentful.com/spaces/no_space_here
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 005d6f51203bcae1fa9b44d92d810f2ca32337c3559857eacfedc65cee4d7a3c
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 404 Not Found
      X-Contentful-Request-Id:
      - 85f-1486181765
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"NotFound"
          },
          "requestId":"85f-1486181765",
          "message":"The resource could not be found."}
  recorded_at: Wed, 14 May 2014 14:16:49 GMT
recorded_with: VCR 2.9.0
