---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209538582
      Etag:
      - '"b94eeedb86f2b01adb5b52e4aba1cdc4"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Space",
                "id":"l6a1rhnfkzbm",
                "version":1,
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-07-04T13:15:37Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "updatedAt":"2014-07-04T13:15:37Z"
              },
              "name":"Playground",
              "tutorial":true
            },
            {
              "sys":{
                "type":"Space",
                "id":"n6spjc167pc2",
                "version":7,
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-07-09T11:04:14Z",
                "updatedBy":{
                  "sys":{
                   [...]
