---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"530577400554c2ff23d751c8024ebf66"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "SomeTitleAsset"
                },
                "description": {
                  "en-US": "SomeDesc"
                },
                "file": {
                  "en-US": {
                    "fileName": "where_the_fuck_are_my_cookies_2560__1931418444.1680x0.jpg",
                    "contentType": "image/jpeg",
                    "details": {
                      "image": {
                        "width": 1680,
                        "height": 945
                      },
                      "size": 38168
                    },
                    "url": "//images.contentful.com/n6spjc167pc2/d42EjBLxdYiuSOyOkUyo6/2c52e0aa5b0ff66f8d4e03f28df5d184/where_the_fuck_are_my_cookies_2560__1931418444.1680x0.jpg"
                  }
                }
              },
              "sys": {
                "id": "d42EjBLxdYiuSOyOkUyo6",
                "type": "Asset",
                "createdAt": "2014-07-14T07:58:06.164Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "n6spjc167pc2"
                  }
                },
                "firstPublishedAt": "2014-07-14T08:16:46.784Z",
                "publishedCounter": 1,
                "publishedAt": "2014-07-14T08:16:46.784Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 33,
                "version": 34,
                "updatedAt": "2014-07-14T08:16:46.790Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Mon, 14 Jul 2014 08:37:31 GMT
recorded_with: VCR 2.9.2
