---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209893666
      Etag:
      - '"ea1ce6fc0e7cb20a32cdba47d6566865"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"n6spjc167pc2",
            "version":10,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-09T11:04:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-10T14:17:05Z"
          },
          "name":"NewNameBySave"}
  recorded_at: Mon, 14 Jul 2014 14:05:42 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b0fd222521cd355fbcddaec647db7db0"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": {
                  "en-US": "xxxx"
                },
                "description": {
                  "en-US": "xxxx"
                },
                "file": {
                  "en-US": {
                    "fileName": "where_the_fuck_are_my_cookies_2560__1931418444.1680x0.jpg",
                    "contentType": "image/jpeg",
                    "details": {
                      "image": {
                        "width": 1680,
                        "height": 945
                      },
                      "size": 38168
                    },
                    "url": "//images.contentful.com/n6spjc167pc2/2o6XavxCjKcCC4GGsIOu2W/7ceec6f4744f11d47d1bc24f0111bab8/where_the_fuck_are_my_cookies_2560__1931418444.1680x0.jpg"
                  }
                }
              },
              "sys": {
                "id": "2o6XavxCjKcCC4GGsIOu2W",
                "type": "Asset",
                "createdAt": "2014-07-14T13:19:03.640Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "n6spjc167pc2"
                  }
                },
                "firstPublishedAt": "2014-07-14T13:19:24.903Z",
                "publishedCounter": 1,
                "publishedAt": "2014-07-14T13:19:24.903Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 11,
                "version": 12,
                "updatedAt": "2014-07-14T13:19:24.908Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": {
                "title": {
                  "en-US": "SomeTitleAsset"
                },
                "descri[...]
