---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1ec5ad70b7c57f0d37403ca0056e7685"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "tf1",
                  "id": "tf1",
                  "type": "Text",
                  "uiid": "423jzdouebk"
                }
              ],
              "name": "CT1",
              "sys": {
                "id": "41cG5MFEb6e4wQy0sg8Mww",
                "type": "ContentType",
                "createdAt": "2014-07-10T13:08:06.424Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0fn5fOWn4WsKFyYla1gI5h"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "btp9v9jxpknp"
                  }
                },
                "firstPublishedAt": "2014-07-10T13:08:18.825Z",
                "publishedCounter": 1,
                "publishedAt": "2014-07-10T13:08:18.825Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0fn5fOWn4WsKFyYla1gI5h"
                  }
                },
                "publishedVersion": 10,
                "version": 11,
                "updatedAt": "2014-07-10T13:08:18.828Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0fn5fOWn4WsKFyYla1gI5h"
                  }
                }
              },
              "displayField": "tf1"
            }
          ]
        }
  recorded_at: Fri, 11 Jul 2014 09:05:41 GMT
recorded_with: VCR 2.9.2
