---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209634862
      Etag:
      - '"ea1ce6fc0e7cb20a32cdba47d6566865"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"n6spjc167pc2",
            "version":10,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-09T11:04:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-10T14:17:05Z"
          },
          "name":"NewNameBySave"}
  recorded_at: Fri, 11 Jul 2014 09:02:19 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209634864
      Etag:
      - '"0a24cd66e4954b2b99ceb4585aad476c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Locale",
                "id":"5lxE2NYGbYiaerH8dx3WNE",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"n6spjc167pc2"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-07-09T11:04:14Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "updatedAt":"2014-07-09T11:04:14Z"
              },
              "name":"U.S. English",
              "code":"en-US",
              "default":true,
              "contentManagementApi":true,
              "publish":true,
              "contentDeliveryApi":true
            }
          ],
          "total":1,
          "limit":25,
          "skip":0}
  recorded_at: Fri, 11 Jul 2014 09:02:19 GMT
[...]
