---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209863808
      Etag:
      - '"ea1ce6fc0e7cb20a32cdba47d6566865"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"n6spjc167pc2",
            "version":10,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-09T11:04:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-10T14:17:05Z"
          },
          "name":"NewNameBySave"}
  recorded_at: Mon, 14 Jul 2014 07:30:07 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209863809
      Etag:
      - '"aba50c3ebacaadc55cf41f3ef34a5a16"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"Locale",
                "id":"5lxE2NYGbYiaerH8dx3WNE",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"n6spjc167pc2"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "createdAt":"2014-07-09T11:04:14Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "updatedAt":"2014-07-09T11:04:14Z"
              },
              "name":"U.S. English",
              "code":"en-US",
              "default":true,
              "contentManagementApi":true,
              "publish":true,
              "contentDeliveryApi":true
            },
            {
              "sys":{
                "type":"Locale",
                "id":"0X5xcjckv6RMrd9Trae81p",
                "version":6,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"n6spjc167pc2"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/n6spjc167pc2/locales
    body:
      encoding: UTF-8
      string: '{"name":"testLocaleBelgiumNl","code":"nl"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 85f-1209863810
      Location:
      - https://api.contentful.com/spaces/n6spjc167pc2/locales/4IMeJdAb5B6VZSMmPsOkpo
      Etag:
      - '"c46da7463a1f501d6be3e63c3eea72cf"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Locale",
            "id":"4IMeJdAb5B6VZSMmPsOkpo",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"n6spjc167pc2"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-14T07:30:08Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-14T07:30:08Z"
          },
          "name":"testLocaleBelgiumNl",
          "code":"nl",
          "default":false,
          "contentManagementApi":true,
          "publish":true,
          "contentDeliveryApi":true}
  recorded_at: Mon, 14 Jul 2014 07:30:09 GMT
recorded_with: VCR 2.9.2
