---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/zh42n1tmsaiq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a1b95f8ce7ecfa1e9ea68e91314f3d64"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-1083866496
      X-Iinfo:
      - 9-6030105-6030121 NNNY CT(76 159 0) RT(1457691555868 92) q(0 0 2 -1) r(4 4)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"MinecraftVR",
          "sys":{
            "type":"Space",
            "id":"zh42n1tmsaiq",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-03-09T09:19:37Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-03-09T09:19:37Z"
          }
        }

  recorded_at: Fri, 11 Mar 2016 10:19:17 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/zh42n1tmsaiq/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"de4b4e14eb9bd1df5aac007985566f62"'
      X-Contentful-Request-Id:
      - content-api:4OoOTq6r0sEamecCyWSSUU
      X-Iinfo:
      - 10-8052876-8052904 NNNY CT(72 73 0) RT(1457691557361 90) q(0 0 1 -1) r(10
        10) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "zh42n1tmsaiq"
                  }
                },
                "id": "block",
                "type": "ContentType",
                "createdAt": "2016-03-09T09:19:40.799Z",
                "updatedAt": "2016-03-09T09:39:09.209Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedCounter": 2,
                "version": 4,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 3,
                "firstPublishedAt": "2016-03-09T09:19:42.102Z",
                "publishedAt": "2016-03-09T09:39:09.185Z"
              },
              "displayField": "name",
              "name": "Block",
              "description": null,
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false
                },
                {
                  "id": "x",
                  "name": "X",
                  "type": "Number",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false
                },
                {
                  "id": "y",
                  "name": "Y",
                  "type": "Number",
                  "localized": false,
                  "required": false,
    [...]
