---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4902174bcb58af2f05bcaeb83d890f1c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "NewName",
          "description": "",
          "fields": [
            {
              "id": "tf1",
              "name": "tf1",
              "type": "Text",
              "required": false,
              "localized": false
            }
          ],
          "sys": {
            "id": "41cG5MFEb6e4wQy0sg8Mww",
            "type": "ContentType",
            "createdAt": "2014-07-10T13:08:06.424Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "firstPublishedAt": "2014-07-10T13:08:18.825Z",
            "publishedCounter": 9,
            "publishedAt": "2014-07-11T12:06:42.470Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "publishedVersion": 23,
            "version": 25,
            "updatedAt": "2014-07-15T07:32:32.810Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Wed, 16 Jul 2014 08:00:54 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/41cG5MFEb6e4wQy0sg8Mww
    body:
      encoding: UTF-8
      string: '{"name":"NewName","description":"","fields":[{"id":"tf1","name":"tf1","type":"Text","items":"#<Contentful::Management::Field:0x007f90f3429dd0>","required":false,"localized":false},{"id":"my_text_field","name":"My
        Text Field","type":"Text"}]}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '25'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "ValidationFailed"
          },
          "message": "Validation error",
          "details": {
            "errors": [
              {
                "name": "type",
                "value": "#<Contentful::Management::Field:0x007f90f3429dd0>",
                "type": "Object",
                "path": [
                  "fields",
                  0,
                  "items"
                ]
              }
            ]
          }
        }
  recorded_at: Wed, 16 Jul 2014 08:01:05 GMT
recorded_with: VCR 2.9.2
