---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209658318
      Etag:
      - '"ea1ce6fc0e7cb20a32cdba47d6566865"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"n6spjc167pc2",
            "version":10,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-09T11:04:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-10T14:17:05Z"
          },
          "name":"NewNameBySave"}
  recorded_at: Fri, 11 Jul 2014 13:21:48 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/n6spjc167pc2/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2e39a6a682fce8bd12890effe7e88c25"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "name",
                  "id": "name",
                  "type": "Text",
                  "uiid": "2vzm8t45hj4"
                },
                {
                  "name": "number",
                  "id": "number",
                  "type": "Integer",
                  "uiid": "2snwijmrwn4"
                },
                {
                  "name": "file",
                  "id": "file",
                  "type": "Link",
                  "uiid": "4kb0hipt1xc",
                  "linkType": "Asset"
                }
              ],
              "name": "TestingContentType",
              "sys": {
                "id": "LE3x1rgCgU6QO0guSEm64",
                "type": "ContentType",
                "createdAt": "2014-07-10T13:57:51.634Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "n6spjc167pc2"
                  }
                },
                "firstPublishedAt": "2014-07-10T13:58:20.920Z",
                "publishedCounter": 1,
                "publishedAt": "2014-07-10T13:58:20.920Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 41,
                "version": 42,
                "updatedAt": "2014-07-10T13:58:20.925Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              },
              "description": "someTests",
              "displayField": "name"
            },
            {
              "fields": [],
              "name": "",
              "sys": {
                "id": "4Xo37m75MccoYguWOmWeaQ",
                "type": "ContentType",
                "createdAt": "2014-07-11T10:38:58.178Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "n6spjc167pc2"
                  }
                },
                "version": 1,
                "updatedAt": "2014-07-11T10:38:58.181Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Fri, 11 Jul 2014 13:21:50 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/n6spjc167pc2/content_types/
    body:
      encoding: UTF-8
      string: '{"name":"TestingContentType","id":null}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"32e[...]
