---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/1J3i0rr6huqKc8yGMq22QI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9d6f84fbb88c3f382035d791baec28cb"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "test",
          "description": "",
          "fields": [
            {
              "id": "fff",
              "name": "fff",
              "type": "Text",
              "required": false,
              "localized": false,
              "uiid": "4a25s9mu22o"
            }
          ],
          "sys": {
            "id": "1J3i0rr6huqKc8yGMq22QI",
            "type": "ContentType",
            "createdAt": "2014-07-14T13:53:35.140Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "version": 27,
            "updatedAt": "2014-07-15T06:59:55.492Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          },
          "displayField": "fff"
        }
  recorded_at: Tue, 15 Jul 2014 07:02:15 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/1J3i0rr6huqKc8yGMq22QI
    body:
      encoding: UTF-8
      string: '{"name":"test","description":"","fields":[{"id":"fff","name":"New field
        name","type":"Text","required":false,"localized":false}]}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '27'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1135aced4997e9c1f05ba767a3bf29b8"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "test",
          "description": "",
          "fields": [
            {
              "id": "fff",
              "name": "New field name",
              "type": "Text",
              "required": false,
              "localized": false
            }
          ],
          "sys": {
            "id": "1J3i0rr6huqKc8yGMq22QI",
            "type": "ContentType",
            "createdAt": "2014-07-14T13:53:35.140Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "version": 28,
            "updatedAt": "2014-07-15T07:02:17.108Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Tue, 15 Jul 2014 07:02:16 GMT
recorded_with: VCR 2.9.2
