---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/l6a1rhnfkzbm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1209532109
      Etag:
      - '"d20004950ad8960d396c603332b3e77a"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"l6a1rhnfkzbm",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-07-04T13:15:37Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-04T13:15:37Z"
          },
          "name":"Playground",
          "tutorial":true}
  recorded_at: Thu, 10 Jul 2014 11:30:00 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/l6a1rhnfkzbm
    body:
      encoding: UTF-8
      string: '{"name":"name"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 400 Bad Request
      X-Contentful-Request-Id:
      - 85f-1209532127
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"UnknownKey"
          },
          "requestId":"85f-1209532127",
          "message":"The body you sent contains an unknown key.",
          "details":{
            "keys":[
              "name"
            ]
          }}
  recorded_at: Thu, 10 Jul 2014 11:30:24 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/l6a1rhnfkzbm
    body:
      encoding: UTF-8
      string: '{"name":"NewNameSpace"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 400 Bad Request
      X-Contentful-Request-Id:
      - 85f-1209532149
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"UnknownKey"
          },
          "requestId":"85f-1209532149",
          "message":"The body you sent contains an unknown key.",
          "details":{
            "keys":[
              "name"
            ]
          }}
  recorded_at: Thu, 10 Jul 2014 11:30:44 GMT
recorded_with: VCR 2.9.2
