---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/4WbIShZ6dW68UGqi8sCyMA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"cbef2d1b340bcd03aac1a467da62336b"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "cccc",
              "id": "cccc",
              "type": "Text",
              "uiid": "2zbb1380buo"
            }
          ],
          "name": "GGG",
          "sys": {
            "id": "4WbIShZ6dW68UGqi8sCyMA",
            "type": "ContentType",
            "createdAt": "2014-07-14T09:57:19.596Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "version": 16,
            "updatedAt": "2014-07-14T11:12:33.587Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          },
          "description": "aaaa",
          "displayField": "cccc"
        }
  recorded_at: Mon, 14 Jul 2014 11:14:33 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/4WbIShZ6dW68UGqi8sCyMA
    body:
      encoding: UTF-8
      string: '{"name":"My New Content Type","fields":[{"id":"cccc","name":"cccc","type":"Text","required":false,"localized":false}]}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5121682e17efa90cfe25a43b086d96e6"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "My New Content Type",
          "fields": [
            {
              "id": "cccc",
              "name": "cccc",
              "type": "Text",
              "required": false,
              "localized": false
            }
          ],
          "sys": {
            "id": "4WbIShZ6dW68UGqi8sCyMA",
            "type": "ContentType",
            "createdAt": "2014-07-14T09:57:19.596Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "version": 17,
            "updatedAt": "2014-07-14T11:14:40.214Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Mon, 14 Jul 2014 11:14:40 GMT
recorded_with: VCR 2.9.2
