---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/uyvxw082vcxv
    body:
      encoding: UTF-8
      string: "{\"name\":\"NewName\"}"
    headers:
      Authorization:
      - Bearer such_a_long_token
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1486186216
      Etag:
      - "\"7f15e872d590853e98951904630ca7a7\""
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"uyvxw082vcxv",
            "version":2,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0FM4ubBsFE2bzqlE8U6JaF"
              }
            },
            "createdAt":"2014-05-14T15:32:23Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0FM4ubBsFE2bzqlE8U6JaF"
              }
            },
            "updatedAt":"2014-05-14T16:03:27Z"
          },
          "name":"NewName"}
  recorded_at: Wed, 14 May 2014 16:03:42 GMT
recorded_with: VCR 2.9.0
