---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/1J3i0rr6huqKc8yGMq22QI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"af23aa0b818941b88525dbdb77bca24b"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "test",
          "description": "",
          "fields": [
            {
              "id": "fff",
              "name": "fff",
              "type": "Text",
              "required": false,
              "localized": false
            }
          ],
          "sys": {
            "id": "1J3i0rr6huqKc8yGMq22QI",
            "type": "ContentType",
            "createdAt": "2014-07-14T13:53:35.140Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "version": 23,
            "updatedAt": "2014-07-14T14:03:14.463Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          },
          "displayField": "fff"
        }
  recorded_at: Mon, 14 Jul 2014 14:03:22 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/1J3i0rr6huqKc8yGMq22QI
    body:
      encoding: UTF-8
      string: '{"name":"test","description":"","fields":[{"id":"fff","name":"fff","type":"Text","required":false,"localized":false},{"id":"second_text_field","name":"My
        Second Text Field","type":"Text"}]}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '23'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c3186a1a034e4cda60344d3f4d0635f7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "test",
          "description": "",
          "fields": [
            {
              "id": "fff",
              "name": "fff",
              "type": "Tex[...]
