---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/xxddi16swo35
    body:
      encoding: UTF-8
      string: "{\"name\":\"NewName\"}"
    headers:
      Authorization:
      - Bearer such_a_long_token
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 409 Conflict
      X-Contentful-Request-Id:
      - 85f-1486186549
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Error",
            "id":"Conflict"
          },
          "requestId":"85f-1486186549",
          "message":"The \"X-Contentful-Version\" you passed as a HTTP header doesn't match sys.version."}
  recorded_at: Wed, 14 May 2014 16:08:34 GMT
recorded_with: VCR 2.9.0
