---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/4WbIShZ6dW68UGqi8sCyMA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ef04fc77e15b252a37c6e3e3fa31e980"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "My New Content Type",
          "fields": [
            {
              "id": "cccc",
              "name": "cccc",
              "type": "Text",
              "required": false,
              "localized": false
            }
          ],
          "sys": {
            "id": "4WbIShZ6dW68UGqi8sCyMA",
            "type": "ContentType",
            "createdAt": "2014-07-14T09:57:19.596Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "version": 17,
            "updatedAt": "2014-07-14T11:14:40.218Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Mon, 14 Jul 2014 13:39:45 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/btp9v9jxpknp/content_types/4WbIShZ6dW68UGqi8sCyMA
    body:
      encoding: UTF-8
      string: '{"name":"My New Content Type","description":"My New Description"}'
    headers:
      Authorization:
      - Bearer 91c6eeeca517239cd4b374a9ad2d62c1455def4551bf77e76cfd359a81aa6185
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '17'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6784cfca025db9c253b485bb394ccde7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "My New Content Type",
          "description": "My New Description",
          "sys": {
            "id": "4WbIShZ6dW68UGqi8sCyMA",
            "type": "ContentType",
            "createdAt": "2014-07-14T09:57:19.596Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "btp9v9jxpknp"
              }
            },
            "version": 18,
            "updatedAt": "2014-07-14T13:39:46.695Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Mon, 14 Jul 2014 13:39:47 GMT
recorded_with: VCR 2.9.2
