---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/org_id/usage_periods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.5.0; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Enable-Alpha-Feature:
      - usage-insights
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"0e32a37f3690af7bd68571521823b4c3"
      X-Contentful-Request-Id:
      - 9e2af1c902719cf6251824eb8bad9a5b
      X-Iinfo:
      - 6-10352937-10352945 NNNN CT(90 182 0) RT(1541847550884 85) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":2,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "startDate":"2018-11-01",
              "endDate":null,
              "sys":{
                "type":"UsagePeriod",
                "id":"2"
              }
            },
            {
              "startDate":"2018-10-01",
              "endDate":"2018-10-31",
              "sys":{
                "type":"UsagePeriod",
                "id":"1"
              }
            }
          ]
        }

  recorded_at: Sat, 10 Nov 2018 10:59:12 GMT
recorded_with: VCR 4.0.0
