---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"dda64bbb7b1d0b38bc504a6dcc255340"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 69db9a3879299f7f8b8d3878ac7e45a8
      X-Iinfo:
      - 4-44318685-44318692 NNNN CT(85 88 0) RT(1504699311750 75) q(0 0 2 -1) r(4
        4) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":2,
          "limit":25,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "admin":true,
              "sys":{
                "type":"SpaceMembership",
                "id":"1NI22o8oAxT9Jnu2J9wJSu",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"facgnwwgj5fe"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "createdAt":"2017-03-02T18:30:27Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt":"2017-03-02T18:30:27Z"
              },
              "user":{
                "sys":{
                  "type":"Link",
                  "linkType":"User",
                  "id":"4SejVrWT96dvL9IV4Nb7sQ"
                }
              },
              "roles":[]
            },
            {
              "admin":false,
              "sys":{
                "type":"SpaceMembership",
                "id":"6RdRdobdQzh8zKe1Hogiz4",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"facgnwwgj5fe"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "createdAt":"2017-07-06T14:18:17Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt":"2017-07-06T14:18:17Z"
              },
              "user":{
                "sys":{
                  "type":"Link",
                  "linkType":"User",
                  "id":"3xagQOg6z3bxOhPcTpgsaq"
                }
              },
              "roles":[
                {
                  "sys":{
                    "type":"Link",
                    "linkType":"Role",
                    "id":"1Nq88dKTNXNaxkbrRpEEw6"
                  }
                }
              ]
            }
          ]
        }

  recorded_at: Wed, 06 Sep 2017 12:01:52 GMT
recorded_with: VCR 3.0.3
