---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships
    body:
      encoding: UTF-8
      string: '{"admin":false,"roles":[{"sys":{"type":"Link","linkType":"Role","id":"1Nq88dKTNXNaxkbrRpEEw6"}}],"email":"david.litvak+test_rcma@contentful.com"}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"c62ec9dfa9b4bac2290c34b40d6d7ab0"
      Location:
      - https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships/7pcydolqtgMaSLwmXMvGqW
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35993'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 321f32769011b4f6e7015579dbe0b1bd
      X-Iinfo:
      - 4-44352334-44352344 NNNN CT(87 86 0) RT(1504699679073 68) q(0 0 2 -1) r(7
        7) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "admin":false,
          "sys":{
            "type":"SpaceMembership",
            "id":"7pcydolqtgMaSLwmXMvGqW",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-09-06T12:08:00Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-09-06T12:08:00Z"
          },
          "user":{
            "sys":{
              "type":"Link",
              "linkType":"User",
              "id":"7pdApScArzEYCSN9RTtGx8"
            }
          },
          "roles":[
            {
              "sys":{
                "type":"Link",
                "linkType":"Role",
                "id":"1Nq88dKTNXNaxkbrRpEEw6"
              }
            }
          ]
        }

  recorded_at: Wed, 06 Sep 2017 12:08:00 GMT
recorded_with: VCR 3.0.3
