---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships/7pcydolqtgMaSLwmXMvGqW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"c62ec9dfa9b4bac2290c34b40d6d7ab0"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35992'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - aa9facf765124ea6008412a0fd2f8908
      X-Iinfo:
      - 5-51086660-51086673 NNNN CT(85 80 0) RT(1504699765174 86) q(0 0 2 -1) r(4
        4) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "admin":false,
          "sys":{
            "type":"SpaceMembership",
            "id":"7pcydolqtgMaSLwmXMvGqW",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-09-06T12:08:00Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-09-06T12:08:00Z"
          },
          "user":{
            "sys":{
              "type":"Link",
              "linkType":"User",
              "id":"7pdApScArzEYCSN9RTtGx8"
            }
          },
          "roles":[
            {
              "sys":{
                "type":"Link",
                "linkType":"Role",
                "id":"1Nq88dKTNXNaxkbrRpEEw6"
              }
            }
          ]
        }

  recorded_at: Wed, 06 Sep 2017 12:09:26 GMT
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/space_memberships/7pcydolqtgMaSLwmXMvGqW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35990'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 42efcd0a8b927b636176b4f662129f54
      X-Iinfo:
      - 2-32790687-32790694 NNNN CT(76 80 0) RT(1504699766261 71) q(0 0 1 -1) r(3
        3) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "requestId":"42efcd0a8b927b636176b4f662129f54",
          "message":"The resource could not be found.",
          "sys":{
            "type":"Error",
            "id":"NotFound"
          }
        }

  recorded_at: Wed, 06 Sep 2017 12:09:27 GMT
recorded_with: VCR 3.0.3
