---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"35407b8a88882fe5717a4701910f6ce7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-806548176
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"v2umtz8ths9v",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T13:32:11Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T13:32:12Z"
          },
          "name":"CMA Demo Rails App"}
  recorded_at: Wed, 15 Oct 2014 09:53:38 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5c4d0e360d08f9a028b006b76a15db90"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2sdir2f8kcg"
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4x1018907pc"
                },
                {
                  "id": "body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4hj7cda89hc"
                },
                {
                  "id": "title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "uiid": "4gcqrcma8lc"
                },
                {
                  "id": "second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true,
                  "uiid": "40440elrugw"
                },
                {
                  "id": "category",
                  "name": "Category",
                  "type": "Link",
                  "linkType": "Entry",
                  "uiid": "49vicjvqsxs",
                  "localized": true
                }
              ],
              "sys": {
                "id": "post_content_type",
                "type": "ContentType",
                "createdAt": "2014-08-21T13:32:30.401Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-21T13:32:43.385Z",
                "publishedCounter": 2,
                "publishedAt": "2014-08-27T09:18:36.995Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 11,
                "version": 12,
                "updatedAt": "2014-08-27T09:18:37.003Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": [
                {
                  "name": "testowe",
                  "id": "testowe",
                  "type": "Link",
                  "uiid": "3q907mcb4lc",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "validations": []
                }
              ],
              "name": "test",
              "sys": {
                "id": "26eLfV14SIOeQkse44q4sw",
                "type": "ContentType",
                "createdAt": "2014-08-22T12:57:43.618Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-22T12:57:53.093Z",
                "publishedCounter": 2,
                "version": 17,
                "updatedAt": "2014-10-14T13:07:06.808Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "name": "Category",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "localized": true,
                  "validations": [
                    {
                      "size": {
                        "min": 2,
                        "max": 22
                      }
                    },
                    {
                      "in": [
                        "dom",
                        "chatka"
                      ]
                    }
                  ]
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text"
                },
                {
                  "id": "valid",
                  "name": "Valid",
                  "type": "Text",
                  "validations": [
                    {
                     [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types/category_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.con[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types/category_content_type
    body:
      encoding: UTF-8
      string: '{"name":"Category","description":"","fields":[{"id":"name","name":"Name","type":"Text","localized":true,"validations":[{"size":{"min":2,"max":22}},{"in":["dom","chatka"]}]},{"id":"description","name":"Description","type":"Text"},{"id":"valid","name":"Valid","type":"Text","validations":[{"in":["foo","bar","baz"]},{"size":{"min":2,"max":10}}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '207'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"13f6c51d81842cef7a3764c07162e24a"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Category",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type[...]
