---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"35407b8a88882fe5717a4701910f6ce7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-806760012
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"v2umtz8ths9v",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T13:32:11Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T13:32:12Z"
          },
          "name":"CMA Demo Rails App"}
  recorded_at: Wed, 15 Oct 2014 14:16:03 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b2a5c4cfc1ab6461448b6499a2f87680"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2sdir2f8kcg"
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4x1018907pc"
                },
                {
                  "id": "body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4hj7cda89hc"
                },
                {
                  "id": "title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "uiid": "4gcqrcma8lc"
                },
                {
                  "id": "second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true,
                  "uiid": "40440elrugw"
                },
                {
                  "id": "category",
                  "name": "Category",
                  "type": "Link",
                  "linkType": "Entry",
                  "uiid": "49vicjvqsxs",
                  "localized": true
                }
              ],
              "sys": {
                "id": "post_content_type",
                "type": "ContentType",
                "createdAt": "2014-08-21T13:32:30.401Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-21T13:32:43.385Z",
                "publishedCounter": 2,
                "publishedAt": "2014-08-27T09:18:36.995Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 11,
                "version": 12,
                "updatedAt": "2014-08-27T09:18:37.003Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": [
                {
                  "name": "testowe",
                  "id": "testowe",
                  "type": "Link",
                  "uiid": "3q907mcb4lc",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "validations": []
                }
              ],
              "name": "test",
              "sys": {
                "id": "26eLfV14SIOeQkse44q4sw",
                "type": "ContentType",
                "createdAt": "2014-08-22T12:57:43.618Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-22T12:57:53.093Z",
                "publishedCounter": 2,
                "version": 17,
                "updatedAt": "2014-10-14T13:07:06.808Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "name": "Category",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "localized": true,
                  "validations": [
                    {
                      "size": {
                        "min": 2,
                        "max": 222
                      }
                    },
                    {
                      "in": [
                        "dom",
                        "chatka"
                      ]
                    }
                  ],
                  "uiid": "3ektd988mio"
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text",
                  "uiid": "3mpw2oopurk"
                },
                {
                  "id": "valid",
                  "name": "Valid",
                  "type": "Text",
                  "validations": [
                    {
                      "in": [
                        "foo",
                        "bar"
                      ]
                    },
                    {
                      "size": {
                        "min": 10,
                        "max": 15
                      }
                    }
                  ],
                  "uiid": "4h7poqxt9ts"
                },
                {
                  "id": "asset_valid",
                  "name": "AssetValid",
                  "type": "Link",
                  "linkType": "Asset",
                  "validations": [
                    {
                      "linkMimetypeGroup": "pdfdocument"
                    }
                  ],
                  "uiid": "4kyony8vyf4"
                },
                {
                  "id": "entry_valid",
                  "name": "EntryValid",
                  "type": "Link",
                  "linkType": "Entry",
                  "validations": [
                    {
                      "linkContentType": [
                        "post_content_type"
                      ]
                    }
                  ],
                  "uiid": "3vuee2rpslc"
                }
              ],
              "sys": {
                "id": "category_content_type",
                "type": "ContentType",
                "createdAt": "2014-08-21T13:32:20.955Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
           [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types/1JrDv4JJsYuY4KGEEgAsQU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"90323a67d59b8232bbcf3225555d5f0e"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Validation",
          "description": "",
          "fields": [
            {
              "id": "number",
              "name": "Number",
              "type": "Number",
              "validations": [
                {
                  "range": {
                    "min": 50,
                    "max": 200
                  }
                }
              ]
            },
            {
              "id": "entries",
              "name": "entries",
              "type": "Array",
              "validations": [
                {
                  "linkMimetypeGroup": "image"
                }
              ]
            },
            {
              "id": "assets",
              "name": "Assets",
              "type": "Link",
              "linkType": "Asset",
              "validations": []
            },
            {
              "id": "text",
              "name": "Text",
              "type": "Text",
              "validations": [
                {
                  "regexp": {
                    "pattern": "^such",
                    "flags": "im"
                  }
                }
              ]
            },
            {
              "id": "link_field",
              "validations": [
                {
                  "linkField": true
                }
              ],
              "name": "link"
            },
            {
              "id": "present",
              "name": "Present",
              "type": "Text",
              "validations": [
                {
                  "size": {
                    "min": null,
                    "max": null
                  }
                }
              ]
            }
          ],
          "sys": {
            "id": "1JrDv4JJsYuY4KGEEgAsQU",
            "type": "[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types/1JrDv4JJsYuY4KGEEgAsQU
    body:
      encoding: UTF-8
      string: '{"name":"Validation","description":"","fields":[{"id":"number","name":"Number","type":"Number","validations":[{"validations":"#<Contentful::Management::Validation:0x007fca22a415c0>","range":{"min":50,"max":200}}]},{"id":"entries","name":"entries","type":"Array","validations":[{"validations":"#<Contentful::Management::Validation:0x007fca22a40738>","linkMimetypeGroup":"image"}]},{"id":"assets","name":"Assets","type":"Link","linkType":"Asset","validations":[]},{"id":"text","name":"Text","type":"Text","validations":[{"validations":"#<Contentful::Management::Validation:0x007fca235772c8>","regexp":{"pattern":"^such","flags":"im"}}]},{"id":"link_field","name":"link","validations":[{"validations":"#<Contentful::Management::Validation:0x007fca235765a8>","linkField":true}]},{"id":"present","name":"Present","type":"Text","validations":[{"size":{"min":null,"max":null},"validations":"#<Contentful::Management::Validation:0x007fca235759a0>"}]},{"id":"multi","name":"Multi
        Validation","type":"Text","validations":[{"in":["foo","bar","baz"]},{"regexp":{"pattern":"^such","flags":"im"}}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '152'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"cb7124986d0432b781cf8b13bcfe5267"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Validation",
          "description": "",
          "fields": [
            {
              "id": "number",
              "name": "Number",
             [...]
