---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"35407b8a88882fe5717a4701910f6ce7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-2118033546
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"v2umtz8ths9v",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T13:32:11Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T13:32:12Z"
          },
          "name":"CMA Demo Rails App"}
  recorded_at: Wed, 15 Oct 2014 11:16:30 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"014c350acbcfbb0ddbbbc2f1537ce777"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2sdir2f8kcg"
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4x1018907pc"
                },
                {
                  "id": "body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4hj7cda89hc"
                },
                {
                  "id": "title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "uiid": "4gcqrcma8lc"
                },
                {
                  "id": "second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true,
                  "uiid": "40440elrugw"
                },
                {
                  "id": "category",
                  "name": "Category",
                  "type": "Link",
                  "linkType": "Entry",
                  "uiid": "49vicjvqsxs",
                  "localized": true
                }
              ],
              "sys": {
                "id": "post_content_type",
                "type": "ContentType",
                "createdAt": "2014-08-21T13:32:30.401Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-21T13:32:43.385Z",
                "publishedCounter": 2,
                "publishedAt": "2014-08-27T09:18:36.995Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 11,
                "version": 12,
                "updatedAt": "2014-08-27T09:18:37.003Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": [
                {
                  "name": "testowe",
                  "id": "testowe",
                  "type": "Link",
                  "uiid": "3q907mcb4lc",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "validations": []
                }
              ],
              "name": "test",
              "sys": {
                "id": "26eLfV14SIOeQkse44q4sw",
                "type": "ContentType",
                "createdAt": "2014-08-22T12:57:43.618Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-22T12:57:53.093Z",
                "publishedCounter": 2,
                "version": 17,
                "updatedAt": "2014-10-14T13:07:06.808Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": [
                {
                  "name": "number",
                  "id": "number",
                  "uiid": "2pzin97faww",
                  "type": "Integer",
                  "validations": [
                    {
                      "range": {
                        "min": 5,
                        "max": 20
                      }
                    }
                  ]
                },
                {
                  "name": "entries",
                  "id": "entries",
                  "type": "Array",
                  "uiid": "35tq2mnw1s0",
                  "items": {
                    "type": "Link",
                    "linkType": "Entry",
                    "validations": [
                      {
                        "linkContentType": [
                          "post_content_type"
                        ]
                      }
                    ]
                  }
                },
                {
                  "name": "Assets",
                  "id": "assets",
                  "type": "Array",
                  "uiid": "3oha9upz400",
                  "items": {
                    "type": "Link",
                    "linkType": "Asset",
                    "validations": [
                      {
                        "linkMimetypeGroup": "image"
                      }
                    ]
                  }
                }
              ],
              "name": "Validation",
              "sys": {
                "id": "1JrDv4JJsYuY4KGEEgAsQU",
                "type": "ContentType",
                "createdAt": "2014-10-15T10:59:27.146Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
  [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types/category_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ee0cb570fe82476ffd30788ccce299aa"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Category",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Text",
              "localized": true,
              "validations": [
                {
                  "size": {
                    "min": 2,
                    "max": 222
                  }
                },
                {
                  "in": [
                    "dom",
                    "chatka"
                  ]
                }
              ]
            },
            {
              "id": "description",
              "name": "Description",
              "type": "Text"
            },
            {
              "id": "valid",
              "name": "Valid",
              "type": "Text",
              "validations": [
                {
                  "in": [
                    "foo",
                    "bar"
          [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types/category_content_type
    body:
      encoding: UTF-8
      string: '{"name":"Category","description":"","fields":[{"id":"name","name":"Name","type":"Text","localized":true,"validations":[{"size":{"min":2,"max":222}},{"in":["dom","chatka"]}]},{"id":"description","name":"Description","type":"Text"},{"id":"valid","name":"Valid","type":"Text","validations":[{"in":["foo","bar"]},{"size":{"min":10,"max":15}}]},{"id":"asset_valid","name":"AssetValid","type":"Link","linkType":"Asset","validations":[{"linkMimetypeGroup":"pdfdocument"}]},{"id":"entry_valid","name":"EntryValid","type":"Link","linkType":"Entry","validations":[{"linkContentType":["post_content_type"]}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '290'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8a5aad951ffdac8c88f10ce2422602c3"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Category",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type[...]
