---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/iig6ari2cj2t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"f92eb6dd9c7262fbdccf0d61a89cd016"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35860'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - c78585c1c120de426178432d345fbb01
      X-Iinfo:
      - 7-8367135-8367137 NNNN CT(224 452 0) RT(1494470530343 12) q(0 0 7 -1) r(10
        10) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"stefan-dev",
          "sys":{
            "type":"Space",
            "id":"iig6ari2cj2t",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0tqeNNbBRbgi5aGEc4R4ai"
              }
            },
            "createdAt":"2017-05-10T07:59:56Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0tqeNNbBRbgi5aGEc4R4ai"
              }
            },
            "updatedAt":"2017-05-10T07:59:56Z"
          }
        }

  recorded_at: Thu, 11 May 2017 02:42:11 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/iig6ari2cj2t/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c9b789c4ad9917d3b4687cfcfe518960"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35859'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - fa5c0ba379f0f1e62034fe67de21655c
      X-Iinfo:
      - 10-22082754-22082756 NNNN CT(223 228 0) RT(1494470531334 13) q(0 0 4 -1) r(8
        8) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "iig6ari2cj2t"
                  }
                },
                "id": "1JrDv4JJsYuY4KGEEgAsQU",
                "type": "ContentType",
                "createdAt": "2017-05-11T02:26:15.925Z",
                "updatedAt": "2017-05-11T02:26:16.706Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0tqeNNbBRbgi5aGEc4R4ai"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0tqeNNbBRbgi5aGEc4R4ai"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0tqeNNbBRbgi5aGEc4R4ai"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2017-05-11T02:26:16.693Z",
                "publishedAt": "2017-05-11T02:26:16.693Z"
              },
              "displayField": "t",
              "name": "test",
              "description": "abcd",
              "fields": [
                {
                  "id": "t",
                  "name": "t",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                }
              ]
            }
          ]
        }
  recorded_at: Thu, 11 May 2017 02:42:12 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/iig6ari2cj2t/environments/master/content_types/1JrDv4JJsYuY4KGEEgAsQU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7af[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/iig6ari2cj2t/environments/master/content_types/1JrDv4JJsYuY4KGEEgAsQU
    body:
      encoding: UTF-8
      string: '{"displayField":"t","name":"test","description":"abcd","fields":[{"id":"t","name":"t","type":"Symbol","linkType":null,"items":null,"required":null,"localized":null,"validations":[],"disabled":null,"omitted":null},{"id":"symbol","name":"Slug","type":"Symbol","validations":[{"unique":true}]}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
      Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"82562582a32e3b9e1e3e76f75434c87d"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35857'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
    [...]
