---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3bf91cf615d99a3b5acd2c874ce06368"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Author",
          "description": "Author content",
          "fields": [
            {
              "id": "name",
              "name": "name",
              "type": "Text",
              "localized": true
            },
            {
              "id": "age",
              "name": "age",
              "type": "Integer",
              "localized": true
            },
            {
              "id": "city",
              "name": "city",
              "type": "Location"
            },
            {
              "id": "assets",
              "name": "assets",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": true
            },
            {
              "id": "entries",
              "name": "entries",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              }
            },
            {
              "id": "entry",
              "name": "entry",
              "type": "Link",
              "linkType": "Entry"
            },
            {
              "id": "asset",
              "name": "asset",
              "type": "Link",
              "linkType": "Asset"
            },
            {
              "id": "bool",
              "name": "bool",
              "type": "Boolean",
              "localized": true
            },
            {
              "id": "symbols",
              "name": "symbols",
              "type": "Array",
              "items": {
                "type": "Symbol"
              }
            },
            {
              "id": "birthday",
              "name": "birthday",
              "type": "Date"
            },
            {
              "id": "symbol",
              "name": "Symbol",
              "type": "Symbol"
            }
          ],
          "sys": {
            "id": "5DSpuKrl04eMAGQoQckeIq",
            "type": "ContentType",
            "createdAt": "2014-07-30T12:35:01.110Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-30T12:37:42.035Z",
            "publishedCounter": 9,
            "publishedAt": "2014-07-31T10:21:36.870Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 206,
            "version": 209,
            "updatedAt": "2014-07-31T10:24:45.068Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 10:25:58 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: UTF-8
      string: '{"name":"Author","description":"Author content","fields":[{"id":"name","name":"name","type":"Text","localized":true},{"id":"age","name":"age","type":"Integer","localized":true},{"id":"city","name":"city","type":"Location"},{"id":"assets","name":"assets","type":"Array","items":{"type":"Link","linkType":"Asset"},"localized":true},{"id":"entries","name":"entries","type":"Array","items":{"type":"Link","linkType":"Entry"}},{"id":"entry","name":"entry","type":"Link","linkType":"Entry"},{"id":"asset","name":"asset","type":"Link","linkType":"Asset"},{"id":"bool","name":"bool","type":"Boolean","localized":true},{"id":"symbols","name":"symbols","type":"Array","items":{"type":"Symbol"}},{"id":"birthday","name":"birthday","type":"Date"},{"id":"symbol","name":"Symbol","type":"Symbol","required":true,"localized":true}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '209'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f0a04affe049fe41771b2aa48c4b34bb"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Author",
          "description": "Author content",
          "fields": [
            {
              "id": "name",
              "name": "name",
       [...]
