---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/2jtuu7nex6e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8620008058aad4ab4e700a2e238956ea"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-509441256
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"2jtuu7nex6e6",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-10-31T08:35:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-10-31T08:35:42Z"
          },
          "name":"CMA-SPACE"}
  recorded_at: Fri, 31 Oct 2014 09:27:35 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/2jtuu7nex6e6/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Fri, 31 Oct 2014 09:27:37 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/2jtuu7nex6e6/environments/master/content_types
    body:
      encoding: UTF-8
      string: '{"name":"Testing Content Types","description":"","fields":[{"id":"entries","name":"Entries","type":"Array","items":{"type":"Link","linkType":"Entry"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a6a6971f8f2fbc32e035c6cc708ca272"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Testing Content Types",
          "description": "",
          "fields": [
            {
              "id": "entries",
              "name": "Entries",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              }
            }
          ],
          "sys": {
            "id": "5RKS0W3uWQcaWwss6Y20MQ",
            "type": "ContentType",
            "version": 1,
            "createdAt": "2014-10-31T09:27:37.870Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "2jtuu7nex6e6"
              }
            },
            "updatedAt": "2014-10-31T09:27:37.870Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Fri, 31 Oct 2014 09:27:38 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/2jtuu7nex6e6/environments/master/content_types/5RKS0W3uWQcaWwss6Y20MQ
    body:
      encoding: UTF-8
      string: '{"name":"Testing Content Types","description":"","fields":[{"id":"entries","name":"Entries","type":"Array","linkType":null,"items":{"id":null,"name":null,"type":"Link","linkType":"Entry","items":null,"required":null,"localized":null,"validations":null},"required":null,"localized":null,"validations":null},{"id":"Entries_two","name":"Entries
        Two","type":"Array","items":{"type":"Link","linkType":"Entry"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1671cb64a30aec28d06b21396b03dee1"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Testing Content Types",
          "description": "",
          "fields": [
            {
              "id": "entries",
              "name": "Entries",
              "type": "Array",
              "linkType"[...]
