---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/6xzrdCr33OMAeIYUgs6UKi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1de33a2c7075027289dfede8a441b033"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog",
          "description": "Blog's content type",
          "fields": [
            {
              "id": "blog_name",
              "name": "blog_name",
              "type": "Text"
            },
            {
              "id": "blog_entries",
              "name": "Entries",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              }
            }
          ],
          "sys": {
            "id": "6xzrdCr33OMAeIYUgs6UKi",
            "type": "ContentType",
            "createdAt": "2014-07-31T10:33:50.934Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T10:34:14.463Z",
            "publishedCounter": 2,
            "publishedAt": "2014-07-31T10:35:45.237Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 47,
            "version": 48,
            "updatedAt": "2014-07-31T10:35:45.242Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 10:36:46 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/6xzrdCr33OMAeIYUgs6UKi
    body:
      encoding: UTF-8
      string: '{"name":"Blog","description":"Blog''s content type","fields":[{"id":"blog_name","name":"blog_name","type":"Text"},{"id":"blog_entries","name":"Entries","type":"Array","items":{"type":"Link","linkType":"Entry"},"localized":true}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '48'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"35be9de7614dd7df1b03f9f5e8254ef0"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog",
          "description": "Blog's content type",
          "fields": [
            {
              "id": "blog_name",
              "name": "blog_na[...]
