---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/qw3F2rn3FeoOiceqAiCSC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"029c336b84a59aa7ab0f6ae856b87c94"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog Content",
          "description": "Blogs content type",
          "fields": [
            {
              "id": "blog_author",
              "name": "blog_author",
              "type": "Text",
              "localized": true,
              "uiid": "40u3yg9v7cw"
            }
          ],
          "sys": {
            "id": "qw3F2rn3FeoOiceqAiCSC",
            "type": "ContentType",
            "createdAt": "2014-07-31T09:12:04.064Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T09:42:50.228Z",
            "publishedCounter": 6,
            "publishedAt": "2014-07-31T10:06:34.907Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 181,
            "version": 184,
            "updatedAt": "2014-07-31T10:15:12.026Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 10:32:24 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/qw3F2rn3FeoOiceqAiCSC
    body:
      encoding: UTF-8
      string: '{"name":"Blog Content","description":"Blogs content type","fields":[{"id":"blog_author","name":"blog_author","type":"Text","localized":true},{"id":"blog_avatar","name":"Blog
        avatar","type":"Link","linkType":"Asset","required":true,"localized":true}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '184'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"71ab34b36df54507f6a7b08ebfdc2838"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog Content",
          "description": "Blogs content type",
          "fields": [
            {
              "id": "blog_author",
              "name"[...]
