---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"be937072a9c3c5df5da8c8918380abb3"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Author",
          "description": "Author content",
          "fields": [
            {
              "id": "name",
              "name": "name",
              "type": "Text",
              "localized": true,
              "uiid": "3fnjrmrzsw0"
            },
            {
              "id": "age",
              "name": "age",
              "type": "Integer",
              "localized": true,
              "uiid": "2x7le5rj8cg"
            },
            {
              "id": "city",
              "name": "city",
              "type": "Location",
              "uiid": "34nyz99kwsg"
            },
            {
              "id": "assets",
              "name": "assets",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": true,
              "uiid": "4v30b6wwsg0"
            },
            {
              "id": "entries",
              "name": "entries",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              },
              "uiid": "3ma074wuq68"
            },
            {
              "id": "entry",
              "name": "entry",
              "type": "Link",
              "l[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: UTF-8
      string: '{"name":"Author","description":"Author content","fields":[{"id":"name","name":"name","type":"Text","localized":true},{"id":"age","name":"age","type":"Integer","localized":true},{"id":"city","name":"city","type":"Location"},{"id":"assets","name":"assets","type":"Array","items":{"type":"Link","linkType":"Asset"},"localized":true},{"id":"entries","name":"entries","type":"Array","items":{"type":"Link","linkType":"Entry"}},{"id":"entry","name":"entry","type":"Link","linkType":"Entry"},{"id":"asset","name":"asset","type":"Link","linkType":"Asset"},{"id":"bool","name":"bool","type":"Boolean","localized":true},{"id":"symbols","name":"symbols","type":"Array","items":{"type":"Symbol"}},{"id":"birthday","name":"birthday","type":"Date"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '207'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1d146002978f50a10868aa7da2ad2c9a"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Author",
          "description": "Author content",
          "fields": [
            {
              "id": "name",
              "name": "name",
       [...]
