---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/8KSpuKrl04eMAGQoQckweq
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.5.0; platform ruby/3.0.0; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"10374541921030338982"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/content_types/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - e9306e05-aafe-417c-a16c-14922c2afad2
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "id": "8KSpuKrl04eMAGQoQckweq",
            "type": "ContentType",
            "createdAt": "2022-12-26T19:31:48.068Z",
            "updatedAt": "2022-12-26T21:49:17.143Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 10,
            "publishedAt": "2022-12-26T21:49:17.143Z",
            "firstPublishedAt": "2022-12-26T19:31:48.360Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "publishedCounter": 4,
            "version": 11,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            }
          },
          "displayField": "title",
          "name": "From Ruby SDK",
          "description": "",
          "fields": [
            {
              "id": "title",
              "name": "title",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": false,
              "omitted": false
            }
          ]
        }
  recorded_at: Mon, 26 Dec 2022 21:49:30 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/8KSpuKrl04eMAGQoQckweq
    body:
      encoding: UTF-8
      string: '{"displayField":"title","name":"From Ruby SDK","description":"","fields":[{"id":"title","name":"title","type":"Symbol"},{"id":"myResourceLink","name":"My
        Resource Link","type":"ResourceLink","localized":true,"allowedResources":[{"type":"Contentful:Entry","source":"crn:contentful:::content:spaces/yb41ceqgyiw5","contentTypes":["category","course"]}]}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.5.0; platform ruby/3.0.0; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '11'
      Version:
      - '11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"2125699879861347044"'
      X-Contentf[...]
