---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concepts
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.11.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Route:
      - "/organizations/:organizationId/taxonomy/concepts"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-Request-Id:
      - 536c654f-1bb5-42d9-bea5-f644ab742812
    body:
      encoding: UTF-8
      string: '{"sys":{"type":"Array"},"limit":100,"items":[{"sys":{"id":"newConcept","type":"TaxonomyConcept","createdAt":"2025-07-07T10:55:02.436Z","updatedAt":"2025-07-07T10:55:02.436Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"notations":[],"conceptSchemes":[],"broader":[],"related":[],"prefLabel":{"en-US":"NewConcept"},"altLabels":{"en-US":[]},"hiddenLabels":{"en-US":[]},"note":{"en-US":""},"changeNote":null,"definition":{"en-US":""},"editorialNote":{"en-US":""},"example":{"en-US":""},"historyNote":{"en-US":""},"scopeNote":{"en-US":""}},{"sys":{"id":"travels","type":"TaxonomyConcept","createdAt":"2025-07-09T10:51:38.536Z","updatedAt":"2025-07-09T10:51:38.536Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"notations":[],"conceptSchemes":[],"broader":[],"related":[],"prefLabel":[...]
