---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concepts/livingRoom
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.11.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Route:
      - "/organizations/:organizationId/taxonomy/concepts/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-Request-Id:
      - 42472daa-a277-4500-b882-2677a1339814
    body:
      encoding: UTF-8
      string: '{"sys":{"id":"livingRoom","type":"TaxonomyConcept","createdAt":"2025-09-14T05:44:44.737Z","updatedAt":"2025-10-22T12:55:09.022Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":2},"uri":null,"notations":[],"conceptSchemes":[],"broader":[{"sys":{"id":"3VgXIOahV6RnBj9eNS27Ii","type":"Link","linkType":"TaxonomyConcept"}},{"sys":{"id":"greenSofas","type":"Link","linkType":"TaxonomyConcept"}}],"related":[],"prefLabel":{"en-US":"Living
        Room"},"altLabels":{"en-US":[]},"hiddenLabels":{"en-US":[]},"note":{"en-US":""},"changeNote":null,"definition":{"en-US":""},"editorialNote":{"en-US":""},"example":{"en-US":""},"historyNote":{"en-US":""},"scopeNote":{"en-US":""}}'
  recorded_at: Wed, 22 Oct 2025 12:58:23 GMT
- request:
    method: get
    uri: https://api.contentful.com/organizations/4kQeJmhUWIKtNNmMkketza/taxonomy/concepts/livingRoom/ancestors
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.11.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Route:
      - "/organizations/:organizationId/taxonomy/concepts/:id/ancestors"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - taxonomy-service
      X-Contentful-Request-Id:
      - 9b3207b0-551f-4b25-a89b-03018674a30a
    body:
      encoding: UTF-8
      string: '{"sys":{"type":"Array"},"limit":100,"items":[{"sys":{"id":"3VgXIOahV6RnBj9eNS27Ii","type":"TaxonomyConcept","createdAt":"2025-08-29T17:42:35.659Z","updatedAt":"2025-08-29T17:42:35.659Z","organization":{"sys":{"id":"4kQeJmhUWIKtNNmMkketza","type":"Link","linkType":"Organization"}},"createdBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"updatedBy":{"sys":{"id":"59Erm8D1JuuD273aXNb65T","type":"Link","linkType":"User"}},"version":1},"uri":null,"notations":[],"conceptSchemes":[],"broader":[],"related":[],"prefLabel[...]
