---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4e8cac0adab9e55f2df5d8a23197919e"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-668694449
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"bjwq7b86vgmm",
            "version":85,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T13:21:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-26T12:37:55Z"
          },
          "name":"Integration Tests"
        }

  recorded_at: Tue, 26 Jan 2016 13:23:43 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9f3c9d45e78d308dff7cb81f08eff655"'
      X-Contentful-Request-Id:
      - content-api:2GTlXZ5j8AeeyaUaeKOkWs
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "name",
              "name": "TestCT",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Symbol",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": [],
                  "disabled": null
                }
              ],
              "sys": {
                "id": "testCt",
                "type": "ContentType",
                "createdAt": "2016-01-21T13:22:50.705Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "firstPublishedAt": "2016-01-21T13:22:51.140Z",
                "publishedCounter": 65,
                "publishedAt": "2016-01-26T12:37:51.534Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 131,
                "version": 132,
                "updatedAt": "2016-01-26T12:37:51.543Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 13:23:43 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bf2ed3f9a14d5d32893e02c307f6214d"'
      Status:
  [...]
