---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4e8cac0adab9e55f2df5d8a23197919e"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-668694710
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"bjwq7b86vgmm",
            "version":85,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T13:21:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-26T12:37:55Z"
          },
          "name":"Integration Tests"
        }

  recorded_at: Tue, 26 Jan 2016 13:24:12 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9f3c9d45e78d308dff7cb81f08eff655"'
      X-Contentful-Request-Id:
      - content-api:3ZdKQc7wR26OS0yoGKqKym
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "name",
              "name": "TestCT",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Symbol",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": [],
                  "disabled": null
                }
              ],
              "sys": {
                "id": "testCt",
                "type": "ContentType",
                "createdAt": "2016-01-21T13:22:50.705Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "firstPublishedAt": "2016-01-21T13:22:51.140Z",
                "publishedCounter": 65,
                "publishedAt": "2016-01-26T12:37:51.534Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 131,
                "version": 132,
                "updatedAt": "2016-01-26T12:37:51.543Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 13:24:13 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/api_keys/6vbW35TjBTc8FyRTAuXZZe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b2f774265427beffe1f5927d01069f0f"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-668694728
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"ApiKey",
            "id":"6vbW35TjBTc8FyRTAuXZZe",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bjwq7b86vgmm"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-26T02:31:31Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-26T02:31:31Z"
          },
          "name":"testKey",
          "description":null,
          "accessToken":"833ea085204398499ea424c8ad832f1ae1cac4d64e2cc56db774aff87ef20b33",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"6veHm0b2CK8lszllc91rCE"
            }
          }
        }

  recorded_at: Tue, 26 Jan 2016 13:24:14 GMT
recorded_with: VCR 2.9.3
