---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/org_id/organization_periodic_usages
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.11.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"d2185e97c2daf1cd0f0be72a79f7b315"
      X-Contentful-Request-Id:
      - 36e77549021b20853a9535e89d0bdd4e
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 10-14741526-14741528 NNNY CT(0 0 0) RT(1582900946537 55) q(0 0 0 -1) r(2 2)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":4,
          "limit":100,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "metric":"cma",
              "usage":22951,
              "usagePerDay":{
                "2020-01-15":2629,
                "2020-01-16":12,
                "2020-01-17":874,
                "2020-01-18":0,
                "2020-01-19":0,
                "2020-01-20":797,
                "2020-01-21":483,
                "2020-01-22":169,
                "2020-01-23":185,
                "2020-01-24":251,
                "2020-01-25":0,
                "2020-01-26":0,
                "2020-01-27":1502,
                "2020-01-28":161,
                "2020-01-29":[...]
