---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/org_id/organization_periodic_usages?metric%5Bin%5D=cda
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.11.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"cd9282eb71e221f415ae9025f7f9f118"
      X-Contentful-Request-Id:
      - 1947e342e8f3266012b951a32d377445
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 12-42383868-42383874 NNNY CT(0 0 0) RT(1582901019713 53) q(0 0 0 -1) r(1 1)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":1,
          "limit":100,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "metric":"cda",
              "usage":961,
              "usagePerDay":{
                "2020-01-15":0,
                "2020-01-16":0,
                "2020-01-17":9,
                "2020-01-18":0,
                "2020-01-19":0,
                "2020-01-20":21,
                "2020-01-21":1,
                "2020-01-22":0,
                "2020-01-23":7,
                "2020-01-24":0,
                "2020-01-25":0,
                "2020-01-26":0,
                "2020-01-27":0,
                "2020-01-28":0,
                "2020-01-29":0,
                "2020-01-30":0,
                "2020-01-31":6,
                "2020-02-01":0,
                "2020-02-02":0,
                "2020-02-03":521,
                "2020-02-04":180,
                "2020-02-05":157,
                "2020-02-06":0,
                "2020-02-07":9,
                "2020-02-08":0,
                "2020-02-09":0,
                "2020-02-10":0,
                "2020-02-11":0,
                "2020-02-12":0,
                "2020-02-13":0,
                "2020-02-14":0,
                "2020-02-15":10,
                "2020-02-16":0,
                "2020-02-17":0,
                "2020-02-18":0,
                "2020-02-19":0,
                "2020-02-20":0,
                "2020-02-21":0,
                "2020-02-22":0,
                "2020-02-23":0,
                "2020-02-24":0,
                "2020-02-25":1,
                "2020-02-26":39,
                "2020-02-27":0,
                "2020-02-28":0
              },
              "unitOfMeasure":"apiRequestsCount",
              "sys":{
                "type":"OrganizationPeriodicUsage",
                "id":"usage-cda-org_id-2020-01-15-2020-02-28",
                "organization":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Organization",
                    "id":"org_id"
                  }
                }
              },
              "dateRange":{
                "startAt":"2020-01-15",
                "endAt":"2020-02-28"
              }
            }
          ]
        }

  recorded_at: Fri, 28 Feb 2020 14:43:40 GMT
recorded_with: VCR 4.0.0
