---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"651ea6013850e9b421dd9fc9426d98a3"
      X-Contentful-Request-Id:
      - a3271171ef948742df81f08a0b1839b1
      X-Iinfo:
      - 9-36001826-36002100 NNNN CT(80 72 0) RT(1507129669648 2160) q(0 0 1 -1) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":1,
          "limit":25,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "name":"My Test Organization",
              "sys":{
                "type":"Organization",
                "id":"6FR8PjPO6UUvA8qbrkbWWq",
                "version":0,
                "createdAt":"2017-10-04T14:25:55Z",
                "updatedAt":"2017-10-04T14:25:55Z"
              }
            }
          ]
        }

  recorded_at: Wed, 04 Oct 2017 15:07:53 GMT
recorded_with: VCR 3.0.3
