---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.1; platform ruby/2.7.1; os macOS/19;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"3efddc0538e5b54bf75cbf90ccb1c729"
      X-Contentful-Request-Id:
      - 74376d8fd8a19e2d2db176416bc4b0d6
      X-Contentful-Route:
      - "/organizations"
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 1-8672802-8672803 NNNN CT(196 398 0) RT(1604912099784 21) q(0 0 5 -1) r(8
        8) U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":3,
          "limit":25,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "name":"Contenful",
              "sys":{
                "type":"Organization",
                "id":"59FPZVgxkP8nNontUf5ngp",
                "version":0,
                "createdAt":"2020-10-21T09:49:40Z",
                "updatedAt":"2020-10-21T09:49:40Z"
              }
            },
            {
              "name":"Contentful Test",
              "sys":{
                "type":"Organization",
                "id":"3JZ2sQfqkxc8XBR82Qu9pF",
                "version":0,
                "createdAt":"2020-10-21T10:09:50Z",
                "updatedAt":"2020-10-21T10:09:50Z"
              }
            },
            {
              "name":"SDK Freelancers ",
              "sys":{
                "type":"Organization",
                "id":"organization_id",
                "version":0,
                "createdAt":"2020-10-28T15:02:44Z",
                "updatedAt":"2020-10-28T15:02:44Z"
              }
            }
          ]
        }

  recorded_at: Mon, 09 Nov 2020 08:55:10 GMT
- request:
    method: get
    uri: https://api.contentful.com/organizations/59FPZVgxkP8nNontUf5ngp/users/user_id
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.1; platform ruby/2.7.1; os macOS/19;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"c38e46e076152b3a920bd6a62203e744"
      X-Contentful-Request-Id:
      - 4cd94d80aba46c1e6d0cd339faf9ce02
      X-Contentful-Route:
      - "/organizations/:organization_id/users/:id"
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 4-31177296-31177297 NNNY CT(0 0 0) RT(1604912100654 17) q(0 0 0 -1) r(2 2)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "firstName":"Bhushan",
          "lastName":"Lodha",
          "avatarUrl":"https://lh4.googleusercontent.com/-5GT5yRkXB68/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucn0wIhq43Vhn1LdJM7PXm-iWqMhJg/s96-c/photo.jpg",
          "email":"bhushanlodha@gmail.com",
          "cookieConsentData":null,
          "activated":true,
          "signInCount":42,
          "confirmed":true,
          "2faEnabled":false,
          "sys":{
            "type":"User",
            "id":"user_id",
            "version":7,
            "createdAt":"2020-10-21T09:49:40Z",
            "updatedAt":"2020-11-09T07:19:33Z"
          }
        }

  recorded_at: Mon, 09 Nov 2020 08:55:10 GMT
recorded_with: VCR 4.0.0
...
