---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments?limit=100
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.5.0; platform ruby/3.0.4; os macOS/21;
      Authorization:
      - Bearer [REDACTED]
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '107999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '29'
      X-Contentful-Ratelimit-Hour-Limit:
      - '108000'
      X-Contentful-Ratelimit-Second-Limit:
      - '30'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - W/"f15774f1a536f6ab0f40399e2b69b400"
      X-Contentful-Route:
      - "/spaces/:space_id/environments"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - gatekeeper
      X-Contentful-Request-Id:
      - 19a7c057-2e1b-4559-b606-e8a1ef1869a7
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":26,
          "limit":100,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "name":"main",
              "sys":{
                "type":"Environment",
                "id":"main",
                "version":1,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"facgnwwgj5fe"
                  }
                },
                "status":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Status",
                    "id":"ready"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4LQ2gBYXSCQ0VBOgJ03Hqm"
                  }
                },
                "createdAt":"2017-12-07T11:45:58Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4LQ2gBYXSCQ0VBOgJ03Hqm"
                  }
                },
                "updatedAt":"2017-12-07T11:45:58Z",
                "aliases":[
                  {
                    "sys":{
                      "type":"Link",
                      "linkType":"EnvironmentAlias",
                      "id":"master"
                    }
                  }
                ]
              }
            },
            {
              "name":"environment-2",
              "sys":{
                "type":"Environment",
                "id":"environment-2",
                "version":3,
                "space":{
                  "sys":{
  [...]
