---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments?skip=25
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.5.0; platform ruby/3.0.4; os macOS/21;
      Authorization:
      - Bearer [REDACTED]
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '107998'
      X-Contentful-Ratelimit-Second-Remaining:
      - '28'
      X-Contentful-Ratelimit-Hour-Limit:
      - '108000'
      X-Contentful-Ratelimit-Second-Limit:
      - '30'
      Etag:
      - W/"650244a91cb16f1f1c398f693c867d4a"
      X-Contentful-Route:
      - "/spaces/:space_id/environments"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - gatekeeper
      X-Contentful-Request-Id:
      - 8f8d0960-b090-4c02-a453-b8a851a93ad2
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "total":26,
          "limit":25,
          "skip":25,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "name":"environment-26",
              "sys":{
                "type":"Environment",
                "id":"environment-26",
                "version":3,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"facgnwwgj5fe"
                  }
                },
                "status":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Status",
                    "id":"ready"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"2wIKFiIBdEWuI2fnBzOJnw"
                  }
                },
                "createdAt":"2022-09-14T11:43:20Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"2wIKFiIBdEWuI2fnBzOJnw"
                  }
                },
                "updatedAt":"2022-09-14T11:43:21Z",
                "aliases":[]
              }
            }
          ]
        }

  recorded_at: Wed, 14 Sep 2022 11:46:56 GMT
recorded_with: VCR 4.0.0
...
