---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/03vrieuz7eun/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"826d394824b7fdbe680076044ea55aed"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-1105907941
      X-Iinfo:
      - 9-31704324-31704353 NNNN CT(138 158 0) RT(1460061426035 99) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "total":2,
          "limit":25,
          "skip":0,
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "name":"Editor",
              "description":"Allows editing of all Entries",
              "policies":[
                {
                  "effect":"allow",
                  "actions":"all",
                  "constraint":{
                    "and":[
                      {
                        "equals":[
                          {
                            "doc":"sys.type"
                          },
                          "Asset"
                        ]
                      }
                    ]
                  }
                },
                {
                  "effect":"allow",
                  "actions":"all",
                  "constraint":{
                    "and":[
                      {
                        "equals":[
                          {
                            "doc":"sys.type"
                          },
                          "Entry"
                        ]
                      }
                    ]
                  }
                }
              ],
              "permissions":{
                "ContentModel":[
                  "read"
                ],
                "Settings":[],
                "ContentDelivery":[]
              },
              "sys":{
                "type":"Role",
                "id":"0rMuBQPQ2NCOE1bAFU5FSw",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"03vrieuz7eun"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "createdAt":"2016-04-07T20:34:32Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt":"2016-04-07T20:34:32Z"
              }
            },
            {
              "name":"Developer",
              "description":"Allows reading Entries and managing API Keys",
              "policies":[
                {
                  "effect":"allow",
                  "actions":[
                    "read"
                  ],
                  "constraint":{
                    "and":[
                      {
                        "equals":[
                          {
               [...]
