---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/03vrieuz7eun/roles
    body:
      encoding: UTF-8
      string: '{"name":"testRoleCreate","description":"test role","permissions":{"ContentDelivery":"all","ContentModel":["read"],"Settings":[]},"policies":[{"effect":"allow","actions":"all","constraint":{"and":[{"equals":[{"doc":"sys.type"},"Entry"]},{"equals":[{"doc":"sys.type"},"Asset"]}]}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a11450a142c9a5ffb5c0051df2b66418"'
      Location:
      - https://api.contentful.com/spaces/03vrieuz7eun/roles/5Xa7djFog5vBBeAOkp1z20
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 0b5-375596131
      X-Iinfo:
      - 5-24696761-24696791 NNNN CT(139 140 0) RT(1460062003983 101) q(0 0 3 -1) r(6
        6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"testRoleCreate",
          "description":"test role",
          "policies":[
            {
              "effect":"allow",
              "actions":"all",
              "constraint":{
                "and":[
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Entry"
                    ]
                  },
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Asset"
                    ]
                  }
                ]
              }
            }
          ],
          "permissions":{
            "ContentModel":[
              "read"
            ],
            "Settings":[],
            "ContentDelivery":"all"
          },
          "sys":{
            "type":"Role",
            "id":"5Xa7djFog5vBBeAOkp1z20",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"03vrieuz7eun"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-04-07T20:46:45Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-04-07T20:46:45Z"
          }
        }

  recorded_at: Thu, 07 Apr 2016 20:46:45 GMT
recorded_with: VCR 2.9.3
