---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/03vrieuz7eun/roles
    body:
      encoding: UTF-8
      string: '{"name":"ToDelete","description":"test role","permissions":{"ContentDelivery":"all","ContentModel":["read"],"Settings":[]},"policies":[{"effect":"allow","actions":"all","constraint":{"and":[{"equals":[{"doc":"sys.type"},"Entry"]},{"equals":[{"doc":"sys.type"},"Asset"]}]}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4c5b03ff2f2cfcdb28b1062784455074"'
      Location:
      - https://api.contentful.com/spaces/03vrieuz7eun/roles/6jpmmcJTQ0nQfaPeOqJTnH
      Status:
      - 201 Created
      X-Contentful-Request-Id:
      - 9e1-1105921568
      X-Iinfo:
      - 9-31994409-31994441 NNNN CT(170 176 0) RT(1460062453196 96) q(0 0 4 -1) r(7
        7) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"ToDelete",
          "description":"test role",
          "policies":[
            {
              "effect":"allow",
              "actions":"all",
              "constraint":{
                "and":[
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Entry"
                    ]
                  },
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Asset"
                    ]
                  }
                ]
              }
            }
          ],
          "permissions":{
            "ContentModel":[
              "read"
            ],
            "Settings":[],
            "ContentDelivery":"all"
          },
          "sys":{
            "type":"Role",
            "id":"6jpmmcJTQ0nQfaPeOqJTnH",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"03vrieuz7eun"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-04-07T20:54:14Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-04-07T20:54:14Z"
          }
        }

  recorded_at: Thu, 07 Apr 2016 20:54:14 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/03vrieuz7eun/roles/6jpmmcJTQ0nQfaPeOqJTnH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4c5b03ff2f2cfcdb28b106278445507[...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/03vrieuz7eun/roles/6jpmmcJTQ0nQfaPeOqJTnH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 404 Not Found
      X-Contentful-Request-Id:
      - b89-583999760
      X-Iinfo:
      - 7-26367695-26367728 NNNN CT(167 169 0) RT(1460062455769 98) q(0 0 4 -1) r(6
        6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "requestId":"b89-583999760",
          "message":"The resource could not be found.",
          "sys":{
            "type":"Error",
            "id":"NotFound"
          }
        }

  recorded_at: Thu, 07 Apr 2016 20:54:17 GMT
recorded_with: VCR 2.9.3
