---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/03vrieuz7eun/roles/not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 404 Not Found
      X-Contentful-Request-Id:
      - 9e1-1105916090
      X-Iinfo:
      - 10-33396145-33396185 NNNN CT(137 153 0) RT(1460062003224 97) q(0 0 3 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "requestId":"9e1-1105916090",
          "message":"The resource could not be found.",
          "sys":{
            "type":"Error",
            "id":"NotFound"
          }
        }

  recorded_at: Thu, 07 Apr 2016 20:46:44 GMT
recorded_with: VCR 2.9.3
