---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/03vrieuz7eun/roles/0rQMQMd6ZTgeF7hxjz7JDi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b07001d0296ad5d0cdebc4f6fb3fa689"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 0b5-375587953
      X-Iinfo:
      - 2-14569680-14569694 NNNN CT(137 281 0) RT(1460061425183 96) q(0 0 4 -1) r(7
        7) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |+
        {
          "name":"Developer",
          "description":"Allows reading Entries and managing API Keys",
          "policies":[
            {
              "effect":"allow",
              "actions":[
                "read"
              ],
              "constraint":{
                "and":[
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Asset"
                    ]
                  }
                ]
              }
            },
            {
              "effect":"allow",
              "actions":[
                "read"
              ],
              "constraint":{
                "and":[
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Entry"
                    ]
                  }
                ]
              }
            }
          ],
          "permissions":{
            "ContentModel":[
              "read"
            ],
            "Settings":[],
            "ContentDelivery":"all"
          },
          "sys":{
            "type":"Role",
            "id":"0rQMQMd6ZTgeF7hxjz7JDi",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"03vrieuz7eun"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-04-07T20:34:32Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-04-07T20:34:32Z"
          }
        }

  recorded_at: Thu, 07 Apr 2016 20:37:06 GMT
recorded_with: VCR 2.9.3
