---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/roles/1NzxmNIjPtzpJae5OL1m4u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"649732b229dc01625bd6260e66b6e307"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 2e42b9ec5f31ad2742bac56334f0e85b
      X-Iinfo:
      - 12-483033-483036 NNNN CT(101 101 0) RT(1554212137287 54) q(0 0 2 -1) r(3 3)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"Translator 1",
          "description":"Allows editing of localized fields in the specified language",
          "policies":[
            {
              "effect":"allow",
              "actions":[
                "read"
              ],
              "constraint":{
                "and":[
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Entry"
                    ]
                  }
                ]
              }
            },
            {
              "effect":"allow",
              "actions":[
                "read"
              ],
              "constraint":{
                "and":[
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Asset"
                    ]
                  }
                ]
              }
            },
            {
              "effect":"allow",
              "actions":[
                "update"
              ],
              "constraint":{
                "and":[
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Entry"
                    ]
                  },
                  {
                    "paths":[
                      {
                        "doc":"fields.%.%"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "effect":"allow",
              "actions":[
                "update"
              ],
              "constraint":{
                "and":[
                  {
                    "equals":[
                      {
                        "doc":"sys.type"
                      },
                      "Asset"
                    ]
                  },
                  {
                    "paths":[
                      {
                        "doc":"fields.%.%"
                      }
                    ]
                  }
                ]
              }
            }
          ],
          "permissions":{
            "ContentModel":[
              "read"
            ],
            "Settings":[],
            "ContentDelivery":[],
            "Environments":[]
          },
          "sys":{
            "type":"Role",
            "id":"1NzxmNIjPtzpJae5OL1m4u",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2017-03-02T18:30:27Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2017-03-02T18:30:27Z"
          }
        }

  recorded_at: Tue, 02 Apr 2019 13:35:38 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/roles/1NzxmNIjPtzpJae5OL1m4u
    body:
      encoding: UTF-8
      string: '{"name":"Translator - Updated","description":"Allows editing of localized
        fields in the specified language","permissions":{"ContentModel":["read"],"Settings":[],"ContentDelivery":[],"Environments":[]},"policies":[{"effect":"allow","actions":["read"],"constraint":{"and":[{"equals":[{"doc":"sys.type"},"Entry"]}]}},{"effect":"allow","actions":["read"],"constraint":{"and":[{"equals":[{"doc":"sys.type"},"Asset"]}]}},{"effect":"allow","actions":["update"],"constraint":{"and":[{"equals":[{"doc":"sys.type"},"Entry"]},{"paths":[{"doc":"fields.%.%"}]}]}},{"effect":"allow","actions":["update"],"constraint":{"and":[{"equals":[{"doc":"sys.type"},"Asset"]},{"paths":[{"doc":"fields.%.%"}]}]}}]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '0'
      Version:
      - '0'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"f76550f5b37635a7e5435fe620d77f99"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-[...]
[...]
