---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/organizations/org_id/users/user_id
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.1; platform ruby/2.7.1; os macOS/19;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"2176e6dcf7dfb6d325b574d2e2ca4680"
      X-Contentful-Request-Id:
      - c4cbc23864e1b5073944f82120cd90f2
      X-Contentful-Route:
      - "/organizations/:organization_id/users/:id"
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 6-16057515-16057518 NNNY CT(0 0 0) RT(1604058198637 34) q(0 0 0 -1) r(1 1)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "firstName":"Bhushan",
          "lastName":"Lodha",
          "avatarUrl":"https://lh4.googleusercontent.com/-5GT5yRkXB68/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucn0wIhq43Vhn1LdJM7PXm-iWqMhJg/s96-c/photo.jpg",
          "email":"bhushanlodha@gmail.com",
          "cookieConsentData":null,
          "activated":true,
          "signInCount":42,
          "confirmed":true,
          "2faEnabled":false,
          "sys":{
            "type":"User",
            "id":"user_id",
            "version":5,
            "createdAt":"2020-10-21T09:49:40Z",
            "updatedAt":"2020-10-30T10:27:13Z"
          }
        }

  recorded_at: Fri, 30 Oct 2020 11:43:19 GMT
recorded_with: VCR 4.0.0
...
