---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.8.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - W/"b77dab203d68f339bdd776884a425ba2"
      X-Contentful-Request-Id:
      - 145f8fecdf422acdd764e19026040d22
      X-Iinfo:
      - 5-125243369-125243422 NNNN CT(26 26 0) RT(1507240086148 301) q(0 0 1 0) r(2
        2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "firstName":"David",
          "lastName":"Test",
          "avatarUrl":"https://avatars.githubusercontent.com/u/1032706?v=3",
          "email":"david.test@testytest.com",
          "activated":true,
          "signInCount":26,
          "confirmed":true,
          "sys":{
            "type":"User",
            "id":"some_user_id",
            "version":38,
            "createdAt":"2015-09-17T23:13:27Z",
            "updatedAt":"2017-09-18T16:36:57Z"
          }
        }

  recorded_at: Thu, 05 Oct 2017 21:48:07 GMT
recorded_with: VCR 3.0.3
