---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"503824fb8a9e484c62bdfe7c3e43434c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "post_title": {
                  "en-US": "Some title of post"
                },
                "post_author": {
                  "en-US": "Tom Dom"
                },
                "post_body": {
                  "en-US": "Letterpress sustainable authentic, disrupt semiotics actually kitsch. Direct trade Cosby sweater Austin, Pitchfork flexitarian small batch authentic roof party 8-bit YOLO literally Neutra pour-over American Apparel dreamcatcher. High Life distillery cliche YOLO, flexitarian four loko put a bird on it plaid Marfa Shoreditch seitan Echo Park bicycle rights Pinterest PBR. Drinking vinegar Banksy gastropub, stumptown occupy farm-to-table Blue Bottle tattooed Truffaut single-origin coffee iPhone locavore pug"
                },
                "post_title_image": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "5LCvaD9lfycy02uqkwyE8S"
                    }
                  },
                  "de-DE": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "5LCvaD9lfycy02uqkwyE8S"
                    }
                  },
                  "pl-PL": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "5LCvaD9lfycy02uqkwyE8S"
                    }
                  }
                },
                "post_second_image": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "5LCvaD9lfycy02uqkwyE8S"
                    }
                  }
                },
                "post_category_id": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "5zZ8SnlKNiy2yEMOaecegy"
                    }
                  }
                }
              },
              "sys": {
                "id": "2arjcjtY7ucC4AGeIOIkok",
                "type": "Entry",
                "createdAt": "2014-08-18T06:54:57.974Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bfsvtul0c41g"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "post_content_type"
                  }
                },
                "firstPublishedAt": "2014-08-18T07:06:32.551Z",
                "publishedCounter": 3,
                "publishedAt": "2014-08-18T07:14:47.935Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 9,
                "version": 10,
                "updatedAt": "2014-08-18T07:14:47.944Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": {
                "name": {
                  "en-US": "Sport"
                },
                "description": {
                  "en-US": "Sport category"
                }
              },
              "sys": {
                "id": "5zZ8SnlKNiy2yEMOaecegy",
                "type": "Entry",
                "createdAt": "2014-08-18T07:14:23.057Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
      [...]
