---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/public/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1f726ad559b7a5cf82db6135bea8c132"'
      X-Contentful-Request-Id:
      - content-api:5GclclJMHK08ucwCeW0MuI
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "testEntry"
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "testCt"
                  }
                },
                "id": "2KFh3j824U8qQeaIs06gou",
                "revision": 39,
                "createdAt": "2016-01-25T17:26:29.082Z",
                "updatedAt": "2016-01-26T21:05:13.858Z"
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 21:09:10 GMT
recorded_with: VCR 2.9.3
