---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/3U7JqGuVzOWIimU40mKeem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"2bc5162dc8c2d1a536f5f23ef9775525"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "pl": "testName",
              "en-US": "xus",
              "pl-PL": "xpl"
            },
            "bool": {
              "pl": true,
              "en-US": null,
              "pl-PL": null
            }
          },
          "sys": {
            "id": "3U7JqGuVzOWIimU40mKeem",
            "type": "Entry",
            "createdAt": "2014-07-30T14:08:30.826Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "firstPublishedAt": "2014-07-30T14:09:02.852Z",
            "publishedCounter": 4,
            "version": 18,
            "updatedAt": "2014-07-31T06:33:15.085Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 06:33:23 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/3U7JqGuVzOWIimU40mKeem/archived
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5aa7d763f9f0fa7dd51e585dc94296f5"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "pl": "testName",
              "en-US": "xus",
              "pl-PL": "xpl"
            },
            "bool": {
 [...]
