---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/entries?content_type=category_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f6ed4ced9a8e40cca410b8aa490c926c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "Sport"
                },
                "description": {
                  "en-US": "Sport category"
                }
              },
              "sys": {
                "id": "5zZ8SnlKNiy2yEMOaecegy",
                "type": "Entry",
                "createdAt": "2014-08-18T07:14:23.057Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bfsvtul0c41g"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "category_content_type"
                  }
                },
                "firstPublishedAt": "2014-08-18T08:17:36.632Z",
                "publishedCounter": 1,
                "publishedAt": "2014-08-18T08:17:36.632Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 1,
                "version": 2,
                "updatedAt": "2014-08-18T08:17:36.636Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "sys": {
                "id": "3BERBnawlySqMgMqW6MgKw",
                "type": "Entry",
                "createdAt": "2014-08-18T08:16:40.050Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
     [...]
