---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/9lxkhjnp8gyx/entries?content_type=category_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"971ee4a299e08e65093824445f32ad78"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "Sport"
                },
                "description": {
                  "en-US": "Sport category"
                }
              },
              "sys": {
                "id": "1CpB2YkA5q0aMywe0wmCCQ",
                "type": "Entry",
                "createdAt": "2014-08-13T07:08:52.842Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "9lxkhjnp8gyx"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "category_content_type"
                  }
                },
                "version": 1,
                "updatedAt": "2014-08-13T07:08:52.850Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": {
                "name": {
                  "en-US": "Categoru"
                },
                "description": {
                  "en-US": "asdasd"
                }
              },
              "sys": {
                "id": "3[...]
