---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/1d1QDYzeiyWmgqQYysae8u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1dbef3bc858d62efda5955b46c4d4e20"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Tom Handy"
            },
            "age": {
              "en-US": 30
            },
            "city": {
              "en-US": {
                "lat": 22.44,
                "lon": 33.33
              }
            }
          },
          "sys": {
            "id": "1d1QDYzeiyWmgqQYysae8u",
            "type": "Entry",
            "createdAt": "2014-07-30T13:07:10.630Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "firstPublishedAt": "2014-07-30T13:34:58.934Z",
            "publishedCounter": 1,
            "publishedAt": "2014-07-30T13:34:58.934Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 1,
            "version": 2,
            "updatedAt": "2014-07-30T13:34:58.938Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 06:39:11 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"22ac7b99fb23804fd7b079ade52f888e"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Text",
              "uiid": "3fflnrplhc0",
              "localized": true
            },
            {
              "name": "age",
              "id": "age",
              "uiid": "2t5blkc7u2o",
              "type": "Integer",
              "localized": true
            },
            {
              "name": "city",
              "id": "city",
              "type": "Location",
              "uiid": "4fzl5jkm1a8",
              "localized": false
            },
            {
              "name": "assets",
              "id": "assets",
              "uiid": "3aqrgdyesxs",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": true
            },
            {
              "name": "entries",
              "id": "entries",
              "type": "Array",
              "uiid": "3xi486kbchs",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              }
            },
            {
              "name": "entry",
              "id": "entry",
              "type":[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"EntryWithEntries"},"age":{"en-US":20},"entries":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"1d1QDYzeiyWmgqQYysae8u"}},{"sys":{"type":"Link","linkType":"Entry","id":"1d1QDYzeiyWmgqQYysae8u"}},{"sys":{"type":"Link","linkType":"Entry","id":"1d1QDYzeiyWmgqQYysae8u"}}]}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5DSpuKrl04eMAGQoQckeIq
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"156be1d3ba61361219734e595aa72dfe"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "EntryWithEntries"
            },
            "age": {
              "en-US": 20
  [...]
