---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/s37a4pe35l1x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1336709330
      Etag:
      - '"9d5bcd9580cc469d4f68ace4996fab91"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"s37a4pe35l1x",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-14T08:10:29Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-14T08:10:29Z"
          },
          "name":"CMA_demo_rails_app"}
  recorded_at: Sun, 17 Aug 2014 13:17:13 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/s37a4pe35l1x/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a1a137f3c02effb86c458426f434e6c5"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "post_title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "post_title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "3spughz6ghs"
                },
                {
                  "id": "post_author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4dkqg6h1csg"
                },
                {
                  "id": "post_body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true,
                  "uiid": "3g74k6duiv4"
                },
                {
                  "id": "post_title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "uiid": "354ugb4mdxc"
                },
                {
                  "id": "post_second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true,
                  "uiid": "4eddpb6ek8w"
                },
                {
                  "id": "post_category_id",
                  "name": "Category",
                  "type": "Link",
                  "linkType": "Entry",
                  "uiid": "351r9x54s1s"
                }
              ],
              "sys": {
                "id": "post_content_type",
                "type": "ContentType",
                "createdAt": "2014-08-14T08:10:42.615Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "s37a4pe35l1x"
                  }
                },
                "firstPublishedAt": "2014-08-14T08:10:51.146Z",
                "publishedCounter": 1,
                "publishedAt": "2014-08-14T08:10:51.146Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 8,
                "version": 10,
                "updatedAt": "2014-08-14T08:25:00.305Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "displayField": "name",
              "name": "Category",
              "description": "",
              "fields": [
         [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/s37a4pe35l1x/environments/master/content_types/category_content_type
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29e0[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/s37a4pe35l1x/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"pl-PL":"Create test"},"description":{"pl-PL":"Test
        - create entry with specified locale."}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - category_content_type
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"234fcf2651164c8dc53ab047b9bd9b3d"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "pl-PL": "Create test"
            },
            "description": {
              "pl-PL": "Test - create entry with specified locale."
            }
          },
          "sys": {
            "id": "6R4Ya9FbPOco0cEiSGUa2y",
            "type": "Entry",
            "version": 1,
            "createdAt": "2014-08-17T13:17:11.481Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "s37a4pe35l1x"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "category_content_type"
              }
            },
            "updatedAt": "2014-08-17T13:17:11.481Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Sun, 17 Aug 2014 13:17:15 GMT
recorded_with: VCR 2.9.2
