---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"afc1d1d1e9206ea44263ba90d1add62d"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Text",
              "uiid": "3fflnrplhc0",
              "localized": true
            },
            {
              "name": "age",
              "id": "age",
              "uiid": "2t5blkc7u2o",
              "type": "Integer"
            },
            {
              "name": "city",
              "id": "city",
              "type": "Location",
              "uiid": "4fzl5jkm1a8"
            },
            {
              "name": "assets",
              "id": "assets",
              "uiid": "3aqrgdyesxs",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              }
            },
            {
              "name": "entries",
              "id": "entries",
              "type": "Array",
              "uiid": "3xi486kbchs",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              }
            },
            {
              "name": "entry",
              "id": "entry",
              "type": "Link",
              "uiid": "3uxjdd1n5ds",
              "linkType": "Entry"
            },
            {
              "name": "asset",
              "id": "asset",
              "type": "Link",
              "uiid": "40ilp8h1xc0",
              "linkType": "Asset"
            }
          ],
          "name": "Author",
          "sys": {
            "id": "5DSpuKrl04eMAGQoQckeIq",
            "type": "ContentType",
            "createdAt": "2014-07-30T12:35:01.110Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-30T12:37:42.035Z",
            "publishedCounter": 2,
            "publishedAt": "2014-07-30T13:11:47.283Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 143,
            "version": 144,
            "updatedAt": "2014-07-30T13:11:47.297Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "description": null,
          "displayField": "name"
        }
  recorded_at: Wed, 30 Jul 2014 13:18:00 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Tom Handy"},"age":{"en-US":30},"city":{"en-US":{"lat":22.44,"lon":33.33}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5DSpuKrl04eMAGQoQckeIq
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"859ec6691f323892bb327ee0b759e476"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Tom Handy"
            },
            "age": {
              "en-US": 30
            },
            "city": {
              "en-US": {
                "lat": 22.44,
                "lon": 33.33
              }
            }
          },
          "sys": {
            "id": "186trBs2PEQgUsmUQoosyI",
            "type": "Entry",
            "version": 1,
            "createdAt": "2014-07-30T13:18:00.902Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "updatedAt": "2014-07-30T13:18:00.902Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 30 Jul 2014 13:18:01 GMT
recorded_with: VCR 2.9.2
