---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/content_types/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b995d565da7819ad9bbbc285771244bd"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35942'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - d8a435708c3e0b59ab6b1d9158be9a8c
      X-Iinfo:
      - 2-32234290-32234303 NNNN CT(105 107 0) RT(1528807146445 60) q(0 0 2 -1) r(8
        8) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            },
            "id": "test",
            "type": "ContentType",
            "createdAt": "2017-03-02T18:32:49.570Z",
            "updatedAt": "2017-03-02T18:32:50.586Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedCounter": 1,
            "version": 2,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 1,
            "firstPublishedAt": "2017-03-02T18:32:50.559Z",
            "publishedAt": "2017-03-02T18:32:50.559Z"
          },
          "displayField": "name",
          "name": "Test",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "name",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": false,
              "omitted": false
            }
          ]
        }
  recorded_at: Tue, 12 Jun 2018 12:39:08 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"foobar"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.2.0; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - test
      Content-Type-Id:
      - test
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"cbe73cdb8d7ece4ff67125c9cdd85cd0"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35941'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9[...]
