---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/codequest_id_test_custom
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0ff4c4b8f43df017425d0b74e315f1d2"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI_custom_id"
            },
            "description": {
              "en-US": "descByAPI_custom_id"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "codequest.jpg",
                "details": {
                  "image": {
                    "width": 90,
                    "height": 90
                  },
                  "size": 7094
                },
                "url": "//images.contentful.com/yr5m0jky5hsh/codequest_id_test_custom/8c9205380d47c5fdd9a9f01acfc23aa0/codequest.jpg"
              }
            }
          },
          "sys": {
            "id": "codequest_id_test_custom",
            "type": "Asset",
            "createdAt": "2014-07-31T07:38:09.232Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T13:21:14.146Z",
            "publishedCounter": 1,
            "version": 4,
            "updatedAt": "2014-07-31T13:21:38.397Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 13:48:31 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0d232e3ca0d9eea2582d69148be0df3b"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Author",
          "description": "Author content",
          "fields": [
            {
              "id": "name",
              "name": "name",
              "type": "Text",
              "localized": true,
              "uiid": "3jp09h4ba4g"
            },
            {
              "id": "age",
              "name": "age",
              "type": "Integer",
              "localized": true,
              "uiid": "43my1e8ybr4"
            },
            {
              "id": "city",
              "name": "city",
              "type": "Location",
              "uiid": "45uoowshekg"
            },
            {
              "id": "assets",
              "name": "assets",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": true,
              "uiid": "4p8d3di8b28"
            },
            {
              "id": "entries",
              "name": "entries",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              },
              "uiid": "4t2r2mpmwow"
            },
            {
              "id": "entry",
              "[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"OneAsset"},"asset":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"codequest_id_test_custom"}}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5DSpuKrl04eMAGQoQckeIq
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"21e68db6ae2fa375523a41a90ec45a00"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "OneAsset"
            },
            "asset": {
              "en-US": {
         [...]
