---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/4o6ghKSmSko4i828YCYaEo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"69cf9fbf38ee30f1d8b8d01649cb4034"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Tom Handy",
              "pl": "testName"
            },
            "age": {
              "en-US": 20,
              "pl": null
            },
            "bool": {
              "en-US": false,
              "pl": null
            },
            "birthday": {
              "en-US": "2000-07-12T11:11:00+02:00",
              "pl": null
            },
            "city": {
              "en-US": {
                "lat": 22.44,
                "lon": 33.33
              },
              "pl": null
            },
            "asset": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Asset",
                  "id": "codequest_id_test_custom_id"
                }
              },
              "pl": null
            },
            "assets": {
              "en-US": [
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "codequest_id_test_custom_id"
                  }
                },
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "codequest_id_test_custom_id"
                  }
                },
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "codequest_id_test_custom_id"
                  }
                }
              ],
              "pl": null
            },
            "entry": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "1d1QDYzeiyWmgqQYysae8u"
                }
              },
              "pl": null
            },
            "entries": {
              "en-US": [
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "1d1QDYzeiyWmgqQYysae8u"
                  }
                },
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "1d1QDYzeiyWmgqQYysae8u"
                  }
                },
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "1d1QDYzeiyWmgqQYysae8u"
                  }
                }
              ],
              "pl": null
            },
            "symbols": {
              "en-US": [
                "PL",
                "USD",
                "XX"
              ],
              "pl": null
            }
          },
          "sys": {
            "id": "4o6ghKSmSko4i828YCYaEo",
            "type": "Entry",
            "createdAt": "2014-07-30T13:44:39.414Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "firstPublishedAt": "2014-07-30T13:44:42.304Z",
            "publishedCounter": 2,
            "publishedAt": "2014-07-30T13:53:55.981Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 3,
            "version": 6,
            "updatedAt": "2014-07-30T14:11:08.611Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 06:36:07 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"22ac7b99fb23804fd7b079ade52f888e"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Text",
              "uiid": "3fflnrplhc0",
              "localized": true
            },
            {
              "name": "age",
              "id": "age",
              "uiid": "2t5blkc7u2o",
              "type": "Integer",
              "localized": true
            },
            {
              "name": "city",
              "id": "city",
              "type": "Location",
              "uiid": "4fzl5jkm1a8",
              "localized": false
            },
            {
              "name": "assets",
              "id": "assets",
              "uiid": "3aqrgdyesxs",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": true
            },
            {
              "name": "entries",
              "id": "entries",
              "type": "Array",
              "uiid": "3xi486kbchs",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              }
            },
            {
              "name": "entry",
              "id": "entry",
              "type":[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"EntryWithEntry"},"age":{"en-US":20},"entry":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"4o6ghKSmSko4i828YCYaEo"}}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5DSpuKrl04eMAGQoQckeIq
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"012cde2a7af4ada230cc5758739cbd07"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "EntryWithEntry"
            },
            "age": {
              "en-US": 20
    [...]
