---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ene4qtp2sh7u/environments/master/content_types/5BHZB1vi4ooq4wKcmA8e2c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d49e8af3ced51676c046790da0fe89fb"'
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Codequest",
          "description": "Testing",
          "fields": [
            {
              "id": "name",
              "name": "Name",
              "type": "Text",
              "uiid": "452r72wvh1c"
            },
            {
              "id": "number",
              "name": "Number",
              "type": "Integer",
              "uiid": "2zf2xnbcc8w"
            },
            {
              "id": "float1",
              "name": "Float",
              "type": "Number",
              "uiid": "2qmb4i5zklc"
            },
            {
              "id": "boolean",
              "name": "Boolean",
              "type": "Boolean",
              "uiid": "2mqwfhfkpa8"
            },
            {
              "id": "date",
              "name": "Date",
              "type": "Date",
              "uiid": "39kf6vtvzsw"
            },
            {
              "id": "time",
              "name": "Time",
              "type": "Date",
              "uiid": "4japfn2glq8"
            },
            {
              "id": "location",
              "name": "Location",
              "type": "Location",
              "uiid": "4r1l3b0u800"
            },
            {
              "id": "file",
              "name": "File",
              "type": "Link",
              "linkType": "Asset",
              "uiid": "3aqw57s3n5s"
            },
            {
              "id": "image",
              "name": "Image",
              "type": "Link",
              "linkType": "Asset",
              "uiid": "2zsuo6p3f28"
            },
            {
              "id": "array",
              "name": "Array",
              "type": "Array",
              "items": {
                "type": "Symbol"
              },
              "uiid": "4qm6kx5mfb4"
            },
            {
              "id": "entry",
              "name": "Entry",
              "type": "Link",
              "linkType": "Entry",
              "uiid": "2lnx99j0nwg"
            },
            {
              "id": "entries",
              "name": "Entries",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              },
              "uiid": "3oega21yd4w"
            },
            {
              "id": "object_json",
              "name": "Object",
              "type": "Object",
              "uiid": "37qbc8lcvls"
            }
          ],
          "sys": {
            "id": "5BHZB1vi4ooq4wKcmA8e2c",
            "type": "ContentType",
            "createdAt": "2014-09-15T08:29:27.844Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ene4qtp2sh7u"
              }
            },
            "firstPublishedAt": "2014-09-15T08:29:38.623Z",
            "publishedCounter": 1,
            "publishedAt": "2014-09-15T08:29:38.623Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 14,
            "version": 16,
            "updatedAt": "2014-09-15T08:29:45.241Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Mon, 15 Sep 2014 09:10:54 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ene4qtp2sh7u/environments/master/assets/2oNoT3vSAs82SOIQmKe0KG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"641fb0041c06d601389ca6f169ed0d9b"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "Testowy Asset"
            },
            "file": {
              "en-US": {
                "fileName": "the-",
                "contentType": "image/jpeg",
                "details": {
                  "image": {
                    "width": 400,
                    "height": 215
                  },
                  "size": 18395
                },
                "url": "//images.contentful.com/ene4qtp2sh7u/2oNoT3vSAs82SOIQmKe0KG/629ab35b8dcd905017d05215b86d81d3/universe.jpg"
              }
            }
          },
          "sys": {
            "id": "2oNoT3vSAs82SOIQmKe0KG",
            "type": "Asset",
            "createdAt": "2014-09-15T08:42:27.406Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "ene4qtp2sh7u"
              }
            },
            "version": 13,
            "updatedAt": "2014-09-15T08:43:05.677Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Mon, 15 Sep 2014 09:10:54 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/ene4qtp2sh7u/environments/master/entries/60zYC7nY9GcKGiCYwAs4wm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentf[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/ene4qtp2sh7u/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Test name"},"number":{"en-US":30},"float1":{"en-US":1.1},"boolean":{"en-US":true},"date":{"en-US":"2000-07-12T11:11:00+02:00"},"time":{"en-US":"2000-07-12T11:11:00+02:00"},"location":{"en-US":{"lat":22.44,"lon":33.33}},"file":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"2oNoT3vSAs82SOIQmKe0KG"}}},"image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"2oNoT3vSAs82SOIQmKe0KG"}}},"array":{"en-US":["PL","USD","XX"]},"entry":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"60zYC7nY9GcKGiCYwAs4wm"}}},"entries":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"60zYC7nY9GcKGiCYwAs4wm"}},{"sys":{"type":"Link","linkType":"Entry","id":"60zYC7nY9GcKGiCYwAs4wm"}}]},"object_json":{"en-US":{"test":{"@type":"Codequest"}}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5BHZB1vi4ooq4wKcmA8e2c
  response:
    status:
      code: 201
      message: Created
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4dc5970303659a6a3f2bdd7b731e7895"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Test name"
            },
            "number": {
              "en-US": 30
      [...]
