---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/3U7JqGuVzOWIimU40mKeem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"d3490d2d5c2ff69838509de3232f2d81"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "pl": "testName",
              "en-US": "xus",
              "pl-PL": "xpl"
            },
            "bool": {
              "pl": true,
              "en-US": null,
              "pl-PL": null
            }
          },
          "sys": {
            "id": "3U7JqGuVzOWIimU40mKeem",
            "type": "Entry",
            "createdAt": "2014-07-30T14:08:30.826Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "firstPublishedAt": "2014-07-30T14:09:02.852Z",
            "publishedCounter": 5,
            "version": 22,
            "updatedAt": "2014-07-31T06:34:33.351Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Thu, 31 Jul 2014 06:34:38 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/3U7JqGuVzOWIimU40mKeem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 31 Jul 2014 06:34:39 GMT
recorded_with: VCR 2.9.2
