---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/wqjq16zu9s8b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"77ff51f219c1505c57c86134ef8fdd46"'
      Status:
      - 200 OK
      X-Contentful-Ratelimit-Hour-Limit:
      - '18000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '17899'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 6ed5087fe077424d4d47a8b3a1d5bf9e
      X-Iinfo:
      - 5-11491643-11491660 NNNN CT(126 260 0) RT(1476447144429 154) q(0 0 4 -1) r(6
        6) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"management.rb - Fallback",
          "sys":{
            "type":"Space",
            "id":"wqjq16zu9s8b",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-10-14T12:00:26Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-10-14T12:00:26Z"
          }
        }

  recorded_at: Fri, 14 Oct 2016 12:12:24 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/wqjq16zu9s8b/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6508fef90dc0cea0e8f0fe1def4225af"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '18000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '17898'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 23c5cbfd5606024757809c4885f63c0b
      X-Iinfo:
      - 9-17143620-17143655 NNNN CT(129 128 0) RT(1476447145348 137) q(0 0 3 -1) r(28
        28) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "wqjq16zu9s8b"
                  }
                },
                "id": "test",
                "type": "ContentType",
                "createdAt": "2016-10-14T12:02:29.819Z",
                "updatedAt": "2016-10-14T12:02:32.455Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedCounter": 1,
                "version": 2,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 1,
                "firstPublishedAt": "2016-10-14T12:02:32.442Z",
                "publishedAt": "2016-10-14T12:02:32.442Z"
              },
              "displayField": "name",
              "name": "Test",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Symbol",
                  "localized": true,
                  "required": false,
                  "validations": [],
                  "disabled": false,
                  "omitted": false
                }
              ]
            }
          ]
        }
  recorded_at: Fri, 14 Oct 2016 12:12:27 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/wqjq16zu9s8b/environments/master/entries/6HSlhD1o3eqkyEWWuMQYyU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"91cd337b0[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/wqjq16zu9s8b/environments/master/entries/6HSlhD1o3eqkyEWWuMQYyU
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Foo","es":"Bar"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '9'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"44799c327e0e3ceed7ea42fb3340d8e8"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '18000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '17896'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - e17b1ff09ced7d7a730a6315df26366d
      X-Iinfo:
      - 1-6946572-6946578 NNNN CT(127 128 0) RT(1476447161244 287) q(0 0 2 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Foo",
              "es": "Bar"
            }
          },
          "sys": {
            "id": "6HSlhD1o3eqkyEWWuMQYyU",
            "type": "Entry",
            "createdAt": "2016-10-14T12:02:37.658Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "wqjq16zu9s8b"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "test"
              }
            },
            "firstPublishedAt": "2016-10-14T12:02:51.245Z",
            "publishedCounter": 1,
            "publishedAt": "2016-10-14T12:02:51.245Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 8,
            "version": 10,
            "updatedAt": "2016-10-14T12:12:42.683Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 14 Oct 2016 12:12:41 GMT
recorded_with: VCR 3.0.3
