---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"32c90c77146689c6ee9228c16bb40c29"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9f3-2134559521
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"2v0GtVL6ueN06baMKLK3Cp"
              }
            },
            "createdAt":"2015-06-11T12:20:54Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"2v0GtVL6ueN06baMKLK3Cp"
              }
            },
            "updatedAt":"2015-06-11T12:20:55Z"
          },
          "name":"test-3385"
        }

  recorded_at: Thu, 11 Jun 2015 13:20:35 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 733588104fa52e1fc98c9aea4f9e95970816f4119380b6e7c7c855def20acedf
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"34b1b7ec192db4b6b53522c5386d3d80"'
      X-Contentful-Request-Id:
      - content-api:5n6lElDqcEIaCOoQca0q0g
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "symbol type",
              "fields": [
                {
                  "name": "dings",
                  "id": "dings",
                  "type": "Text"
                },
                {
                  "name": "videoid",
                  "id": "videoid",
                  "type": "Symbol"
                }
              ],
              "description": "lalala",
              "displayField": "dings",
              "sys": {
                "id": "2YGtsI1JOgQK2uQqWqySWw",
                "type": "ContentType",
                "createdAt": "2015-06-11T12:21:39.769Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "2v0GtVL6ueN06baMKLK3Cp"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "firstPublishedAt": "2015-06-11T12:26:30.349Z",
                "publishedCounter": 1,
                "publishedAt": "2015-06-11T12:26:30.349Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "2v0GtVL6ueN06baMKLK3Cp"
                  }
                },
                "publishedVersion": 2,
                "version": 3,
                "updatedAt": "2015-06-11T12:26:30.394Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "2v0GtVL6ueN06baMKLK3Cp"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Thu, 11 Jun 2015 13:20:39 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/4Rouux8SoUCKwkyCq2I0E0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 733588104fa52e1fc98c9aea4f9e95970816f4119380b6e7c7c855def20acedf
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"004dcd92882533575407fe66a0d258ff"'
      X-Contentful-Request-Id:
      - content-api:pg0F35sAlagw606mAGoCi
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "dings": {
              "en-US": "mah"
            },
            "videoid": {
              "en-US": null
            }
          },
          "sys": {
            "id": "4Rouux8SoUCKwkyCq2I0E0",
            "type": "Entry",
            "createdAt": "2015-06-11T12:27:16.269Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "2v0GtVL6ueN06baMKLK3Cp"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "2YGtsI1JOgQK2uQqWqySWw"
              }
            },
            "firstPublishedAt": "2015-06-11T12:27:29.807Z",
            "publishedCounter": 4,
            "publishedAt": "2015-06-11T12:49:08.923Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "2v0GtVL6ueN06baMKLK3Cp"
              }
            },
            "publishedVersion": 23,
            "version": 25,
            "updatedAt": "2015-06-11T12:49:09.104Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "2v0GtVL6ueN06baMKLK3Cp"
              }
            }
          }
        }
  recorded_at: Thu, 11 Jun 2015 13:20:41 GMT
recorded_with: VCR 2.9.3
