---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/2GmtCwDBcIu4giMgQGIIcq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"7f4ae3306535909e190f9a86feaaa71f"'
      X-Contentful-Request-Id:
      - content-api:1aftX6miPaSmaYqWGyOsey
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "2GmtCwDBcIu4giMgQGIIcq",
            "type": "Entry",
            "createdAt": "2016-01-19T12:56:43.494Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "firstPublishedAt": "2016-01-19T12:57:11.738Z",
            "publishedCounter": 2,
            "publishedAt": "2016-01-19T12:57:32.178Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 51,
            "version": 52,
            "updatedAt": "2016-01-19T12:57:32.193Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          },
          "fields": {
            "name": {
              "en-GB": "Test With Previously Empty Field"
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 14:21:23 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/2GmtCwDBcIu4giMgQGIIcq
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Test With Previously Empty Field"},"value":{"en-GB":"goodbye"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '52'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"eee7eff1f82b2ed8aeb16807b67955fd"'
      X-Contentful-Request-Id:
      - content-api:Z2MkjSKtwYy0ysoKCAs4G
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-GB": "Test With Previously Empty Field"
            },
            "value": {
             [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/2GmtCwDBcIu4giMgQGIIcq/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '53'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful[...]
[...]
