---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/content_types/someType
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"720d932d152cc930127c0ca782759540"'
      X-Contentful-Request-Id:
      - content-api:464CNITSm4EEy6GW0I80y6
    body:
      encoding: UTF-8
      string: |
        {
          "name": "SomeType",
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Symbol"
            },
            {
              "name": "value",
              "id": "value",
              "type": "Symbol",
              "localized": true,
              "validations": []
            }
          ],
          "description": "",
          "displayField": "name",
          "sys": {
            "id": "someType",
            "type": "ContentType",
            "createdAt": "2015-12-07T13:32:02.610Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "firstPublishedAt": "2015-12-07T13:32:03.012Z",
            "publishedCounter": 2,
            "publishedAt": "2015-12-07T13:36:35.994Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 4,
            "version": 5,
            "updatedAt": "2015-12-07T13:36:36.026Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:49:03 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_4
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - someType
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3bb492ba97862322ce83fd9b65620bf2"'
      X-Contentful-Request-Id:
      - content-api:jVbkVAN8aWqmKiGKi6ECi
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "issue61_4",
            "type": "Entry",
            "version": 1,
            "createdAt": "2016-01-19T13:49:07.842Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "updatedAt": "2016-01-19T13:49:07.842Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:49:04 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_4
    body:
      encoding: UTF-8
      string: '{"fields":{"value":{"en-GB":"goodbye"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8953a3ad7fccdcfb2b276e50477e80c3"'
      X-Contentful-Request-Id:
      - content-api:3VWliguFO0sq4AA2cQceim
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "value": {
              "en-GB": "goodbye"
            }
          },
          "sys": {
            "id": "issue61_4",
            "type": "Entry",
            "createdAt": "2016-01-19T13:49:07.842Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "version": 2,
            "updatedAt": "2016-01-19T13:49:09.453Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:49:05 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_4/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1[...]
- request:
    method: delete
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Cannot delete published",
          "requestId": "content-api:5Kw9eyRh5uEAEsg84sG0Cq"
        }
  recorded_at: Tue, 19 Jan 2016 13:49:07 GMT
recorded_with: VCR 2.9.3
