---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"600c18d721048034dcdaf8c7b867fe49"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - '05764915ddad37a29bfb191a03796ea1'
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 13-43399208-43399603 NNNY CT(0 0 0) RT(1593688584397 1659) q(0 0 0 -1) r(2
        2) U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"management.rb - #215",
          "sys":{
            "type":"Space",
            "id":"vuo79u060fmw",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2020-07-02T10:40:30Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2020-07-02T10:40:30Z",
            "organization":{
              "sys":{
                "type":"Link",
                "linkType":"Organization",
                "id":"4SsuxQCaMaemfIms52Jr8s"
              }
            }
          }
        }

  recorded_at: Thu, 02 Jul 2020 11:16:26 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"a282fd54c09fd4a1e6f9f8e3cec37e64"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - 908bc7c1d2c51a0fba3e041efb188663
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 11-24115418-24115426 NNNY CT(0 0 0) RT(1593688586479 64) q(0 0 0 -1) r(1 1)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"vuo79u060fmw"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2020-07-02T10:40:30Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2020-07-02T10:40:30Z"
          }
        }

  recorded_at: Thu, 02 Jul 2020 11:16:26 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/entries/4aVBlJajh2rZb7ybW2tY2X
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"12800990430462666890"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 4a11f758d73dc32f68ee7c4fcfcca0c8
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 6-8164151-8164153 NNNY CT(0 0 0) RT(1593688586999 58) q(0 0 0 -1) r(3 3) U5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "metadata": {
            "tags": []
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "vuo79u060fmw"
              }
            },
            "id": "4aVBlJajh2rZb7ybW2tY2X",
            "type": "Entry",
            "createdAt": "2020-07-02T10:43:07.669Z",
            "updatedAt": "2020-07-02T10:43:21.608Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 2,
            "publishedAt": "2020-07-02T10:43:21.608Z",
            "firstPublishedAt": "2020-07-02T10:43:21.608Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedCounter": 1,
            "version": 3,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "test"
              }
            }
          },
          "fields": {
            "title": {
              "en-US": "With Empty JSON"
            }
          }
        }
  recorded_at: Thu, 02 Jul 2020 11:16:27 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/content_types/test
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/entries/4aVBlJajh2rZb7ybW2tY2X
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"With Empty JSON"},"json":{"en-US":{"a":1}}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '3'
      X-Contentful-Content-Type:
      - test
      Content-Type-Id:
      - test
      Version:
      - '3'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"3782483616295459624"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remain[...]
[...]
