---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"49419e44c9c95cc7f3fa23aa372f164f"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - b89-1515987497
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"u2viwgfeal0o",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-12-07T13:29:36Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-12-07T13:29:36Z"
          },
          "name":"management.rb - #73"
        }

  recorded_at: Tue, 19 Jan 2016 14:18:03 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c95db41ce3f41bfc50ff08c04e13a4e2"'
      X-Contentful-Request-Id:
      - content-api:4Er60Lpo8g8IAI06UEe4Ag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "SomeType",
              "fields": [
                {
                  "name": "name",
                  "id": "name",
                  "type": "Symbol"
                },
                {
                  "name": "value",
                  "id": "value",
                  "type": "Symbol",
                  "localized": true,
                  "validations": []
                }
              ],
              "description": "",
              "displayField": "name",
              "sys": {
                "id": "someType",
                "type": "ContentType",
                "createdAt": "2015-12-07T13:32:02.610Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "u2viwgfeal0o"
                  }
                },
                "firstPublishedAt": "2015-12-07T13:32:03.012Z",
                "publishedCounter": 2,
                "publishedAt": "2015-12-07T13:36:35.994Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 4,
                "version": 5,
                "updatedAt": "2015-12-07T13:36:36.026Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Tue, 19 Jan 2016 14:18:04 GMT
[...]
