---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/entries/fIpsfQSOd22IsqMQCiG0K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4e1c0066d19c963ced7d05d0b41e4e0e"'
      X-Contentful-Request-Id:
      - content-api:4RDHYoSV9SIMeYkquwIQGM
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "fIpsfQSOd22IsqMQCiG0K",
            "type": "Entry",
            "createdAt": "2016-01-19T13:51:58.820Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "firstPublishedAt": "2016-01-19T13:52:13.524Z",
            "publishedCounter": 1,
            "publishedAt": "2016-01-19T13:52:13.524Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 34,
            "version": 35,
            "updatedAt": "2016-01-19T13:52:13.539Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          },
          "fields": {
            "name": {
              "en-GB": "Test With Already Populated Field"
            },
            "value": {
              "en-GB": "hello"
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 14:15:47 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/entries/fIpsfQSOd22IsqMQCiG0K
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Test With Already Populated Field"},"value":{"en-GB":"goodbye"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '35'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"70a99177055547fd292104481d82a2c0"'
      X-Contentful-Request-Id:
      - content-api:2y8OaGog5Oc068e8cQEiGi
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-GB": "Test With Already Populated Field"
            },
            "value": {
           [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/entries/fIpsfQSOd22IsqMQCiG0K/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '36'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
 [...]
[...]
