---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/2GmtCwDBcIu4giMgQGIIcq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"024cbf4776b2b351c71267b003573101"'
      X-Contentful-Request-Id:
      - content-api:3XUPAgbXJmsQYIAGYeSE8K
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-GB": "Test With Previously Empty Field"
            },
            "value": {
              "en-GB": null
            }
          },
          "sys": {
            "id": "2GmtCwDBcIu4giMgQGIIcq",
            "type": "Entry",
            "createdAt": "2016-01-19T12:56:43.494Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "firstPublishedAt": "2016-01-19T12:57:11.738Z",
            "publishedCounter": 6,
            "publishedAt": "2016-01-20T12:56:30.203Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 59,
            "version": 60,
            "updatedAt": "2016-01-20T12:56:30.215Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 20 Jan 2016 13:08:44 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/content_types/someType
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"720d932d152cc930127c0ca782759540"'
      X-Contentful-Request-Id:
      - content-api:S23Qa2s3ioeEQEswwwCo8
    body:
      encoding: UTF-8
      string: |
        {
          "name": "SomeType",
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Symbol"
            },
            {
              "name": "value",
              "id": "value",
              "type": "Symbol",
              "localized": true,
              "validations": []
            }
          ],
          "description": "",
          "displayField": "name",
          "sys": {
            "id": "someType",
            "type": "ContentType",
            "createdAt": "2015-12-07T13:32:02.610Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "firstPublishedAt": "2015-12-07T13:32:03.012Z",
            "publishedCounter": 2,
            "publishedAt": "2015-12-07T13:36:35.994Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 4,
            "version": 5,
            "updatedAt": "2015-12-07T13:36:36.026Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Wed, 20 Jan 2016 13:08:46 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/2GmtCwDBcIu4giMgQGIIcq
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Test With Previously Empty Field"},"value":{"en-GB":"goodbye"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '60'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"cd6c2ba47fce9a5251209a529dbc5db9"'
      X-Contentful-Request-Id:
      - content-api:1I8ijOCr9ucoQKiawQikcs
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-GB": "Test With Previously Empty Field"
            },
            "value": {
            [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/2GmtCwDBcIu4giMgQGIIcq/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '61'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful[...]
[...]
