---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"600c18d721048034dcdaf8c7b867fe49"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 0e976bde3660cf20794c7b56d79b0544
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 13-43369835-43369860 NNNY CT(0 0 0) RT(1593688455675 101) q(0 0 0 -1) r(2
        2) U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"management.rb - #215",
          "sys":{
            "type":"Space",
            "id":"vuo79u060fmw",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2020-07-02T10:40:30Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2020-07-02T10:40:30Z",
            "organization":{
              "sys":{
                "type":"Link",
                "linkType":"Organization",
                "id":"4SsuxQCaMaemfIms52Jr8s"
              }
            }
          }
        }

  recorded_at: Thu, 02 Jul 2020 11:14:15 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"a282fd54c09fd4a1e6f9f8e3cec37e64"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - f708322c3cb4738a227ad1dad867d925
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 13-43369904-43369928 NNNN CT(104 191 0) RT(1593688455987 109) q(0 0 3 -1)
        r(5 5) U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"vuo79u060fmw"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2020-07-02T10:40:30Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2020-07-02T10:40:30Z"
          }
        }

  recorded_at: Thu, 02 Jul 2020 11:14:16 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/entries/6kcaBzW7xgjVr825PmGCvP
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"6038523916780947104"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - 347a87f61a93b3afafa34064df4e72ec
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 12-36000470-36000478 NNNY CT(0 0 0) RT(1593688456775 108) q(0 0 0 -1) r(2
        2) U5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "metadata": {
            "tags": []
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "vuo79u060fmw"
              }
            },
            "id": "6kcaBzW7xgjVr825PmGCvP",
            "type": "Entry",
            "createdAt": "2020-07-02T10:41:04.490Z",
            "updatedAt": "2020-07-02T10:41:20.767Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 3,
            "publishedAt": "2020-07-02T10:41:20.767Z",
            "firstPublishedAt": "2020-07-02T10:41:20.767Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedCounter": 1,
            "version": 4,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "test"
              }
            }
          },
          "fields": {
            "title": {
              "en-US": "With JSON Object"
            },
            "json": {
              "en-US": {
                "a": 1
              }
            }
          }
        }
  recorded_at: Thu, 02 Jul 2020 11:14:17 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/content_types/test
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/entries/6kcaBzW7xgjVr825PmGCvP
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"With JSON Object"},"json":{"en-US":{"a":2}}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
      X-Contentful-Content-Type:
      - test
      Content-Type-Id:
      - test
      Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"541463726024425457"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaini[...]
[...]
