---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/iv4sic0eru9h/environments/master/entries/5GrMLWzfyMs0eKoi4sg2ug
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"713c1a621dc27a6680086a0b7095a50a"'
      X-Contentful-Request-Id:
      - content-api:5rY7VFgKiseaqGmoIkemKk
      X-Iinfo:
      - 0-49836165-49836186 NNNN CT(142 141 0) RT(1459262688720 114) q(0 0 3 -1) r(12
        12) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "5GrMLWzfyMs0eKoi4sg2ug",
            "type": "Entry",
            "createdAt": "2016-03-29T14:43:21.462Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "iv4sic0eru9h"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "localeTest"
              }
            },
            "firstPublishedAt": "2016-03-29T14:43:38.029Z",
            "publishedCounter": 1,
            "publishedAt": "2016-03-29T14:43:38.029Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 8,
            "version": 9,
            "updatedAt": "2016-03-29T14:43:38.036Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          },
          "fields": {
            "test": {
              "en-US": "foo",
              "es": "bar"
            }
          }
        }
  recorded_at: Tue, 29 Mar 2016 14:44:50 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/iv4sic0eru9h/environments/master/content_types/localeTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ca61fa30dee92a108318d69e9755340d"'
      X-Contentful-Request-Id:
      - content-api:1yyOlhYoI4U8cAos06Ee2y
      X-Iinfo:
      - 1-71448780-71448803 NNNN CT(156 138 0) RT(1459262690162 102) q(0 0 3 -1) r(13
        13) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: |
        {
          "name": "LocaleTest",
          "fields": [
            {
              "name": "test",
              "id": "test",
              "type": "Symbol",
              "localized": true,
              "validations": [],
              "required": false,
              "disabled": false
            }
          ],
          "displayField": "test",
          "description": "",
          "sys": {
            "id": "localeTest",
            "type": "ContentType",
            "createdAt": "2016-03-29T14:43:00.128Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "iv4sic0eru9h"
              }
            },
            "firstPublishedAt": "2016-03-29T14:43:00.564Z",
            "publishedCounter": 1,
            "publishedAt": "2016-03-29T14:43:00.564Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 1,
            "version": 2,
            "updatedAt": "2016-03-29T14:43:00.580Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 29 Mar 2016 14:44:52 GMT
recorded_with: VCR 2.9.3
