---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/content_types/someType
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"720d932d152cc930127c0ca782759540"'
      X-Contentful-Request-Id:
      - content-api:2m8DRdfTKko22IsyYewqMM
    body:
      encoding: UTF-8
      string: |
        {
          "name": "SomeType",
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Symbol"
            },
            {
              "name": "value",
              "id": "value",
              "type": "Symbol",
              "localized": true,
              "validations": []
            }
          ],
          "description": "",
          "displayField": "name",
          "sys": {
            "id": "someType",
            "type": "ContentType",
            "createdAt": "2015-12-07T13:32:02.610Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "firstPublishedAt": "2015-12-07T13:32:03.012Z",
            "publishedCounter": 2,
            "publishedAt": "2015-12-07T13:36:35.994Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 4,
            "version": 5,
            "updatedAt": "2015-12-07T13:36:36.026Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:48:57 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_3
    body:
      encoding: UTF-8
      string: '{"fields":{"value":{"en-GB":"hello"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - someType
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"baea6f277ac200c2af476ffcc26209d1"'
      X-Contentful-Request-Id:
      - content-api:5dNrRiFwVyekWG6Ee6wMOa
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "value": {
              "en-GB": "hello"
            }
          },
          "sys": {
            "id": "issue61_3",
            "type": "Entry",
            "version": 1,
            "createdAt": "2016-01-19T13:49:02.870Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "updatedAt": "2016-01-19T13:49:02.870Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:48:59 GMT
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_3
    body:
      encoding: UTF-8
      string: '{"fields":{"value":{"en-GB":"goodbye"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b670b1609873907385300e2b23e31214"'
      X-Contentful-Request-Id:
      - content-api:54HN2eifWE4U60uU88syAc
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "value": {
              "en-GB": "goodbye"
            }
          },
          "sys": {
            "id": "issue61_3",
            "type": "Entry",
            "createdAt": "2016-01-19T13:49:02.870Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "version": 2,
            "updatedAt": "2016-01-19T13:49:04.639Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:49:00 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_3/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1[...]
- request:
    method: delete
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Cannot delete published",
          "requestId": "content-api:4vumZLe1i8cCSKQcGsmWwE"
        }
  recorded_at: Tue, 19 Jan 2016 13:49:02 GMT
recorded_with: VCR 2.9.3
