---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/content_types/someType
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"720d932d152cc930127c0ca782759540"'
      X-Contentful-Request-Id:
      - content-api:5g04m3nGJ2kuQg86coQMa0
    body:
      encoding: UTF-8
      string: |
        {
          "name": "SomeType",
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Symbol"
            },
            {
              "name": "value",
              "id": "value",
              "type": "Symbol",
              "localized": true,
              "validations": []
            }
          ],
          "description": "",
          "displayField": "name",
          "sys": {
            "id": "someType",
            "type": "ContentType",
            "createdAt": "2015-12-07T13:32:02.610Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "firstPublishedAt": "2015-12-07T13:32:03.012Z",
            "publishedCounter": 2,
            "publishedAt": "2015-12-07T13:36:35.994Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 4,
            "version": 5,
            "updatedAt": "2015-12-07T13:36:36.026Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:48:52 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_2
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - someType
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ba73976f643f0e88d731b574a5a7b2dd"'
      X-Contentful-Request-Id:
      - content-api:4xOxu9q6Yw0A8mKI6M0KMU
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "issue61_2",
            "type": "Entry",
            "version": 1,
            "createdAt": "2016-01-19T13:48:57.157Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "updatedAt": "2016-01-19T13:48:57.157Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:48:53 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_2
    body:
      encoding: UTF-8
      string: '{"fields":{"value":{"en-GB":"goodbye"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8d8329463f1534720d14fe451ca319cc"'
      X-Contentful-Request-Id:
      - content-api:2lM2dipWsAocskKicuksgw
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "value": {
              "en-GB": "goodbye"
            }
          },
          "sys": {
            "id": "issue61_2",
            "type": "Entry",
            "createdAt": "2016-01-19T13:48:57.157Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "version": 2,
            "updatedAt": "2016-01-19T13:48:58.113Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Tue, 19 Jan 2016 13:48:54 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_2/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1[...]
[...]
- request:
    method: delete
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/issue61_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Cannot delete published",
          "requestId": "content-api:2w3I0aMNrO2oo8sAmiUAcK"
        }
  recorded_at: Tue, 19 Jan 2016 13:48:56 GMT
recorded_with: VCR 2.9.3
