---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/content_types/someType
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"720d932d152cc930127c0ca782759540"'
      X-Contentful-Request-Id:
      - content-api:43KRiyOXpeEEs4aMCcOqIw
    body:
      encoding: UTF-8
      string: |
        {
          "name": "SomeType",
          "fields": [
            {
              "name": "name",
              "id": "name",
              "type": "Symbol"
            },
            {
              "name": "value",
              "id": "value",
              "type": "Symbol",
              "localized": true,
              "validations": []
            }
          ],
          "description": "",
          "displayField": "name",
          "sys": {
            "id": "someType",
            "type": "ContentType",
            "createdAt": "2015-12-07T13:32:02.610Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "firstPublishedAt": "2015-12-07T13:32:03.012Z",
            "publishedCounter": 2,
            "publishedAt": "2015-12-07T13:36:35.994Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 4,
            "version": 5,
            "updatedAt": "2015-12-07T13:36:36.026Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Mon, 18 Jan 2016 23:21:50 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/entries/hello-world
    body:
      encoding: UTF-8
      string: '{"fields":{}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - someType
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3e309f9fc77e070af5f266c1e13f1e47"'
      X-Contentful-Request-Id:
      - content-api:5ZHDeDSv60iEiosi2USEcs
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {},
          "sys": {
            "id": "hello-world",
            "type": "Entry",
            "version": 1,
            "createdAt": "2016-01-18T23:21:51.348Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "updatedAt": "2016-01-18T23:21:51.348Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Mon, 18 Jan 2016 23:21:51 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/entries/hello-world
    body:
      encoding: UTF-8
      string: '{"fields":{"value":{"en-GB":"goodbye"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ffc9604c4e563a10b42f2f2827dbc61e"'
      X-Contentful-Request-Id:
      - content-api:4ZBpGqvATKO4Mwq84CWKkI
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "value": {
              "en-GB": "goodbye"
            }
          },
          "sys": {
            "id": "hello-world",
            "type": "Entry",
            "createdAt": "2016-01-18T23:21:51.348Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            },
            "version": 2,
            "updatedAt": "2016-01-18T23:21:52.310Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Mon, 18 Jan 2016 23:21:52 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/entries/hello-world/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
[...]
[...]
- request:
    method: delete
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/entries/hello-world
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "Cannot delete published",
          "requestId": "content-api:5DCoOyayf6Wkc2YQ2SSCWQ"
        }
  recorded_at: Mon, 18 Jan 2016 23:21:55 GMT
recorded_with: VCR 2.9.3
