---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"600c18d721048034dcdaf8c7b867fe49"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - af7ffa726487d39fbb0755d87c7f865e
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 12-35946183-35946197 NNNY CT(0 0 0) RT(1593688137916 66) q(0 0 0 -1) r(1 1)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"management.rb - #215",
          "sys":{
            "type":"Space",
            "id":"vuo79u060fmw",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2020-07-02T10:40:30Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2020-07-02T10:40:30Z",
            "organization":{
              "sys":{
                "type":"Link",
                "linkType":"Organization",
                "id":"4SsuxQCaMaemfIms52Jr8s"
              }
            }
          }
        }

  recorded_at: Thu, 02 Jul 2020 11:08:58 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"a282fd54c09fd4a1e6f9f8e3cec37e64"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Request-Id:
      - 6587a835e586e57c932221acc06977da
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 9-10766258-10766259 NNNY CT(0 0 0) RT(1593688138241 56) q(0 0 0 -1) r(2 2)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"vuo79u060fmw"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2020-07-02T10:40:30Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2020-07-02T10:40:30Z"
          }
        }

  recorded_at: Thu, 02 Jul 2020 11:08:58 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/entries/30QNJFxJQwLpdqZn8CHsHf
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"15362932808005589327"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35997'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '7'
      X-Contentful-Request-Id:
      - 7732242cda35896fc6858dcd68ccf110
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 3-13057547-13057550 NNNY CT(0 0 0) RT(1593688138569 65) q(0 0 0 -1) r(3 3)
        U5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "metadata": {
            "tags": []
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "vuo79u060fmw"
              }
            },
            "id": "30QNJFxJQwLpdqZn8CHsHf",
            "type": "Entry",
            "createdAt": "2020-07-02T10:41:23.580Z",
            "updatedAt": "2020-07-02T10:49:08.754Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 6,
            "publishedAt": "2020-07-02T10:49:08.754Z",
            "firstPublishedAt": "2020-07-02T10:41:37.829Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedCounter": 2,
            "version": 7,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "test"
              }
            }
          },
          "fields": {
            "title": {
              "en-US": "With JSON Array"
            },
            "json": {
              "en-US": [
                1,
                2,
                3
              ]
            }
          }
        }
  recorded_at: Thu, 02 Jul 2020 11:08:58 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/content_types/test
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Cont[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/vuo79u060fmw/environments/master/entries/30QNJFxJQwLpdqZn8CHsHf
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"With JSON Array"},"json":{"en-US":[2,3,4]}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.12.0; platform ruby/2.6.3; os macOS/18;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '7'
      X-Contentful-Content-Type:
      - test
      Content-Type-Id:
      - test
      Version:
      - '7'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"9585533151618724726"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remain[...]
[...]
