---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/9sh5dtmfyzhj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"370c230b580965c03e076bc1e88944ae"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 0b5-128589790
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"9sh5dtmfyzhj",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2015-10-19T15:13:09Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2015-10-19T15:13:10Z"
          },
          "name":"LocaleTestSpace"
        }

  recorded_at: Tue, 24 Nov 2015 12:29:39 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/9sh5dtmfyzhj/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bf894e79a63be308214fb6399ea7ba80"'
      X-Contentful-Request-Id:
      - content-api:2sCmd9AGOsyyq0UKko4SkA
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "LocaleTest",
              "fields": [
                {
                  "name": "name",
                  "id": "name",
                  "type": "Symbol",
                  "localized": true,
                  "validations": []
                },
                {
                  "name": "non_localized",
                  "id": "nonLocalized",
                  "type": "Symbol",
                  "localized": false,
                  "validations": []
                }
              ],
              "description": "",
              "displayField": "name",
              "sys": {
                "id": "4uy7nXZ4jCSeGCQou6AcGe",
                "type": "ContentType",
                "createdAt": "2015-11-24T12:26:32.345Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "9sh5dtmfyzhj"
                  }
                },
                "firstPublishedAt": "2015-11-24T12:26:33.258Z",
                "publishedCounter": 1,
                "publishedAt": "2015-11-24T12:26:33.258Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 1,
                "version": 2,
                "updatedAt": "2015-11-24T12:26:33.309Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Tue, 24 Nov 2015 12:29:40 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/9sh5dtmfyzhj/environments/master/entries/1PdCkb5maYgqsSUCOweseM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"8f2315b106f713e6acad77c91520adef"'
      X-Contentful-Request-Id:
      - content-api:5PxADTxTMsU8q4uMa4m4Qs
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "1PdCkb5maYgqsSUCOweseM",
            "type": "Entry",
            "createdAt": "2015-11-24T12:28:21.880Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "9sh5dtmfyzhj"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "4uy7nXZ4jCSeGCQou6AcGe"
              }
            },
            "firstPublishedAt": "2015-11-24T12:28:38.828Z",
            "publishedCounter": 1,
            "publishedAt": "2015-11-24T12:28:38.828Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 14,
            "version": 15,
            "updatedAt": "2015-11-24T12:28:38.881Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          },
          "fields": {
            "name": {
              "es": "Futbolista"
            },
            "nonLocalized": {
              "de-DE": "baz"
            }
          }
        }
  recorded_at: Tue, 24 Nov 2015 12:29:42 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/9sh5dtmfyzhj/environments/master/entries/1QKkNRf9AEW2wqwWowgscs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"4b9fefa24[...]
