---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/fIpsfQSOd22IsqMQCiG0K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6a30a8afac0d8a347c4fc909a3fae60e"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35988'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 8cbe4441e924b0f92b22ad4b90e223be
      X-Iinfo:
      - 12-49814338-49814353 NNNN CT(101 99 0) RT(1521125137593 45) q(0 0 2 -1) r(9
        9) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "u2viwgfeal0o"
              }
            },
            "id": "fIpsfQSOd22IsqMQCiG0K",
            "type": "Entry",
            "createdAt": "2016-01-19T13:51:58.820Z",
            "updatedAt": "2016-01-20T13:08:55.068Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedCounter": 6,
            "version": 45,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 44,
            "firstPublishedAt": "2016-01-19T13:52:13.524Z",
            "publishedAt": "2016-01-20T13:08:55.061Z",
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "someType"
              }
            }
          },
          "fields": {
            "name": {
              "en-GB": "Test With Already Populated Field"
            },
            "value": {
              "en-GB": "hello"
            }
          }
        }
  recorded_at: Thu, 15 Mar 2018 14:45:38 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/fIpsfQSOd22IsqMQCiG0K
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-GB":"Test With Already Populated Field"},"value":{"en-GB":"goodbye"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '45'
      Version:
      - '45'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"e025e1e2b2269a2416f9511a65c42de0"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35987'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
   [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/u2viwgfeal0o/environments/master/entries/fIpsfQSOd22IsqMQCiG0K/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/1.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '46'
      Version:
 [...]
[...]
