---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/4Rouux8SoUCKwkyCq2I0E0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f4a68f05e43c468664b258022b6ef44d"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "4Rouux8SoUCKwkyCq2I0E0",
            "type": "Entry",
            "createdAt": "2014-07-30T12:37:49.078Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "firstPublishedAt": "2014-07-30T12:39:05.868Z",
            "publishedCounter": 3,
            "publishedAt": "2014-07-30T12:49:32.632Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 30,
            "version": 31,
            "updatedAt": "2014-07-30T12:49:32.636Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "fields": {
            "name": {
              "en-US": "Tom Handy"
            },
            "age": {
              "en-US": 39
            },
            "city": {
              "en-US": {
                "lat": 52.1464575,
                "lon": 21.05050319999998
              }
            },
            "assets": {
              "en-US": [
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "4k8mYw2MzS6kYG0eGq0Yi0"
                  }
                }
              ]
            }
          }
        }
  recorded_at: Wed, 30 Jul 2014 12:49:33 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/4Rouux8SoUCKwkyCq2I0E0/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - "-1"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "VersionMismatch"
          }
        }
  recorded_at: Wed, 30 Jul 2014 12:49:34 GMT
recorded_with: VCR 2.9.2
