---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/4Rouux8SoUCKwkyCq2I0E0
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.4.0; platform ruby/3.0.0; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Accept-Patch:
      - application/json-patch+json
      Etag:
      - '"7516995411287516067"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - c459707d-a600-4711-b45a-4e6c5c46e3fc
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "metadata": {
            "tags": []
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "id": "4Rouux8SoUCKwkyCq2I0E0",
            "type": "Entry",
            "createdAt": "2022-05-05T08:31:57.029Z",
            "updatedAt": "2022-05-10T06:57:20.997Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 5,
            "publishedAt": "2022-05-10T06:57:20.997Z",
            "firstPublishedAt": "2022-05-05T08:32:19.385Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "publishedCounter": 2,
            "version": 6,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "withReferences"
              }
            }
          },
          "fields": {
            "title": {
              "en-US": "first ref"
            },
            "ref1": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "K1ONQrCXf2N7G6wjboGZu"
                }
              }
            },
            "ref21": {
              "en-US": [
                {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "5W0cO0oCa4yDh2Z5CvoVxZ"
                  }
                }
              ]
            }
          }
        }
  recorded_at: Tue, 07 Jun 2022 08:10:26 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/4Rouux8SoUCKwkyCq2I0E0/references?include=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.4.0; platform ruby/3.0.0; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Accept-Patch:
      - application/json-patch+json
      Etag:
      - '"14536440406235544239"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries/:id/references"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 1fcefb5b-0bb5-4840-895e-9c9a7603406e
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "metadata": {
                "tags": []
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "id": "4Rouux8SoUCKwkyCq2I0E0",
                "type": "Entry",
                "createdAt": "2022-05-05T08:31:57.029Z",
                "updatedAt": "2022-05-1[...]
