---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1214619997
      Etag:
      - '"4c0ee33eddaabc719d0b81c1ef79fdc4"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"bfsvtul0c41g",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-18T06:51:53Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-18T06:51:53Z"
          },
          "name":"CMA_demo_rails_app"}
  recorded_at: Tue, 19 Aug 2014 11:22:33 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"baead1f323786eb7d4357497dcad6733"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Category",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4vp0pcgc7b4"
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text",
                  "localized": true,
                  "uiid": "40jqtxghjb4"
                }
              ],
              "sys": {
                "id": "category_content_type",
                "type": "ContentType",
                "createdAt": "2014-08-18T06:51:59.560Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bfsvtul0c41g"
                  }
                },
                "firstPublishedAt": "2014-08-18T06:52:02.517Z",
                "publishedCounter": 4,
                "publishedAt": "2014-08-19T06:19:06.351Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 26,
                "version": 27,
                "updatedAt": "2014-08-19T06:19:06.356Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              },
              "displayField": "name"
            },
            {
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "post_title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4e20dxdupz4"
                },
                {
                  "id": "post_author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2s5prxyzvgg"
                },
                {
                  "id": "post_body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true,
                  "uiid": "32vqnqsdreo"
                },
                {
                  "id": "post_title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "uiid": "3m8cw01d5vk"
                },
                {
                  "id": "post_second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true,
                  "uiid": "3gjxnofhkao"
                },
                {
                  "id": "post_category_id",
                  "name": "Category",
                  "type[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/entries/2arjcjtY7ucC4AGeIOIkok
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"29b2d81093deb9e23c531ee37c35049f"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "post_title": {
              "en-US": "Some title of post"
            },
            "post_author": {
              "en-US": "Tom Dom"
            },
            "post_body": {
              "en-US": "Letterpress sustainable authentic, disrupt semiotics actually kitsch. Direct trade Cosby sweater Austin, Pitchfork flexitarian small batch authentic roof party 8-bit YOLO literally Neutra pour-over American Apparel dreamcatcher. High Life distillery cliche YOLO, flexitarian four loko put a bird on it plaid Marfa Shoreditch seitan Echo Park bicycle rights Pinterest PBR. Drinking vinegar Banksy gastropub, stumptown occupy farm-to-table Blue Bottle tattooed Truffaut single-origin coffee iPhone locavore pug"
            },
            "post_title_image": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Asset",
                  "id": "5LCvaD9lfycy02uqkwyE8S"
                }
              },
              "de-DE": {
                "sys": {
                  "type": "Link",
                  "linkType": "Asset",
                  "id": "5LCvaD9lfycy02uqkwyE8S"
                }
              },
              "pl-PL": {
                "sys": {
                  "type": "Link",
                  "linkType": "Asset",
                  "id": "5LCvaD9lfycy02uqkwyE8S"
                }
              }
            },
            "post_second_image": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Asset",
                  "id": "5LCvaD9lfycy02uqkwyE8S"
                }
              }
            },
            "post_category_id": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "5zZ8SnlKNiy2yEMOaecegy"
                }
              }
            }
          },
          "sys": {
            "id": "2arjcjtY7ucC4AGeIOIkok",
            "type": "Entry",
            "createdAt": "2014-08-18T06:54:57.974Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "bfsvtul0c41g"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "post_content_type"
              }
            },
            "firstPublishedAt": "2014-08-18T07:06:32.551Z",
            "publishedCounter": 3,
            "publishedAt": "2014-08-18T07:14:47.935Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 9,
            "version": 10,
            "updatedAt": "2014-08-18T07:14:47.944Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Tue, 19 Aug 2014 11:22:34 GMT
[...]
