---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/664EPJ6zHqAeMO6O0mGggU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"34ca2dea7db28939949a31454be5e096"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "carMark": {
              "en-US": "Mercedes Benz",
              "pl": "Mercedes"
            },
            "carCityPlate": {
              "en-US": "en",
              "pl": "bia"
            },
            "carCapacity": {
              "en-US": 2.5,
              "pl": 2.5
            }
          },
          "sys": {
            "id": "664EPJ6zHqAeMO6O0mGggU",
            "type": "Entry",
            "createdAt": "2014-08-01T11:25:33.437Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "4esHTHIVgc0uWkiwGwOsa6"
              }
            },
            "version": 1,
            "updatedAt": "2014-08-01T11:25:33.442Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Fri, 01 Aug 2014 12:04:45 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/664EPJ6zHqAeMO6O0mGggU
    body:
      encoding: UTF-8
      string: '{"fields":{"carMark":{"en-US":"Merc","pl":"Mercedes"},"carCityPlate":{"en-US":"en","pl":"bia"},"carCapacity":{"en-US":2.5,"pl":2.5}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f20160958dadcb28ec056e41bb752726"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "carMark": {
              "en-US": "Merc",
              "pl": "Mercedes"
            },
            "carCityPlate": {
              "en-US[...]
