---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/cfexampleapi/environments/master/entries?content_type=cat&select=fields.lives,sys&sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ed0826e81d22bcd08b35f94f4bc82d1e"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '18000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '17883'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 28a7082823b538951d9a099bac40c527
      X-Iinfo:
      - 8-39995933-39995956 NNNN CT(92 188 0) RT(1481911203237 69) q(0 0 2 -1) r(5
        5) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "lives": {
                  "en-US": 1337
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "nyancat",
                "type": "Entry",
                "createdAt": "2013-06-27T22:46:15.910Z",
                "updatedAt": "2016-05-19T11:40:57.752Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7BslKh9TdKGOK41VmLDjFZ"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "5NItczv8FWvPn5UTJpTOMM"
                  }
                },
                "publishedCounter": 5,
                "version": 15,
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "7BslKh9TdKGOK41VmLDjFZ"
                  }
                },
                "publishedVersion": 10,
                "firstPublishedAt": "2013-06-27T22:46:19.513Z",
                "publishedAt": "2013-09-04T09:19:39.027Z",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "cat"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Fri, 16 Dec 2016 18:00:04 GMT
recorded_with: VCR 3.0.3
