---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/286arvy86ry9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"91d2291b87bce2aa62bc5aeadb61793a"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-653450314
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"286arvy86ry9",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-12-15T08:12:42Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-12-15T08:12:42Z"
          },
          "name":"TestingRspec"}
  recorded_at: Thu, 18 Dec 2014 12:21:23 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/286arvy86ry9/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0042a1083a298261f6f010e5e28a8f1f"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "text",
                  "id": "text",
                  "type": "Text"
                },
                {
                  "name": "number2",
                  "id": "number2",
                  "type": "Integer"
                },
                {
                  "name": "entry2",
                  "id": "entry2",
                  "type": "Link",
                  "linkType": "Entry"
                }
              ],
              "name": "Test2",
              "sys": {
                "id": "4dsDWisVl6WAAYuk60E4QC",
                "type": "ContentType",
                "createdAt": "2014-12-15T08:13:47.342Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "286arvy86ry9"
                  }
                },
                "firstPublishedAt": "2014-12-15T08:14:20.807Z",
                "publishedCounter": 1,
                "publishedAt": "2014-12-15T08:14:20.807Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 39,
                "version": 40,
                "updatedAt": "2014-12-15T08:14:20.852Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              },
              "description": "test",
              "displayField": "text"
            },
            {
              "fields": [
                {
                  "name": "name",
                  "id": "name",
                  "type": "Text"
                },
                {
                  "name": "number",
                  "id": "number",
                  "type": "Integer"
                },
                {
                  "name": "entry",
                  "id": "entry",
                  "type": "Link",
                  "linkType": "Entry",
                  "validations": [
                    {
                      "linkContentType": [
                        "4dsDWisVl6WAAYuk60E4QC"
                      ]
                    }
                  ]
                }
              ],
              "name": "Test1",
              "sys": {
                "id": "5lIEiXrCIoKoIKaSW2C8aa",
                "type": "ContentType",
                "createdAt": "2014-12-15T08:13:15.767Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
               [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/286arvy86ry9/environments/master/entries/1YNepnMpXGiMWikaKC4GG0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9458b849a96cdf2ff9d50bffce2300ee"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "1YNepnMpXGiMWikaKC4GG0",
            "type": "Entry",
            "createdAt": "2014-12-18T12:02:39.207Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "286arvy86ry9"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "2PqKsSmwKASkM6sWiqMuqi"
              }
            },
            "firstPublishedAt": "2014-12-18T12:02:49.757Z",
            "publishedCounter": 1,
            "publishedAt": "2014-12-18T12:02:49.757Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 18,
            "version": 19,
            "updatedAt": "2014-12-18T12:02:49.806Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "fields": {
            "name": {
              "en-US": "Entry Test 3"
            }
          }
        }
  recorded_at: Thu, 18 Dec 2014 12:21:24 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/286arvy86ry9/environments/master/content_types/5lIEiXrCIoKoIKaSW2C8aa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bf0[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/286arvy86ry9/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Create test"},"entry":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"1YNepnMpXGiMWikaKC4GG0"}}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5lIEiXrCIoKoIKaSW2C8aa
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"50fcfbbef32b283c8528932f23a158ec"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Create test"
            },
            "entry": {
              "en-US": {
                "sys": {
                  "type": "Link",
[...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/286arvy86ry9/environments/master/entries/7cMVEy1toAWaMKUYsSAmC4/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
  response:
    status:
      code: 429
      message: Rate Limit Exceeded
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "RateLimitExceeded"
          },
          "message": "You have exceeded the rate limit of the Organization this Space belongs to by making too many API requests within a short timespan. Please wait a moment before trying the request again.",
          "details": {
            "errors": [
              {
                "details": "You have exceeded the rate limit of the Organization this Space belongs to by making too many API requests within a short timespan. Please wait a moment before trying the request again."
              }
            ]
          }
        }
  recorded_at: Thu, 18 Dec 2014 12:21:27 GMT
recorded_with: VCR 2.9.3
