---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/codequest_id_test_custom_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f00ac5671462e801298d7c218f4a985a"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI_custom_id"
            },
            "description": {
              "en-US": "descByAPI_custom_id"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "codequest.jpg",
                "details": {
                  "image": {
                    "width": 90,
                    "height": 90
                  },
                  "size": 7094
                },
                "url": "//images.contentful.com/yr5m0jky5hsh/codequest_id_test_custom_id/a737f4d7e9cb9b009f12264a91c25336/codequest.jpg"
              }
            }
          },
          "sys": {
            "id": "codequest_id_test_custom_id",
            "type": "Asset",
            "createdAt": "2014-07-30T13:24:53.570Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "version": 2,
            "updatedAt": "2014-07-30T13:24:54.606Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 30 Jul 2014 14:58:11 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/3U7JqGuVzOWIimU40mKeem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"19925051d71aae3d4192e44403e94fb1"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "pl": "testName",
              "en-US": "xus",
              "pl-PL": "xpl"
            },
            "bool": {
              "pl": true
            }
          },
          "sys": {
            "id": "3U7JqGuVzOWIimU40mKeem",
            "type": "Entry",
            "createdAt": "2014-07-30T14:08:30.826Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "firstPublishedAt": "2014-07-30T14:09:02.852Z",
            "publishedCounter": 3,
            "publishedAt": "2014-07-30T14:18:12.357Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 12,
            "version": 15,
            "updatedAt": "2014-07-30T14:34:44.364Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 30 Jul 2014 14:58:12 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/3U7JqGuVzOWIimU40mKeem
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"pl":"testName","en-US":"xus","pl-PL":"xpl"},"bool":{"pl":true,"en-US":null,"pl-PL":null}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9bbefe9b5037c5b8b394d6f45633dad4"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "pl": "testName",
              "en-US": "xus",
              "pl-PL": "xpl"
            },
            "bool": {
 [...]
