---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/assets/codequest_id_test_custom_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f00ac5671462e801298d7c218f4a985a"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": {
              "en-US": "titlebyCreateAPI_custom_id"
            },
            "description": {
              "en-US": "descByAPI_custom_id"
            },
            "file": {
              "en-US": {
                "contentType": "image/jpeg",
                "fileName": "codequest.jpg",
                "details": {
                  "image": {
                    "width": 90,
                    "height": 90
                  },
                  "size": 7094
                },
                "url": "//images.contentful.com/yr5m0jky5hsh/codequest_id_test_custom_id/a737f4d7e9cb9b009f12264a91c25336/codequest.jpg"
              }
            }
          },
          "sys": {
            "id": "codequest_id_test_custom_id",
            "type": "Asset",
            "createdAt": "2014-07-30T13:24:53.570Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "version": 2,
            "updatedAt": "2014-07-30T13:24:54.606Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 30 Jul 2014 15:01:00 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/3U7JqGuVzOWIimU40mKeem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"170f647261b5f9f072740b50f6d083a2"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "pl": "testName",
              "en-US": "xus",
              "pl-PL": "xpl"
            },
            "bool": {
              "pl": true,
              "en-US": null,
              "pl-PL": null
            }
          },
          "sys": {
            "id": "3U7JqGuVzOWIimU40mKeem",
            "type": "Entry",
            "createdAt": "2014-07-30T14:08:30.826Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "firstPublishedAt": "2014-07-30T14:09:02.852Z",
            "publishedCounter": 3,
            "publishedAt": "2014-07-30T14:18:12.357Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 12,
            "version": 16,
            "updatedAt": "2014-07-30T14:58:12.922Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Wed, 30 Jul 2014 15:01:01 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/3U7JqGuVzOWIimU40mKeem
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"pl":"DoestMatter","en-US":"xus","pl-PL":"xpl"},"bool":{"pl":false,"en-US":null,"pl-PL":null},"city":{"pl":{"lat":22.44,"lon":33.33}},"asset":{"pl":{"sys":{"type":"Link","linkType":"Asset","id":"codequest_id_test_custom_id"}}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '16'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "InvalidEntry"
          },
          "message": "Validation error",
          "details": {
            "errors": [
              {
                "name": "unknown",
                "path": [
                  "fields",
                  "city",
                  "pl"
                ],
                "value": {
                  "lat": 22.44,
                  "lon": 33.33
                }
              },
              {
                "name": "unknown",
                "path": [
                  "fields",
                  "asset",
                  "pl"
                ],
                "value": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "codequest_id_test_custom_id"
                  }
                }
              }
            ]
          }
        }
  recorded_at: Wed, 30 Jul 2014 15:01:02 GMT
recorded_with: VCR 2.9.2
