---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/2aJVtypYfQajNbNN9TvEfd
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.11.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries/:id"
      Accept-Patch:
      - application/json-patch+json
      Etag:
      - '"12027168854263578003"'
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - fbec5b85-93f9-48de-a53c-a5f2abef909a
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"tags":[],"concepts":[]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"yr5m0jky5hsh"}},"id":"2aJVtypYfQajNbNN9TvEfd","type":"Entry","createdAt":"2025-11-04T11:26:26.751Z","updatedAt":"2025-11-05T13:33:45.942Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":7,"publishedAt":"2025-11-05T07:14:53.090Z","firstPublishedAt":"2025-11-04T11:26:36.297Z","createdBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"updatedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"publishedCounter":2,"version":12,"publishedBy":{"sys":{"type":"Link","linkType":"User","id":"59Erm8D1JuuD273aXNb65T"}},"fieldStatus":{"*":{"en-US":"published"}},"automationTags":[],"contentType":{"sys":{"type":"Link","linkType":"ContentType","id":"articles"}},"urn":"crn:contentful:::content:spaces/yr5m0jky5hsh/environments/master/entries/2aJVtypYfQajNbNN9TvEfd"},"fields":{"title":{"en-US":"Living
        Room"}}}

        '
  recorded_at: Wed, 05 Nov 2025 13:33:59 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/2aJVtypYfQajNbNN9TvEfd
    body:
      encoding: UTF-8
      string: '{"metadata":{"concepts":[{"sys":{"type":"Link","linkType":"TaxonomyConcept","id":"livingRoom"}}],"tags":[]},"fields":{"title":{"en-US":"Living
        Room"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.11.0; platform ruby/3.4.3; os macOS/24;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '12'
      X-Contentful-Content-Type:
      - articles
      Content-Type-Id:
      - articles
      Version:
      - '12'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Route:
      - "/spaces/:space/environmen[...]
