---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/environments/master/entries/IJLRrADsqq2AmwcugoYeK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"eda08a4d4a8f6ee99538957dea88de55"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - cfd19dcbe35fabdf0e9985005d22adb8
      X-Iinfo:
      - 1-4413458-4413459 NNNN CT(0 0 0) RT(1549546992125 59) q(0 0 0 -1) r(2 2) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            },
            "id": "IJLRrADsqq2AmwcugoYeK",
            "type": "Entry",
            "createdAt": "2017-05-08T14:06:14.367Z",
            "updatedAt": "2017-05-09T13:39:59.063Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedCounter": 16,
            "version": 57,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "publishedVersion": 56,
            "firstPublishedAt": "2017-05-08T14:06:25.154Z",
            "publishedAt": "2017-05-09T13:39:59.032Z",
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "cat"
              }
            }
          },
          "fields": {
            "name": {
              "en-US": "Fat Cat"
            },
            "lives": {
              "en-US": 1337
            },
            "bestFriend": {
              "en-US": {
                "sys": {
                  "type": "Link",
                  "linkType": "Entry",
                  "id": "cq0MrAkH8A0Q8QsYquwMq"
                }
              }
            }
          }
        }
  recorded_at: Thu, 07 Feb 2019 13:43:13 GMT
recorded_with: VCR 4.0.0
