---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/tags
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"16358391347644020993"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/tags"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 0c632bbc-0592-40aa-b436-04207652259c
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "o4h6g9w3pooi"
                  }
                },
                "id": "fooTag",
                "type": "Tag",
                "createdAt": "2022-04-12T05:09:33.997Z",
                "updatedAt": "2022-04-19T15:11:43.850Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "59Erm8D1JuuD273aXNb65T"
                  }
                },
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "59Erm8D1JuuD273aXNb65T"
                  }
                },
                "version": 2,
                "visibility": "private"
              },
              "name": "Foo Tag"
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "o4h6g9w3pooi"
                  }
                },
                "id": "testPublic",
                "type": "Tag",
                "createdAt": "2022-04-19T15:10:04.165Z",
                "updatedAt": "2022-04-19T15:10:04.165Z",
                "environment": {
            [...]
