---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/content_types/simple
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      Etag:
      - '"11041571175402543699"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/content_types/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 224cb2e0-ff09-483e-98f0-e191992e8eee
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "o4h6g9w3pooi"
              }
            },
            "id": "simple",
            "type": "ContentType",
            "createdAt": "2022-04-05T20:19:40.583Z",
            "updatedAt": "2022-04-13T04:02:23.826Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 3,
            "publishedAt": "2022-04-13T04:02:23.826Z",
            "firstPublishedAt": "2022-04-05T20:19:41.701Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "publishedCounter": 2,
            "version": 4,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            }
          },
          "displayField": "name",
          "name": "simple",
          "description": "",
          "fields": [
            {
              "id": "name",
              "name": "title",
              "type": "Symbol",
              "localized": false,
              "required": false,
              "validations": [],
              "disabled": false,
              "omitted": false
            }
          ]
        }
  recorded_at: Tue, 19 Apr 2022 15:25:02 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{},"metadata":{"tags":[{"sys":{"type":"Link","linkType":"Tag","id":"icon"}}]}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - simple
      Content-Type-Id:
      - simple
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"7093301486410152310"'
      X-C[...]
