---
http_interactions:
- request:
    method: put
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/tags/testPublic
    body:
      encoding: UTF-8
      string: '{"name":"test public","sys":{"visibility":"public","id":"testPublic","type":"Tag"}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      Etag:
      - '"12520374875767868435"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/tags/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - ecda9af5-d5d8-4f45-8f2b-0ecd445bc8ed
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "name": "test public",
          "sys": {
            "visibility": "public",
            "id": "testPublic",
            "type": "Tag",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "o4h6g9w3pooi"
              }
            },
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "version": 1,
            "createdAt": "2022-04-19T15:12:50.434Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedAt": "2022-04-19T15:12:50.434Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            }
          }
        }
  recorded_at: Tue, 19 Apr 2022 15:12:50 GMT
recorded_with: VCR 4.0.0
