---
http_interactions:
- request:
    method: post
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/assets
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Asset title"},"file":{"en-US":{"contentType":"image/jpeg","fileName":"pic1.jpg","upload":"https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg"}}},"metadata":{"tags":[{"sys":{"type":"Link","linkType":"Tag","id":"icon"}}]}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"3970687324231021320"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/assets"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 8c9f38c7-27f6-4261-993c-fc2453df8348
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "metadata": {
            "tags": [
              {
                "sys": {
                  "type": "Link",
                  "linkType": "Tag",
                  "id": "icon"
                }
              }
            ]
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "o4h6g9w3pooi"
              }
            },
            "id": "LEWboHM4EeTTWEaPjiz1q",
            "type": "Asset",
            "createdAt": "2022-04-19T15:25:24.257Z",
            "updatedAt": "2022-04-19T15:25:24.257Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "publishedCounter": 0,
            "version": 1
          },
          "fields": {
            "title": {
              "en-US": "Asset title"
            },
            "file": {
              "en-US": {
                "upload": "https://upload.wikimedia.org/wikipedia/commons/c/c7/Gasometer_Berlin_Sch%C3%B6neberg_2011.jpg",
                "fileName": "pic1.jpg",
                "contentType": "image/jpeg"
              }
            }
          }
        }
  recorded_at: Tue, 19 Apr 2022 15:25:24 GMT
recorded_with: VCR 4.0.0
