---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/tags/icon
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      Etag:
      - '"4525717000654800747"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/tags/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 2b95374f-6ae8-4184-a0f3-5a7a360a1066
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Tag",
            "id": "icon",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "o4h6g9w3pooi"
              }
            },
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "createdAt": "2022-01-19T18:50:31.193Z",
            "updatedAt": "2022-01-19T18:50:31.193Z",
            "version": 1,
            "visibility": "public"
          },
          "name": "icon"
        }
  recorded_at: Tue, 19 Apr 2022 15:14:31 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/tags/icon
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      Etag:
      - '"3340999475138518114"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/tags/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 727a53d1-e679-4654-8bec-f955da1334e9
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "ActionPreconditionsFailed"
          },
          "message": "Validation error",
          "details": {
            "errors": [
              {
                "name": "reference",
                "details": "Tag is referenced by another entity"
              }
            ]
          },
          "requestId": "727a53d1-e679-4654-8bec-f955da1334e9"
        }
  recorded_at: Tue, 19 Apr 2022 15:14:32 GMT
recorded_with: VCR 4.0.0
