---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/tags/randomTag
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      Etag:
      - '"9002876232051501929"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/tags/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - eca5f24e-25fd-4c99-b31d-c53ed6c91ac4
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Tag",
            "id": "randomTag",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "o4h6g9w3pooi"
              }
            },
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "createdAt": "2022-04-19T15:23:00.106Z",
            "updatedAt": "2022-04-19T15:23:00.106Z",
            "version": 1,
            "visibility": "private"
          },
          "name": "random tag"
        }
  recorded_at: Tue, 19 Apr 2022 15:23:04 GMT
- request:
    method: delete
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/tags/randomTag
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"9002876232051501929"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/tags/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 7b87415d-c76d-4ede-b0e2-4031ad6a43df
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 19 Apr 2022 15:23:05 GMT
recorded_with: VCR 4.0.0
