---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/tags/not_exist
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      Etag:
      - '"4374314573011755726"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/tags/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - ef116ddd-bbd8-4e06-96f5-7de802748524
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "Tag",
            "id": "not_exist",
            "environment": "master",
            "space": "o4h6g9w3pooi"
          },
          "requestId": "ef116ddd-bbd8-4e06-96f5-7de802748524"
        }
  recorded_at: Tue, 19 Apr 2022 15:12:09 GMT
recorded_with: VCR 4.0.0
