---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/entries/28spH12WTOl0xUQeC4AL1a
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Accept-Patch:
      - application/json-patch+json
      Etag:
      - '"9062438159635568901"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 4da50e5d-a80e-4b4c-b2d0-d98b46daa0d2
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "metadata": {
            "tags": [
              {
                "sys": {
                  "type": "Link",
                  "linkType": "Tag",
                  "id": "icon"
                }
              }
            ]
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "o4h6g9w3pooi"
              }
            },
            "id": "28spH12WTOl0xUQeC4AL1a",
            "type": "Entry",
            "createdAt": "2022-04-12T05:11:03.393Z",
            "updatedAt": "2022-04-19T15:24:37.977Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 20,
            "publishedAt": "2022-04-12T05:43:44.184Z",
            "firstPublishedAt": "2022-04-12T05:11:24.530Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "publishedCounter": 6,
            "version": 40,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "simple"
              }
            }
          },
          "fields": {
            "name": {
              "en-US": "bhushan"
            }
          }
        }
  recorded_at: Tue, 19 Apr 2022 15:24:38 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/entries/28spH12WTOl0xUQeC4AL1a
    body:
      encoding: UTF-8
      string: '{"metadata":{"tags":[]},"fields":{"name":{"en-US":"bhushan"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '40'
      X-Contentful-Content-Type:
      - simple
      Content-Type-Id:
      - simple
      Version:
      - '40'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      Accept-Patch:
      - application/json-patch+json
    [...]
