---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      Etag:
      - W/"1306585c8e58f0da92149c1d8c2ab520"
      X-Contentful-Route:
      - "/spaces/:space_id/environments/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - gatekeeper
      X-Contentful-Request-Id:
      - 908bb6c6-19da-4013-aa47-8f0cbd9a7898
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"o4h6g9w3pooi"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"5HvjqrbdXRupD8jmTsskvE"
              }
            },
            "createdAt":"2020-11-02T09:11:49Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"5HvjqrbdXRupD8jmTsskvE"
              }
            },
            "updatedAt":"2020-11-02T09:11:49Z"
          }
        }

  recorded_at: Tue, 19 Apr 2022 15:25:26 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/assets/686aLBcjj1f47uFWxrepj6
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Second-Remaining:
      - '8'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      Etag:
      - '"15097476158790064399"'
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/assets/:id"
      Contentful-Api:
      - cma
      Contentful-Upstream:
      - content-api
      X-Contentful-Request-Id:
      - 6b622ae0-6e72-4010-ae76-4d3dbd7019ac
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "metadata": {
            "tags": [
              {
                "sys": {
                  "type": "Link",
                  "linkType": "Tag",
                  "id": "fooTag"
                }
              }
            ]
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "o4h6g9w3pooi"
              }
            },
            "id": "686aLBcjj1f47uFWxrepj6",
            "type": "Asset",
            "createdAt": "2021-02-06T05:58:29.133Z",
            "updatedAt": "2022-04-19T15:10:01.146Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 14,
            "publishedAt": "2022-04-13T03:57:58.082Z",
            "firstPublishedAt": "2021-02-06T05:59:37.794Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            },
            "publishedCounter": 4,
            "version": 18,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "59Erm8D1JuuD273aXNb65T"
              }
            }
          },
          "fields": {
            "title": {
              "en-US": "Avatar"
            },
            "description": {
              "en-US": "my photo"
            },
            "file": {
              "en-US": {
                "url": "//images.ctfassets.net/o4h6g9w3pooi/686aLBcjj1f47uFWxrepj6/3bd27e35028b8210ca732eb037f4b567/WhatsApp_Image_2019-06-25_at_12.17.04.jpeg",
                "details": {
                  "size": 108963,
                  "image": {
                    "width": 868,
                    "height": 1000
                  }
                },
                "fileName": "WhatsApp Image 2019-06-25 at 12.17.04.jpeg",
                "contentType": "image/jpeg"
              }
            }
          }
        }
  recorded_at: Tue, 19 Apr 2022 15:25:26 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/o4h6g9w3pooi/environments/master/assets/686aLBcjj1f47uFWxrepj6
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Avatar"},"description":{"en-US":"my photo"},"file":{"en-US":{"details":{"size":108963,"image":{"width":868,"height":1000}},"url":"//images.ctfassets.net/o4h6g9w3pooi/686aLBcjj1f47uFWxrepj6/3bd27e35028b8210ca732eb037f4b567/WhatsApp_Image_2019-06-25_at_12.17.04.jpeg","fileName":"WhatsApp
        Image 2019-06-25 at 12.17.04.jpeg","contentType":"image/jpeg"}}},"metadata":{"tags":[]}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/3.3.0; platform ruby/2.7.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '18'
      Version:
      - '18'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      Etag:
      - '"2102620886533987886"'
      X-Contentf[...]
