---
http_interactions:
- request:
    method: get
    uri: https://upload.contentful.com/spaces/facgnwwgj5fe/uploads/IUMb6WLjk9fjQ0WZfG971
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 91e58e8c0b1f53a9e9c41c1669822cdd
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sys": {
            "id": "IUMb6WLjk9fjQ0WZfG971",
            "type": "Upload",
            "createdAt": "2017-04-21T19:24:01.000Z",
            "expiresAt": "2017-04-23T00:00:00.000Z",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 21 Apr 2017 19:32:39 GMT
- request:
    method: delete
    uri: https://upload.contentful.com/spaces/facgnwwgj5fe/uploads/IUMb6WLjk9fjQ0WZfG971
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      X-Contentful-Request-Id:
      - 8f9c196947be6175b05ea6c34743d5ef
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 21 Apr 2017 19:32:40 GMT
recorded_with: VCR 3.0.3
