---
http_interactions:
- request:
    method: get
    uri: https://upload.contentful.com/spaces/facgnwwgj5fe/uploads/IUMb6WLjk9fjQ0WZfG971
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - ae625a4c50deb387dcf74541abf01785
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sys": {
            "id": "IUMb6WLjk9fjQ0WZfG971",
            "type": "Upload",
            "createdAt": "2017-04-21T19:24:01.000Z",
            "expiresAt": "2017-04-23T00:00:00.000Z",
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "facgnwwgj5fe"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "4SejVrWT96dvL9IV4Nb7sQ"
              }
            }
          }
        }
  recorded_at: Fri, 21 Apr 2017 19:32:04 GMT
recorded_with: VCR 3.0.3
