---
http_interactions:
- request:
    method: get
    uri: https://upload.contentful.com/spaces/facgnwwgj5fe/uploads/not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Request-Id:
      - 603120c101ac4f389bb7fdef94f292ff
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": "The resource could not be found."
        }
  recorded_at: Fri, 21 Apr 2017 19:30:33 GMT
recorded_with: VCR 3.0.3
