---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0371a0ce2c5fae216391411caf850eba"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-669023042
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Space",
            "id":"bjwq7b86vgmm",
            "version":93,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-21T13:21:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-26T21:04:49Z"
          },
          "name":"Integration Tests"
        }

  recorded_at: Tue, 26 Jan 2016 21:24:09 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9832307ed8bd540e40166f6a0b00e173"'
      X-Contentful-Request-Id:
      - content-api:6yMb1Bo4FyAuImqISak4Ue
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "name",
              "name": "TestCT",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Symbol",
                  "linkType": null,
                  "items": null,
                  "required": null,
                  "localized": null,
                  "validations": [],
                  "disabled": null
                }
              ],
              "sys": {
                "id": "testCt",
                "type": "ContentType",
                "createdAt": "2016-01-21T13:22:50.705Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "firstPublishedAt": "2016-01-21T13:22:51.140Z",
                "publishedCounter": 73,
                "publishedAt": "2016-01-26T21:03:35.369Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "publishedVersion": 147,
                "version": 148,
                "updatedAt": "2016-01-26T21:03:35.382Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "4SejVrWT96dvL9IV4Nb7sQ"
                  }
                }
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 21:24:10 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/public/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"1f726ad559b7a5cf82db6135bea8c132"'
      X-Contentful-Request-Id:
      - content-api:Vh5CpfPiOyoQKmqM6uSk8
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "testEntry"
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bjwq7b86vgmm"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "testCt"
                  }
                },
                "id": "2KFh3j824U8qQeaIs06gou",
                "revision": 39,
                "createdAt": "2016-01-25T17:26:29.082Z",
                "updatedAt": "2016-01-26T21:05:13.858Z"
              }
            }
          ]
        }
  recorded_at: Tue, 26 Jan 2016 21:24:10 GMT
recorded_with: VCR 2.9.3
