---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334321235
      Etag:
      - '"a964cca95dae35954c57c99f517f39e7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":6,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-30T11:56:51Z"
          },
          "name":"SaveNewName"}
  recorded_at: Wed, 30 Jul 2014 12:40:20 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"71f64f6265e724180ead7eeb9ac26c07"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "ContentTypeForSpace",
              "description": null,
              "fields": [],
              "sys": {
                "id": "1AZQOWKr2I8W2ugY0KiGEU",
                "type": "ContentType",
                "createdAt": "2014-07-30T11:17:14.857Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "version": 1,
                "updatedAt": "2014-07-30T11:17:14.861Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
   [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"529f9332be4d7910137275d2963c7a15"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "id": "4Rouux8SoUCKwkyCq2I0E0",
                "type": "Entry",
                "createdAt": "2014-07-30T12:37:49.078Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "5DSpuKrl04eMAGQoQckeIq"
                  }
                },
                "firstPublishedAt": "2014-07-30T12:39:05.868Z",
                "publishedCounter": 1,
                "publishedAt": "2014-07-30T12:39:05.868Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 26,
                "version": 27,
                "updatedAt": "2014-07-30T12:39:05.874Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              },
              "fields": {
                "name": {
                  "en-US": "Tom Handy"
                },
                "age": {
                  "en-US": 39
                },
                "city": {
                  "en-US": {
                    "lat": 52.1464575,
                    "lon": 21.05050319999998
                  }
                },
                "assets": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "4k8mYw2MzS6kYG0eGq0Yi0"
                      }
                    }
                  ]
                }
              }
            }
          ]
        }
  recorded_at: Wed, 30 Jul 2014 12:40:21 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/entries/4Rouux8SoUCKwkyCq2I0E0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5ea3c0815e23c1dde6372c2d21ec2[...]
