---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/sueu9bzev6qn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1337085311
      Etag:
      - '"20e726b10eb80dbe0f28772a8c710034"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"sueu9bzev6qn",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-08-08T12:51:20Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "updatedAt":"2014-08-08T12:51:20Z"
          },
          "name":"Breweries and Beers - debug"}
  recorded_at: Tue, 19 Aug 2014 07:14:05 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/sueu9bzev6qn/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"17f8148530cf6ae499a94f6cedf8e43a"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Brewery - debug",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "required": true
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text"
                },
                {
                  "id": "phone",
                  "name": "Phone",
                  "type": "Text"
                },
                {
                  "id": "city",
                  "name": "City",
                  "type": "Text"
                },
                {
                  "id": "code",
 [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/sueu9bzev6qn/entries?limit=2&skip=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"242dbc94158aec93e75eba7be65201cb"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 1,
          "limit": 2,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "beer12"
                },
                "description": {
                  "en-US": "beer1"
                },
                "abv": {
                  "en-US": 72
                },
                "brewery_id": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "3ualVj4mVa6a8ioSymky8O"
                    }
                  }
                }
              },
              "sys": {
                "id": "55avWNaDtSMGmm6I8ci0m0",
                "type": "Entry",
                "createdAt": "2014-08-08T12:51:52.323Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0fn5fOWn4WsKFyYla1gI5h"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "sueu9bzev6qn"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "CnHpfo8pEc4AyOsuAo0Oa"
                  }
                },
                "firstPublishedAt": "2014-08-08T12:51:57.642Z",
                "publishedCounter": 1,
                "publishedAt": "2014-08-08T12:51:57.642Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0fn5fOWn4WsKFyYla1gI5h"
                  }
                },
                "publishedVersion": 1,
                "version": 2,
                "updatedAt": "2014-08-08T12:51:57.647Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "0fn5fOWn4WsKFyYla1gI5h"
                  }
                }
              }
            },
            {
              "fields": {
                "name": {
                  "en-US": "beer13"
                },
                "description": {
 [...]
[...]
