---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1336822588
      Etag:
      - '"4c0ee33eddaabc719d0b81c1ef79fdc4"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"bfsvtul0c41g",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-18T06:51:53Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-18T06:51:53Z"
          },
          "name":"CMA_demo_rails_app"}
  recorded_at: Mon, 18 Aug 2014 10:36:07 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f8683c81df6a0f04b760d45a4691c0d1"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "displayField": "post_title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "post_title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4c2845dis5c"
                },
                {
                  "id": "post_author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "33civwoz2m8"
                },
                {
                  "id": "post_body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4j1mezqb11c"
                },
                {
                  "id": "post_title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "uiid": "2kxgld064g0"
                },
                {
                  "id": "post_second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true,
                  "uiid": "4enlmvd4ow0"
                },
                {
                  "id": "post_category_id",
                  "name": "Category",
                  "type": "Link",
                  "linkType": "Entry",
                  "uiid": "3nqbmf37k00"
                }
              ],
              "sys": {
                "id": "post_content_type",
                "type": "ContentType",
                "createdAt": "2014-08-18T06:52:03.545Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bfsvtul0c41g"
                  }
                },
                "firstPublishedAt": "2014-08-18T06:52:10.462Z",
                "publishedCounter": 1,
                "publishedAt": "2014-08-18T06:52:10.462Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 8,
                "version": 10,
                "updatedAt": "2014-08-18T06:52:58.404Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "displayField": "name",
              "name": "Category",
              "description": "",
              "fields": [
         [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/entries?limit=2&skip=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"f2c89a70a541675cf0c4979205a37bfd"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 1,
          "limit": 2,
          "items": [
            {
              "fields": {
                "name": {
                  "en-US": "Sport"
                },
                "description": {
                  "en-US": "Sport category"
                }
              },
              "sys": {
                "id": "5zZ8SnlKNiy2yEMOaecegy",
                "type": "Entry",
                "createdAt": "2014-08-18T07:14:23.057Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bfsvtul0c41g"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "category_content_type"
                  }
                },
                "firstPublishedAt": "2014-08-18T08:17:36.632Z",
                "publishedCounter": 1,
                "publishedAt": "2014-08-18T08:17:36.632Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
[...]
