---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/api_keys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"bf2ed3f9a14d5d32893e02c307f6214d"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 9e1-668687247
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Array"
          },
          "items":[
            {
              "sys":{
                "type":"ApiKey",
                "id":"6vbW35TjBTc8FyRTAuXZZe",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"bjwq7b86vgmm"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "createdAt":"2016-01-26T02:31:31Z",
                "updatedBy":{
                  "sys":{
                    "type":"Link",
                    "linkType":"User",
                    "id":"4SejVrWT96dvL9IV4Nb7sQ"
                  }
                },
                "updatedAt":"2016-01-26T02:31:31Z"
              },
              "name":"testKey",
              "description":null,
              "accessToken":"833ea085204398499ea424c8ad832f1ae1cac4d64e2cc56db774aff87ef20b33",
              "policies":[
                {
                  "effect":"allow",
                  "actions":"all"
                }
              ]
            },
            {
              "sys":{
                "type":"ApiKey",
                "id":"1hGMMHcRIRDQuZFQvANxny",
                "version":0,
                "space":{
                  "sys":{
                    "type":"Link",
                    "linkType":"Space",
                    "id":"bjwq7b86vgmm"
                  }
                },
                "createdBy":{
                  "sys":{
                    "type":"Link",
   [...]
