---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/api_keys/not_exist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 404 Not Found
      X-Contentful-Request-Id:
      - 9e1-668687226
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Error",
            "id":"NotFound"
          },
          "requestId":"9e1-668687226",
          "message":"The resource could not be found."
        }

  recorded_at: Tue, 26 Jan 2016 13:11:04 GMT
recorded_with: VCR 2.9.3
