---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bjwq7b86vgmm/api_keys/6vbW35TjBTc8FyRTAuXZZe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b2f774265427beffe1f5927d01069f0f"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 0b5-177692512
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"ApiKey",
            "id":"6vbW35TjBTc8FyRTAuXZZe",
            "version":0,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"bjwq7b86vgmm"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2016-01-26T02:31:31Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2016-01-26T02:31:31Z"
          },
          "name":"testKey",
          "description":null,
          "accessToken":"833ea085204398499ea424c8ad832f1ae1cac4d64e2cc56db774aff87ef20b33",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"6veHm0b2CK8lszllc91rCE"
            }
          }
        }

  recorded_at: Tue, 26 Jan 2016 13:11:05 GMT
recorded_with: VCR 2.9.3
