---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/api_keys/5rjsSfZUvHJnWBDkbcCsem
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"ee4064a28cc997b3d479492a6f74b26d"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 1a925fe051f4b74bbf151b50a14a91a6
      X-Iinfo:
      - 12-468673-468674 NNNN CT(114 114 0) RT(1554211796039 57) q(0 0 3 -1) r(4 4)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"test - updated",
          "description":"",
          "accessToken":"a53de8ab24af833c7352f2b3262591b40b4765c42a288e1f54d374620a7bd619",
          "policies":[
            {
              "effect":"allow",
              "actions":"all"
            }
          ],
          "sys":{
            "type":"ApiKey",
            "id":"5rjsSfZUvHJnWBDkbcCsem",
            "version":4,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"facgnwwgj5fe"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "createdAt":"2018-09-17T09:12:17Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"4SejVrWT96dvL9IV4Nb7sQ"
              }
            },
            "updatedAt":"2018-09-17T09:22:09Z"
          },
          "environments":[
            {
              "sys":{
                "id":"testing",
                "type":"Link",
                "linkType":"Environment"
              }
            },
            {
              "sys":{
                "id":"master",
                "type":"Link",
                "linkType":"Environment"
              }
            }
          ],
          "preview_api_key":{
            "sys":{
              "type":"Link",
              "linkType":"PreviewApiKey",
              "id":"5rkieiBVQBhmVPfgrfTxA6"
            }
          }
        }

  recorded_at: Tue, 02 Apr 2019 13:29:57 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/facgnwwgj5fe/api_keys/5rjsSfZUvHJnWBDkbcCsem
    body:
      encoding: UTF-8
      string: '{"name":"test - updated 2","description":"","environments":["#<Contentful::Management::Link:0x00007fa74690dba8>","#<Contentful::Management::Link:0x00007fa74690d018>"]}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.8.0; platform ruby/2.5.3; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '4'
      Version:
      - '4'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"82ea9f73bb585a5686f43861e04ee0a9"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35998'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-[...]
[...]
