---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1214880564
      Etag:
      - '"0a8b14491b1aa9ac8390d809c9834ebb"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"bfsvtul0c41g",
            "version":3,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-18T06:51:53Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-20T06:30:04Z"
          },
          "name":"Testing CMA GEM"}
  recorded_at: Wed, 20 Aug 2014 09:56:51 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c705196265cca3bdb86f1865e75b29c8"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "post_title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4e20dxdupz4"
                },
                {
                  "id": "post_author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2s5prxyzvgg"
                },
                {
                  "id": "post_body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true,
                  "uiid": "32vqnqsdreo"
                },
                {
                  "id": "post_title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "uiid": "3m8cw01d5vk"
                },
                {
                  "id": "post_second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true,
                  "uiid": "3gjxnofhkao"
                },
                {
                  "id": "post_category_id",
                  "name": "Category",
                  "type[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/entries?sys.id%5Bin%5D=2Hs5BaU56oUmUIySMQQMUS,2X3X7RHVzqsKGAgIEewgaS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0e267ee9d568bf6412760f0bb7cff58e"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "id": "2X3X7RHVzqsKGAgIEewgaS",
                "type": "Entry",
                "createdAt": "2014-08-20T06:30:11.792Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bfsvtul0c41g"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "category_content_type"
                  }
                },
                "firstPublishedAt": "2014-08-20T06:30:15.969Z",
                "publishedCounter": 2,
                "publishedAt": "2014-08-20T09:07:31.047Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 10,
                "version": 11,
                "updatedAt": "2014-08-20T09:07:31.052Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              },
              "fields": {
                "name": {
                  "en-US": "xxx"
                },
                "description": {
                  "en-US": "xxx"
                },
                "number": {
                  "en-US": 11
                }
              }
            },
            {
              "sys": {
                "id": "2Hs5BaU56oUmUIySMQQMUS",
                "type": "Entry",
                "createdAt": "2014-08-20T06:44:24.127Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "sp[...]
