---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1214889008
      Etag:
      - '"0a8b14491b1aa9ac8390d809c9834ebb"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"bfsvtul0c41g",
            "version":3,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-18T06:51:53Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-20T06:30:04Z"
          },
          "name":"Testing CMA GEM"}
  recorded_at: Wed, 20 Aug 2014 11:12:13 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"5bd84b888cd126f94c759dfdac5772d9"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "post_title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4e20dxdupz4"
                },
                {
                  "id": "post_author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2s5prxyzvgg"
                },
                {
                  "id": "post_body",
                  "name": "Body",
                  "type": "Text",
                  "localized": true,
                  "uiid": "32vqnqsdreo"
                },
                {
                  "id": "post_title_image",
                  "name": "Title Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true,
                  "uiid": "3m8cw01d5vk"
                },
                {
                  "id": "post_second_image",
                  "name": "Second Image",
                  "type": "Link",
                  "linkType": "Asset",
                  "localized": true,
                  "uiid": "3gjxnofhkao"
                },
                {
                  "id": "post_category_id",
                  "name": "Category",
                  "type[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/bfsvtul0c41g/environments/master/entries?sys.updatedAt%5Bgte%5D=2014-08-19T00:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"87684e44310ac8347af5997b8bb5b09c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 11,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "post_title": {
                  "en-US": "Updated title",
                  "de-DE": null,
                  "pl-PL": null
                },
                "post_author": {
                  "en-US": "Tom Dom",
                  "de-DE": null,
                  "pl-PL": null
                },
                "post_body": {
                  "en-US": "Letterpress sustainable authentic, disrupt semiotics actually kitsch. Direct trade Cosby sweater Austin, Pitchfork flexitarian small batch authentic roof party 8-bit YOLO literally Neutra pour-over American Apparel dreamcatcher. High Life distillery cliche YOLO, flexitarian four loko put a bird on it plaid Marfa Shoreditch seitan Echo Park bicycle rights Pinterest PBR. Drinking vinegar Banksy gastropub, stumptown occupy farm-to-table Blue Bottle tattooed Truffaut single-origin coffee iPhone locavore pug",
                  "de-DE": null,
                  "pl-PL": null
                },
                "post_title_image": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "5LCvaD9lfycy02uqkwyE8S"
                    }
                  },
                  "de-DE": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "5LCvaD9lfycy02uqkwyE8S"
                    }
                  },
                  "pl-PL": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "5LCvaD9lfycy02uqkwyE8S"
                    }
                  }
                },
                "post_second_image": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "5LCvaD9lfycy02uqkwyE8S"
                    }
                  },
                  "de-DE": null,
                  "pl-PL": null
                },
                "post_category_id": {
                  "en-US": null,
                  "de-DE": null,
                  "pl-PL": null
                },
                "xxasdasd": {
                  "en-US": false
                }
              },
              "sys": {
                "id": "2arjcjtY7ucC4AGeIOIkok",
                "type": "Entry",
                "createdAt": "2014-08-18T06:54:57.974Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bfsvtul0c41g"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "post_content_type"
                  }
                },
                "firstPublishedAt": "2014-08-18T07:06:32.551Z",
                "publishedCounter": 4,
                "publishedAt": "2014-08-20T06:59:00.415Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 13,
                "version": 14,
                "updatedAt": "2014-08-20T06:59:00.421Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "sys": {
                "id": "2Hs5BaU56oUmUIySMQQMUS",
                "type": "Entry",
                "createdAt": "2014-[...]
