---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/Qa8TW5nPWgiU4MA6AGYgq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"9c46cf2349d76d2e816769da6905827c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "id": "Qa8TW5nPWgiU4MA6AGYgq",
            "type": "Entry",
            "createdAt": "2014-08-04T07:20:11.797Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "4EnwylPOikyMGUIy8uQgQY"
              }
            },
            "firstPublishedAt": "2014-08-04T07:20:45.855Z",
            "publishedCounter": 1,
            "publishedAt": "2014-08-04T07:20:45.855Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 47,
            "version": 48,
            "updatedAt": "2014-08-04T07:20:45.858Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "fields": {
            "post_title": {
              "en-US": "Post title"
            },
            "post_body": {
              "en-US": "Post body"
            },
            "post_code": {
              "en-US": "XXXLS"
            },
            "post_created": {
              "en-US": "2014-08-20T11:20:00+02:00"
            }
          }
        }
  recorded_at: Mon, 04 Aug 2014 07:49:43 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/6xzrdCr33OMAeIYUgs6UKi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"43815bd6c3cd72389bbd86aeda07a923"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Blog",
          "description": "Blog's content type",
          "fields": [
            {
              "id": "blog_name",
              "name": "blog_name",
              "type": "Text",
              "uiid": "4j6nspw3bb4"
            },
            {
              "id": "blog_entries",
              "name": "blog_entries",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              },
              "localized": true,
              "uiid": "4fb61794mio"
            },
            {
              "name": "entries",
              "id": "entries",
              "type": "Array",
              "uiid": "4usq6g722gw",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              },
              "localized": true
            },
            {
              "name": "assets",
              "id": "assets",
              "type": "Array",
              "uiid": "4gdlrxqam[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"blog_name":{"en-US":"Piotrek"},"blog_entry":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"Qa8TW5nPWgiU4MA6AGYgq"}}},"blog_entries":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"Qa8TW5nPWgiU4MA6AGYgq"}},{"sys":{"type":"Link","linkType":"Entry","id":"Qa8TW5nPWgiU4MA6AGYgq"}},{"sys":{"type":"Link","linkType":"Entry","id":"Qa8TW5nPWgiU4MA6AGYgq"}}]}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 6xzrdCr33OMAeIYUgs6UKi
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ee33538d18a0d97d376e09aa75543519"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "blog_name": {
              "en-US": "Piotrek"
            },
            "blog_entry": {
              "en-US": {
[...]
