---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/4EnwylPOikyMGUIy8uQgQY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"c2a57fc17a5f97f3981effa679b1b087"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "post_title",
              "id": "post_title",
              "type": "Text",
              "uiid": "3y811ua4gsg",
              "localized": true
            },
            {
              "name": "post_body",
              "id": "post_body",
              "type": "Text",
              "uiid": "2wcy8gvpn28",
              "localized": true
            },
            {
              "name": "post_code",
              "id": "post_code",
              "type": "Symbol",
              "uiid": "42ip6svqlts",
              "localized": true
            },
            {
              "name": "post_created",
              "id": "post_created",
              "type": "Date",
              "uiid": "3qb1v37yebk"
            }
          ],
          "name": "Post",
          "sys": {
            "id": "4EnwylPOikyMGUIy8uQgQY",
            "type": "ContentType",
            "createdAt": "2014-07-31T08:46:36.678Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-31T08:51:14.655Z",
            "publishedCounter": 6,
            "publishedAt": "2014-08-01T09:23:05.507Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 214,
            "version": 215,
            "updatedAt": "2014-08-01T09:23:05.513Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "description": "Content with Post fields",
          "displayField": "postTitl"
        }
  recorded_at: Fri, 01 Aug 2014 09:48:27 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"post_title":{"en-US":"Company logo","pl":"Firmowe logo"},"post_body":{"en-US":"Story
        about Contentful...","pl":"Historia o Contentful..."}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 4EnwylPOikyMGUIy8uQgQY
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"b202fef30fa9d5b58bcf569bfbe5a57b"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "post_title": {
              "en-US": "Company logo",
              "pl": "Firmowe logo"
            },
            "post_body": {
              "en-US": "Story about Contentful...",
              "pl": "Historia o Contentful..."
            }
          },
          "sys": {
            "id": "7zhzMrHu6cEmmKygwwaYwG",
            "type": "Entry",
            "version": 1,
            "createdAt": "2014-08-01T09:48:27.948Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "4EnwylPOikyMGUIy8uQgQY"
              }
            },
            "updatedAt": "2014-08-01T09:48:27.948Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Fri, 01 Aug 2014 09:48:28 GMT
recorded_with: VCR 2.9.2
