---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334804846
      Etag:
      - '"d4c68b318e3d8e9caef04be009d6c4b7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":10,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-31T07:26:59Z"
          },
          "name":"BlogSpace"}
  recorded_at: Mon, 04 Aug 2014 08:52:44 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"abf27b38322e393a027223ddb527fdf5"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "name": "Author",
              "description": "Author content",
              "fields": [
                {
                  "id": "name",
                  "name": "name",
                  "type": "Text",
                  "localized": true,
                  "uiid": "3jp09h4ba4g"
                },
                {
                  "id": "age",
                  "name": "age",
                  "type": "Integer",
                  "localized": true,
                  "uiid": "43my1e8ybr4"
                },
                {
                  "id": "city",
                  "name": "city",
                  "type": "Location",
                  "uiid": "45uoowshekg"
                },
                {
                  "id": "assets",
                  [...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"3beec92f8c230a88658aeb8952090d7c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 8,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "id": "4Rouux8SoUCKwkyCq2I0E0",
                "type": "Entry",
                "createdAt": "2014-07-30T12:37:49.078Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "5DSpuKrl04eMAGQoQckeIq"
                  }
                },
                "firstPublishedAt": "2014-07-30T12:39:05.868Z",
                "publishedCounter": 6,
                "archivedAt": "2014-07-30T12:58:09.099Z",
                "archivedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "archivedVersion": 41,
                "version": 42,
                "updatedAt": "2014-07-30T12:58:09.101Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              },
              "fields": {
                "name": {
                  "en-US": "Tom Handy"
                },
                "age": {
                  "en-US": 39
                },
                "city": {
                  "en-US": {
                    "lat": 52.1464575,
                    "lon": 21.05050319999998
                  }
                },
                "assets": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "4k8mYw2MzS6kYG0eGq0Yi0"
                      }
                    }
                  ]
                }
              }
            },
            {
              "fields": {
                "name": {
                  "en-US": "Tom Handy",
                  "pl": "testName"
                },
                "age": {
                  "en-US": 20,
                  "pl": null
                },
                "bool": {
                  "en-US": false,
                  "pl": null
                },
                "birthday": {
                  "en-US": "2000-07-12T11:11:00+02:00",
                  "pl": null
                },
                "city": {
                  "en-US": {
                    "lat": 22.44,
                    "lon": 33.33
                  },
                  "pl": null
                },
                "asset": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Asset",
                      "id": "codequest_id_test_custom_id"
                    }
                  },
                  "pl": null
                },
                "assets": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "codequest_id_test_custom_id"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "codequest_id_test_custom_id"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Asset",
                        "id": "codequest_id_test_custom_id"
                      }
                    }
                  ],
                  "pl": null
                },
                "entry": {
                  "en-US": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "1d1QDYzeiyWmgqQYysae8u"
                    }
                  },
                  "pl": null
                },
                "entries": {
                  "en-US": [
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "1d1QDYzeiyWmgqQYysae8u"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "1d1QDYzeiyWmgqQYysae8u"
                      }
                    },
                    {
                      "sys": {
                        "type": "Link",
                        "linkType": "Entry",
                        "id": "1d1QDYzeiyWmgqQYysae8u"
                      }
                    }
                  ],
                  "pl": null
                },
                "symbols": {
                  "en-US": [
                    "PL",
                    "USD",
                    "XX"
                  ],
                  "pl": null
                }
              },
              "sys": {
                "id": "4o6ghKSmSko4i828YCYaEo",
                "type": "Entry",
                "createdAt": "2014-07-30T13:44:39.414Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "yr5m0jky5hsh"
                  }
                },
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "5DSpuKrl04eMAGQoQckeIq"
                  }
                },
                "firstPublishedAt": "2014-07-30T13:44:42.304Z",
                "publishedCounter": 2,
                "publishedAt": "2014-07-30T13:53:55.981Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 3,
                "version": 6,
                "updatedAt": "2014-07-30T14:11:08.611Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "fields": {
                "name": {
                  "en-US": "Tom Handy"
                },
                "age": {
      [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries/664EPJ6zHqAeMO6O0mGggU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"da2d1983e2de8c3e908bc94a34dd6d79"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "carMark": {
              "en-US": "Merc",
              "pl": "Mercedes"
            },
            "carCityPlate": {
              "en-US": "en",
              "pl": "bia"
            },
            "carCapacity": {
              "en-US": 2.5,
              "pl": 2.5
            }
          },
          "sys": {
            "id": "664EPJ6zHqAeMO6O0mGggU",
            "type": "Entry",
            "createdAt": "2014-08-01T11:25:33.437Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",[...]
[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/6xzrdCr33OMAeIYUgs6UKi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"059[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"blog_name":{"en-US":"Contentful en","pl":"Contentful pl"},"blog_entries":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"664EPJ6zHqAeMO6O0mGggU"}},{"sys":{"type":"Link","linkType":"Entry","id":"664EPJ6zHqAeMO6O0mGggU"}}],"pl":[{"sys":{"type":"Link","linkType":"Entry","id":"664EPJ6zHqAeMO6O0mGggU"}},{"sys":{"type":"Link","linkType":"Entry","id":"664EPJ6zHqAeMO6O0mGggU"}}]},"blog_entry":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"664EPJ6zHqAeMO6O0mGggU"}},"pl":{"sys":{"type":"Link","linkType":"Entry","id":"664EPJ6zHqAeMO6O0mGggU"}}}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 6xzrdCr33OMAeIYUgs6UKi
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"ff8369053da40f01da7ba311b940fcaf"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "blog_name": {
              "en-US": "Contentful en",
              "pl": "Contentful pl"
            },
          [...]
