---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/4esHTHIVgc0uWkiwGwOsa6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"81ae37b1bcb898886f970354c7b22845"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": [
            {
              "name": "car_mark",
              "id": "carMark",
              "type": "Text",
              "uiid": "2tak96o94ow",
              "localized": true
            },
            {
              "name": "car_city_plate",
              "id": "carCityPlate",
              "type": "Symbol",
              "uiid": "4gqwj4k6k8w",
              "localized": true
            },
            {
              "name": "car_capacity",
              "id": "carCapacity",
              "type": "Number",
              "uiid": "2ms8n1w14ao",
              "localized": true
            },
            {
              "name": "car_photo",
              "id": "carPhoto",
              "type": "Link",
              "uiid": "33wtzyo9e68",
              "linkType": "Asset",
              "localized": true
            }
          ],
          "name": "Car",
          "sys": {
            "id": "4esHTHIVgc0uWkiwGwOsa6",
            "type": "ContentType",
            "createdAt": "2014-08-01T10:30:19.224Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-08-01T10:32:26.083Z",
            "publishedCounter": 2,
            "publishedAt": "2014-08-01T11:14:19.463Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 85,
            "version": 86,
            "updatedAt": "2014-08-01T11:14:19.470Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          },
          "description": "Car content type",
          "displayField": "carMark"
        }
  recorded_at: Fri, 01 Aug 2014 11:25:32 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"carMark":{"en-US":"Mercedes Benz","pl":"Mercedes"},"carCityPlate":{"en-US":"en","pl":"bia"},"carCapacity":{"en-US":2.5,"pl":2.5}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 4esHTHIVgc0uWkiwGwOsa6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"355932a6b6aa069eb051263a9f1ea52c"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "carMark": {
              "en-US": "Mercedes Benz",
              "pl": "Mercedes"
            },
            "carCityPlate": {
              "en-US": "en",
              "pl": "bia"
            },
            "carCapacity": {
              "en-US": 2.5,
              "pl": 2.5
            }
          },
          "sys": {
            "id": "664EPJ6zHqAeMO6O0mGggU",
            "type": "Entry",
            "version": 1,
            "createdAt": "2014-08-01T11:25:33.437Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "4esHTHIVgc0uWkiwGwOsa6"
              }
            },
            "updatedAt": "2014-08-01T11:25:33.437Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Fri, 01 Aug 2014 11:25:33 GMT
recorded_with: VCR 2.9.2
