---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types/5DSpuKrl04eMAGQoQckeIq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"0d232e3ca0d9eea2582d69148be0df3b"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "name": "Author",
          "description": "Author content",
          "fields": [
            {
              "id": "name",
              "name": "name",
              "type": "Text",
              "localized": true,
              "uiid": "3jp09h4ba4g"
            },
            {
              "id": "age",
              "name": "age",
              "type": "Integer",
              "localized": true,
              "uiid": "43my1e8ybr4"
            },
            {
              "id": "city",
              "name": "city",
              "type": "Location",
              "uiid": "45uoowshekg"
            },
            {
              "id": "assets",
              "name": "assets",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Asset"
              },
              "localized": true,
              "uiid": "4p8d3di8b28"
            },
            {
              "id": "entries",
              "name": "entries",
              "type": "Array",
              "items": {
                "type": "Link",
                "linkType": "Entry"
              },
              "uiid": "4t2r2mpmwow"
            },
            {
              "id": "entry",
              "name": "entry",
              "type": "Link",
              "linkType": "Entry",
              "uiid": "2u2x6csxtkw"
            },
            {
              "id": "asset",
              "name": "asset",
              "type": "Link",
              "linkType": "Asset",
              "uiid": "3pktxccvjeo"
            },
            {
              "id": "bool",
              "name": "bool",
              "type": "Boolean",
              "localized": true,
              "uiid": "4p882yc9728"
            },
            {
              "id": "symbols",
              "name": "symbols",
              "type": "Array",
              "items": {
                "type": "Symbol"
              },
              "uiid": "2mcqj4tdczk"
            },
            {
              "id": "birthday",
              "name": "birthday",
              "type": "Date",
              "uiid": "3h1dkdm8we8"
            },
            {
              "id": "symbol",
              "name": "Symbol",
              "type": "Symbol",
              "required": true,
              "localized": true,
              "uiid": "30rwyn42a68"
            },
            {
              "id": "eye_color",
              "name": "Eyes color",
              "type": "Text",
              "uiid": "46h9q3btwcg"
            }
          ],
          "sys": {
            "id": "5DSpuKrl04eMAGQoQckeIq",
            "type": "ContentType",
            "createdAt": "2014-07-30T12:35:01.110Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "firstPublishedAt": "2014-07-30T12:37:42.035Z",
            "publishedCounter": 9,
            "publishedAt": "2014-07-31T10:21:36.870Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 206,
            "version": 213,
            "updatedAt": "2014-07-31T13:23:46.624Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Fri, 01 Aug 2014 07:23:13 GMT
- request:
    method: post
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Piotrek"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5DSpuKrl04eMAGQoQckeIq
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"6a0369645597490dc65f0569d63695be"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Piotrek"
            }
          },
          "sys": {
            "id": "5WzsRfbe9OgKQaKeA4CQ0a",
            "type": "Entry",
            "version": 1,
            "createdAt": "2014-08-01T07:23:13.802Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "yr5m0jky5hsh"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "5DSpuKrl04eMAGQoQckeIq"
              }
            },
            "updatedAt": "2014-08-01T07:23:13.802Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "0fn5fOWn4WsKFyYla1gI5h"
              }
            }
          }
        }
  recorded_at: Fri, 01 Aug 2014 07:23:13 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5DSpuKrl04eMAGQoQckeIq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - 85f-1334592145
      Etag:
      - '"d4c68b318e3d8e9caef04be009d6c4b7"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"yr5m0jky5hsh",
            "version":10,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"0fn5fOWn4WsKFyYla1gI5h"
              }
            },
            "createdAt":"2014-07-30T07:46:19Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-07-31T07:26:59Z"
          },
          "name":"BlogSpace"}
  recorded_at: Fri, 01 Aug 2014 07:23:14 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/yr5m0jky5hsh/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - 5DSpuKrl04eMAGQoQckeIq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"34168171f28b21529a344f25b5461276"'
      "^access-Control-Expose-Headers":
      - Etag
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "post_title",
                  "id": "post_title",
                  "type": "Text",
                  "uiid": "3y811ua4gsg",
                  "localized": true
                },
                {
                  "name": "post_body",
                  "id": "post_body",
                  "type": "Text",
                  "uiid": "2wcy8gvpn28",
                  "localized": true
  [...]
[...]
