---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"35407b8a88882fe5717a4701910f6ce7"'
      Status:
      - 200 OK
      X-Contentful-Request-Id:
      - f1c-1375556194
    body:
      encoding: UTF-8
      string: |
        {
          "sys":{
            "type":"Space",
            "id":"v2umtz8ths9v",
            "version":1,
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "createdAt":"2014-08-21T13:32:11Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "updatedAt":"2014-08-21T13:32:12Z"
          },
          "name":"CMA Demo Rails App"}
  recorded_at: Tue, 02 Sep 2014 08:17:48 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"da68e0b0911d1f09a5959ee568e6af90"'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "testowe",
                  "id": "testowe",
                  "type": "Link",
                  "uiid": "3q907mcb4lc",
                  "linkType": "Asset",
                  "required": true,
                  "localized": true
                }
              ],
              "name": "test",
              "sys": {
                "id": "26eLfV14SIOeQkse44q4sw",
                "type": "ContentType",
                "createdAt": "2014-08-22T12:57:43.618Z",
                "createdBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "v2umtz8ths9v"
                  }
                },
                "firstPublishedAt": "2014-08-22T12:57:53.093Z",
                "publishedCounter": 2,
                "publishedAt": "2014-08-22T12:57:58.628Z",
                "publishedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                },
                "publishedVersion": 13,
                "version": 14,
                "updatedAt": "2014-08-22T12:57:58.633Z",
                "updatedBy": {
                  "sys": {
                    "type": "Link",
                    "linkType": "User",
                    "id": "1E7acJL8I5XUXAMHQt9Grs"
                  }
                }
              }
            },
            {
              "displayField": "title",
              "name": "Post",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Text",
                  "localized": true,
                  "uiid": "2sdir2f8kcg"
                },
                {
                  "id": "author",
                  "name": "Author",
                  "type": "Text",
                  "localized": true,
                  "uiid": "4x1018907pc"
                },
                {
                 [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/entries/2dEkgsQRnSW2QuW4AMaa86
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a7b89987eefc47f65b3e43defb6c762f"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Contentful EN",
              "de-DE": "Contentful DE",
              "pl-PL": "Contentful PL"
            },
            "description": {
              "en-US": "Description EN"
            }
          },
          "sys": {
            "id": "2dEkgsQRnSW2QuW4AMaa86",
            "type": "Entry",
            "createdAt": "2014-09-02T07:35:22.045Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "v2umtz8ths9v"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "category_content_type"
              }
            },
            "firstPublishedAt": "2014-09-02T07:35:30.549Z",
            "publishedCounter": 1,
            "publishedAt": "2014-09-02T07:35:30.549Z",
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            },
            "publishedVersion": 14,
            "version": 17,
            "updatedAt": "2014-09-02T08:15:33.662Z",
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1E7acJL8I5XUXAMHQt9Grs"
              }
            }
          }
        }
  recorded_at: Tue, 02 Sep 2014 08:17:50 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/v2umtz8ths9v/environments/master/entries/2dEkgsQRnSW2QuW4AMaa86
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Contentful EN up","de-DE":"Contentful DE
        up","pl-PL":"Contentful PL up"},"description":{"en-US":"Description EN up"}}}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '17'
  response:
    status:
      code: 200
      message: OK
    headers:
      "^access-Control-Expose-Headers":
      - Etag
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Etag:
      - '"a12c023d89243e0b17cc9ce12eab9344"'
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": {
              "en-US": "Contentful EN up",
              "de-DE": "Contentful DE up",
              "pl-PL": "Contentful PL up"
 [...]
